<section class="row pull-right" style="padding: 0; margin: 0;">
	<div class="row btn-group editor_btn_group">

		<div class=" col-xs-5  col-sm-5 ">
			<button type="button" class=" btn btn-primary " onclick="javascript: backendCategory.onSubmit() ; return false; " role="button" style=""><span class="btn-label"><i
					class="fa fa-save"></i></span> &nbsp;Save
			</button>&nbsp;&nbsp;
		</div>
		<div class="button col-xs-1  col-sm-1 left " style="margin: 0; margin-top: 10px;padding: 0;">
			<input type="checkbox" value="1" id="cbx_is_reopen" checked="">
			<br>
			<i class="fa fa-question-circle" data-toggle="tooltip" data-html="true" data-placement="top" title="" data-original-title="Check to reopen this page after saving">
			</i>

		</div>
		<div class=" col-xs-6  col-sm-6 ">
			<button type="button" class=" btn btn-inverse  " onclick="javascript:document.location='http://local-lprods.com/admin/category/index?page=1'" role="button"
			        style="margin-right:50px;"><span class="btn-label"><i class="fa fa-arrows-alt"></i></span> &nbsp;Cancel
			</button>&nbsp;&nbsp;
		</div>


	</div>
</section>