Hello,
In my vuejs 2.5 application I set value for accessTypeDescriptionArray and access_type vars
        mounted() {
            this.accessTypeDescriptionArray= [
                {'team_leader' : 'Team leader opened the task of other member of his team : can edit it only in K=>Checking status' },
                {'owner_team_leader' : 'Team leader opened his own task : can edit it in  A=>Assigning, P => Processing(accepted), K=>Checking status' }
	            ];
			...

			access_type= 'team_leader';
        },  // mounted() {


        data() {
            return {
                access_type: '-',
                accessTypeDescriptionArray:[],
				...


and in tedmplate I want to show value of accessTypeDescriptionArray for current access_type, like
		<div v-if="accessTypeDescriptionArray[access_type]">
			{{ accessTypeDescriptionArray[access_type] }}
		</div>

But that does not work properly as I expected...

Which is the right way ?

Thanks!