<template>
	<section>

		<div class="panel panel-default">

			<editor-header :show_loading_image="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('event')" :header_title=header_title
			               :message=message></editor-header>

			<section class="panel-body white-box text-primary">
				<form @submit.prevent="validateBeforeSubmit" class="form-horizontal">

					<div class="row" v-if="!is_insert">
						<div class="col-xs-12 form-group">
							<label class="col-xs-12 col-sm-4 control-label">ID</label>
							<div class="col-xs-12 col-sm-8">
								<input type="text" v-model="event.id" class="form-control integer_input" readonly>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-xs-12 form-group">
							<label class="col-xs-12 col-sm-4 control-label" for="name">Name<span class="required"> * </span></label>
							<div class="col-xs-12 col-sm-8">
								<input v-validate="'required|max:255'" v-model="event.name"
								       :class="{ 'form-control':true, 'input': true, 'text-danger': vueErrorsList.has('name') }" name="name"
								       type="text" placeholder="Enter unique name of event">
								<span v-show="vueErrorsList.has('name')" class="text-danger">{{ vueErrorsList.first('name') }}</span>
							</div>
						</div>
					</div>





					<div class="row">
						<div class="col-xs-12 form-group">
							<label class="col-xs-12 col-sm-4 control-label" for="date_start">Date start<span class="required"> * </span></label>
							<div class="col-xs-12 col-sm-8 p-t-10">
								<div class="input_with_btn_at_right">
									<date-picker v-model="event.at_time" :config="datePickerConfigArray" v-validate="'required'"></date-picker>
										<el-tag  v-bind:style="getIsPastColor(event.at_time_is_past)" >&nbsp;&nbsp;&nbsp;&nbsp;</el-tag>
									<span v-show="vueErrorsList.has('date_start')" class="text-danger">{{ vueErrorsList.first('date_start') }}</span>
								</div>
							</div>
						</div>
					</div>






					<!--'duration'         => 'required|integer|min:1|max:1200',-->
					<div class="row">
						<div class="col-xs-12 form-group">
							<label class="col-xs-12 col-sm-4 control-label" for="duration">Duration<span class="required"> * </span></label>
							<div class="col-xs-12 col-sm-8">
								<input v-validate="'required|numeric|min:1|max:1200'" v-model="event.duration"
								       :class="{ 'form-control':true, 'input': true, 'text-danger': vueErrorsList.has('duration') }" name="duration"
								       type="text" placeholder="Enter duration(in minutes) of event">
								<span v-show="vueErrorsList.has('duration')" class="text-danger">{{ vueErrorsList.first('duration') }}</span>
							</div>
						</div>
					</div>



					<div class="row">
						<div class="col-xs-12 form-group">
							<label class="col-xs-12 col-sm-4 control-label" for="access">Access <span class="required"> * </span></label>
							<div class="col-xs-12 col-sm-8">
								<div class="input_with_btn_at_right">
									<select id="access" name="access" v-validate="'required'" :class="{ 'form-control':true, 'errors': vueErrorsList.has('access') }"
									        v-model="event.access">
										<option value=""> -Select access- </option>
										<option v-for="nextAccess, index in eventAccessesSelectionList" v-bind:value="nextAccess.key">{{ nextAccess.label }}
										</option>
									</select>
								</div>
								<span v-show="vueErrorsList.has('access')" class="text-danger">{{ vueErrorsList.first('access') }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 form-group">
							tasksSelectionList::{{ tasksSelectionList }};
							<label class="col-xs-12 col-sm-4 control-label" for="task_id">Task <small class="form-text text-muted">Optional</small></label>
							<div class="col-xs-12 col-sm-8">
								<select id="task_id" name="task_id" :class="{ 'form-control':true, 'errors': vueErrorsList.has('task_id') }"
								        v-model="event.task_id">
									<option v-for="nextTask, index in tasksSelectionList" v-bind:value="nextTask.key">{{ nextTask.label }}
									</option>
								</select>
								<span v-show="vueErrorsList.has('task_id')" class="text-danger">{{ vueErrorsList.first('task_id') }}</span>
							</div>

						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 form-group">
							<label class="col-xs-12 col-sm-4 control-label" for="description">Description<span class="required"> * </span>
								<br><small	style="font-weight: normal">Markdown format</small>
							</label>
							<div class="col-xs-12 col-sm-8">
								<markdown-editor :content="event.description" :editor_type="'event'" :unique_id="event_id"
								                 :how_short_help_text=true :show_full_help_link=true></markdown-editor>
							</div>
						</div>
					</div>




					<div class="row">
						<div class="col-xs-12 form-group"  >

							<label class="col-xs-12 col-sm-4 control-label">
								Participants
								<span class="required"> * </span>
								<a data-toggle="a_link" v-on:click="toggleSelectedActiveUsersBlockIsVisible" >
									<i class="indicator glyphicon glyphicon-hand-down" style="font-size:14px;" ></i>
								</a>
							</label>

							<!--<div class="col-xs-12 col-sm-8 collapse out " id="toggle_selected_active_users_count_block">-->
							<div class="col-xs-12 col-sm-8 p-t-10">
								Selected {{ selected_active_users_count }} from {{ activeUsersSelectionArray.length }} user(s) in task

								<div :class="{ 'collapse row ':true, 'in': users_in_event_visible , 'out': !users_in_event_visible }" >

									<fieldset >
										<legend>Members</legend>

										<small class="form-text text-muted p-10">
											You can select only one user as leader of this task.
										</small>

										<small v-if="errorsList.eventAssignedForUsersArray" class="text-danger">{{ errorsList.eventAssignedForUsersArray[0] }}</small>

										<div v-for="nextActiveUser, index in activeUsersSelectionArray" v-bind:id="nextActiveUser.id" class="col-xs-12 ">
											<div class="row p-20">
												<label class="col-xs-12 col-sm-4 control-label text-right">{{ nextActiveUser.name }} : </label>
												<!--nextActiveUser.task_assigned_status::{{ nextActiveUser.task_assigned_status }};;nextActiveUser.id::{{ nextActiveUser.id }};;-->
												<div class="col-xs-12 col-sm-4">
													<select v-bind:id="'task_assigned_to_user_status_' + nextActiveUser.id" class="form-control task_assigned_to_user"
													        v-model="nextActiveUser.task_assigned_status">
														<option value=""> Select participation </option>
														<option v-for="nextTaskAssignedToUsersStatus, index in taskAssignedToUsersStatusSelectionList"
														        v-bind:value="nextTaskAssignedToUsersStatus.key">{{ nextTaskAssignedToUsersStatus.label }}
														</option>
													</select>
												</div>

												<div class="col-xs-12 col-sm-4">
													<select v-bind:id="'task_assigned_to_user_task_type_' + nextActiveUser.id" class="form-control task_assigned_to_user_task_type"
													        v-model="nextActiveUser.task_assigned_user_task_type_id">
														<option value=""> Select task type </option>
														<option v-for="nextUserTaskType, index in userTaskTypesSelectionList" v-bind:value="nextUserTaskType.key">
															{{ nextUserTaskType.label }}
														</option>
													</select>
												</div>

												<div class="col-xs-12 m-t-5">
													<label class="col-xs-12 col-sm-4 control-label text-right">Description<small class="form-text text-muted"> Optional</small></label>
													<div class="col-xs-12 col-sm-8">
                   								<textarea v-bind:id="'task_assigned_to_user_description_' + nextActiveUser.id" rows="4" class="form-control"
							                              placeholder="Enter description for the selected user..." v-model="nextActiveUser.task_assigned_description"></textarea>
													</div>
												</div>

											</div>
										</div>
									</fieldset>

								</div>
							</div>

						</div>
					</div>




					<div class="row" v-if="!is_insert">
						<div class="col-xs-12 form-group">
							<label class="col-xs-12 col-sm-4 control-label">Created at</label>
							<div class="col-xs-12 col-sm-8">
								<input type="text" v-model="event.created_at_label" class="form-control" readonly>
							</div>
						</div>
					</div>

					<div class="row pull-right">
						<editor-buttons :submit_label="submit_label" cancel_label="Cancel"  :cancel_link="'#/admin/events'" :is_page_updating="is_page_updating"></editor-buttons>
					</div>

				</form>
			</section>
		</div>
	</section>
</template>


<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';

    import datePicker from 'vue-bootstrap-datetimepicker';  // https://github.com/ankurk91/vue-bootstrap-datetimepicker
//    import 'bootstrap/dist/css/bootstrap.css';
//    import 'eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css';
    Vue.component( 'markdown-editor',  require( '../../components/lib/MarkdownEditor.vue') );
    Vue.component( 'editor-header',  require( '../../components/lib/EditorHeader.vue') );
    Vue.component( 'editor-buttons',  require( '../../components/lib/EditorButtons.vue') );

    export default {
        created() {
//            alert( "created ::"+var_dump(13) )
            if ( this.$route.params.id == "new" ) {
                this.is_insert = true
                this.event_id= "new"
                this.submit_label= "Add"
            } else {
                this.event_id= this.$route.params.id
            }

            bus.$on('MarkdownEditorModifiedEvent', (editor_content, editor_type, unique_id) => {
//                if (editor_type == 'event' && unique_id == this.event.id) {
                if ( editor_type == 'event' && ( ( unique_id == this.event.id  && !this.is_insert ) || ( unique_id == "new" && this.is_insert ) ) ) {
                    this.event.description = editor_content;
                }
            })
//            alert( "window.CURRENT_LANG::"+(window.CURRENT_LANG) )
            this.$validator.localize(window.CURRENT_LANG, {
                attributes: {
                    event_content : 'description',
                    task_id  : ' task',
                }
            });

        },

        mixins: [appMixin],
        components: {
            datePicker
        },
	    
        mounted() {
            if ( !this.is_insert ) { // retrieve row for editing
                this.loadEvent();
            }
            this.loadEventDictionaries();
        }, // mounted() {


        data: function () {
            return {
                is_page_loaded: false,
                is_page_updating: false,
                is_insert:false,
                submit_label:"Update",
                event_id: null,
                event: {
                    name: '',
                    description: '',
                },
                eventAccessesSelectionList : [],
                tasksSelectionList : [],
                message: '',
                errorsList:[],
                datePickerConfigArray: {
                    format: 'YYYY-MM-DD hh:mm',
                    useCurrent: false,
                },
                activeUsersSelectionArray: [],
                eventAssignedForUsersArray: [],
                users_in_event_visible:false

            }
        }, // data: function () {

        computed: {

            selected_active_users_count() {
                var ret= 0
	            return ret;
                this.activeUsersSelectionArray.map((activeUsersSelection,index) => {
                    if ( activeUsersSelection.task_assigned_status == 'M' || activeUsersSelection.task_assigned_status == 'L' ) {
                        ret++;
                    }
                });
                return ret
            },

            header_title: function () {
                if ( !this.is_insert ) return "Edit event";
                return "Add event";
            },

        }, // computed: {


        methods: {

            loadEvent() {
                this.is_page_loaded = false
                axios.get(window.API_VERSION_LINK + '/events/' + this.$route.params.id).then((response) => {
                    this.is_page_loaded = true
                    this.event = response.data.event;
                }).catch((error) => {
                    if ( error.response.data.error_code == 11 ) {
                        this.showPopupMessage(error.response.data.message, 'error');
                        this.$router.push({path: '/'});
                    }
                    this.is_page_loaded = true
                    this.showRunTimeError(error, app);
                });
            }, // loadEvent() {

            loadEventDictionaries() {
                this.is_page_loaded = false

                axios.get(window.API_VERSION_LINK + '/events_dictionaries/' + this.$route.params.id ).then((response) => {
                    this.is_page_loaded = true
                    this.eventAccessesSelectionList = response.data.eventAccessesSelectionList;
                    this.tasksSelectionList = response.data.tasksSelectionList;
//                    this.activeUsersSelectionArray = response.data.activeUsersSelectionArray;
                    this.eventAssignedForUsersArray = response.data.eventAssignedForUsersArray;
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, // loadEventDictionaries() {


            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.updateEvent()
                    } else {
                        this.showPopupMessage('Error ' + ( this.is_insert? 'adding' : 'updating' ) + ' event. ', 'error');
                    }
                })
            }, // validateBeforeSubmit() {

            updateEvent() {
                this.is_page_updating = true
//	            alert( "this.is_insert::"+(this.is_insert) )
                axios({
                    method: ( this.is_insert ? 'post' : 'patch' ),
                    url: window.API_VERSION_LINK + '/events' + ( !this.is_insert ? "/"+this.event_id : ''),
                    data: this.event,
                }).then((response) => {
                    this.is_page_updating = false
                    this.$router.push({path: '/admin/events'});
                    this.showPopupMessage('Event ' + ( this.is_insert? 'added' : 'updated' ) + ' successfully. ', 'success');
                }).catch((error) => {
                    this.$setLaravelValidationErrorsFromResponse(error.response.data);
                    this.is_page_updating = false
                    this.showRunTimeError(error, this);
                    this.showPopupMessage('Error ' + ( this.is_insert? 'adding' : 'updating' ) + ' event. ', 'error');
                });

            }, // updateEvent() {

            toggleSelectedActiveUsersBlockIsVisible() {
                this.users_in_event_visible= !this.users_in_event_visible
            },

        } // methods: {

    }
</script>
