<template>
	<section>
		<div class="form-group pull-right">
			<router-link :to="{ name: 'editEvent', params: { id: 'new' } }" class="btn btn-success">Add</router-link>
		</div>

		<div class="panel panel-default">

			<listing-header :show_loading_image=is_page_loaded :rows_count=rows_count :current_page=current_page :itemsList="eventsList"
			                :header_icon="getHeaderIcon('event')" :header_title=header_title
			                :message=message :item_title="'row'"></listing-header>

			<section class="panel-body white-box text-primary">

				<div v-if="is_page_loaded && eventsList.length">
					<table class="table table-striped text-primary">
						<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Access</th>
							<th>At time</th>
							<th>Task</th>
							<th>Description</th>
							<th>Created at</th>
							<th width="100">&nbsp;</th>
						</tr>
						</thead>
						<tbody>
						<tr v-for="nextEvent, index in eventsList">
							<td class="integer_cell">{{ nextEvent.id }}</td>
							<td>
								<span v-bind:style="getIsPastColor(nextEvent.at_time_is_past)">&nbsp;{{ nextEvent.name }}</span>
								<span class="text-muted">
									<small> ( Has {{ nextEvent.event_users_count }} participants )</small>
								</span>
							</td>
							<td>{{ nextEvent.access_label }}</td>
							<td>
								{{ nextEvent.at_time_label }}
								<small> ( {{ nextEvent.duration }} min )</small>
							</td>
							<td>{{ nextEvent.task_name }}</td>
							<td>{{ concatStr( nextEvent.description ) }}</td>
							<td class="datetime_cell">{{ nextEvent.created_at_label }}</td>

							<td>
								<router-link :to="{name: 'editEvent', params: {id: nextEvent.id}}">
									<i class="glyphicon glyphicon-edit m-r-20" title="Edit event"></i>
								</router-link>
								<a href="#" v-on:click="removeEvent(nextEvent.id, nextEvent.name, index)">
									<i class="glyphicon glyphicon-remove" title="Delete event"></i>
								</a>
							</td>
						</tr>

						</tbody>
					</table>

					<listing-pagination	:current="current_page"	:total="rows_count"	:items_per_page="per_page" :show_next_prior_buttons=false @page-changed="loadEventList"	></listing-pagination>

				</div>

			</section>
		</div>
	</section>
</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';
    Vue.component( 'listing-pagination',  require( '../../components/lib/ListingPagination.vue') );
    Vue.component( 'listing-header',  require( '../../components/lib/ListingHeader.vue') );

    export default {
        data: function () {
            return {
                header_title : 'Events',
                is_page_loaded:false,
                eventsList: [],
                message:'',
                rows_count: 0,
                per_page: 10,
                current_page: 1,
            }
        }, // data: function () {

        mixins : [appMixin],

        created() {
        },

        mounted() {
            this.loadEventList()
        }, // mounted() {

        methods: {

            loadEventList() {
                this.message = '';
                this.is_page_loaded = false

                axios.get( window.API_VERSION_LINK + '/events' ).then((response) => {
                    this.is_page_loaded = true
                    this.eventsList = response.data.eventsList;
                    this.rows_count = response.data.rows_count;
                    this.current_page = page
                    this.per_page = response.data.per_page
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });

            }, // loadEventList(page) {

            removeEvent(id, event_name, index) {
                this.message = '';
                this.confirmMsg( "Do you want to delete '" + event_name + "' event ?",  () => {
                    axios.delete(window.API_VERSION_LINK + '/events/' + id ).then((response) => {
                        this.loadEventList()
                        this.showPopupMessage('Event deleted successfully. ', 'success');
                    }).catch((error) => {
                        this.showPopupMessage('Error deleting event. ', 'error');
                        this.showRunTimeError(error, this);
                    });
                });
            }, //removeEvent(id, event_name, index) {

        } // methods: {
    }


    function var_dump (oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }
</script>
