<template>
	<section>



		<div class="row p-20">
			<div class="col-md-12 col-lg-12">
				<div class="profile_preview">
					<div class="col-sm-12" v-if="user">

						<h2>
							<span><img :src="user_profile_thumbnail_image_url"></span>&nbsp;
							{{ user.first_name }} {{ user.last_name }} ( {{ user.name }} )
						</h2>
						<div v-if="users_groups_text">
							<h5 v-html="'Member of groups : '+users_groups_text"></h5>
						</div>
						<div class="col-xs-12 col-sm-6">
							<p><strong>About: </strong> Web Designer / UI </p>
							<p><strong>Email: </strong> {{ user.email }}</p>
							<p><strong>Status: </strong> {{ user.status_label }}</p>
							<p><strong>Phone: </strong> {{ user.phone }}</p>

							<p><strong>Website: </strong> {{ user.website }}</p>
							<p><strong>
								Contract start: </strong> {{ user.contract_start_label }}
								( <timeago :since="user.contract_start" :auto-update="60"></timeago> )
							</p>
							<p><strong>
								Contract end: </strong> {{ user.contract_end_label }}
								( <timeago :since="user.contract_end" :auto-update="60"></timeago> )
							</p>
							<p><strong>Created at: </strong> {{ user.created_at_label }}</p>
							<!--<p><strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. </p>-->
						</div>

						<div class="col-xs-12 col-sm-6">
							<h4>Skills: </h4>
							<table>
							<tr v-for="nextUserSkill, index in userSkillsList" >
								<td class="p-10">
									<span v-if="nextUserSkill.rating > 6" >
										<el-tag type="success">{{ nextUserSkill.skill }}</el-tag>
									</span>

									<span v-if="nextUserSkill.rating <= 5 && nextUserSkill.rating > 2" >
										<el-tag type="info">{{ nextUserSkill.skill }}</el-tag>
									</span>

									<span v-if="nextUserSkill.rating <= 2  && nextUserSkill.rating > 0 " >
										<el-tag type="warning">{{ nextUserSkill.skill }}</el-tag>
									</span>

									<span v-if="nextUserSkill.rating == 0 " >
										<el-tag type="danger">{{ nextUserSkill.skill }}</el-tag>
									</span>
								</td>

								<td class="p-10">
									<span class="">{{ nextUserSkill.rating }}</span>
								</td>
							</tr>
							</table>
						</div>



					</div>


					<!--<div class="col-xs-12 divider text-center">-->
						<!--<div class="col-xs-12 col-sm-4 emphasis">-->
							<!--<h2><strong> 20,7K </strong></h2>-->
							<!--<p><small>Followers</small></p>-->
							<!--<button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>-->
						<!--</div>-->
						<!--<div class="col-xs-12 col-sm-4 emphasis">-->
							<!--<h2><strong>245</strong></h2>-->
							<!--<p><small>Following</small></p>-->
							<!--<button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>-->
						<!--</div>-->
						<!--<div class="col-xs-12 col-sm-4 emphasis">-->
							<!--<h2><strong>43</strong></h2>-->
							<!--<p><small>Snippets</small></p>-->
							<!--<div class="btn-group dropup btn-block">-->
								<!--<button type="button" class="btn btn-primary"><span class="fa fa-gear"></span> Options </button>-->
								<!--<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">-->
									<!--<span class="caret"></span>-->
									<!--<span class="sr-only">Toggle Dropdown</span>-->
								<!--</button>-->
								<!--<ul class="dropdown-menu text-left" role="menu">-->
									<!--<li><a href="#"><span class="fa fa-envelope pull-right"></span> Send an email </a></li>-->
									<!--<li><a href="#"><span class="fa fa-list pull-right"></span> Add or remove from a list  </a></li>-->
									<!--<li class="divider"></li>-->
									<!--<li><a href="#"><span class="fa fa-warning pull-right"></span>Report this user for spam</a></li>-->
									<!--<li class="divider"></li>-->
									<!--<li><a href="#" class="btn disabled" role="button"> Unfollow </a></li>-->
								<!--</ul>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->






				</div>
			</div>
		</div>



		<div class="row">

			<multiple-file-uploading-block :data_source_type="'user_profile_documents'" :permit_select_and_upload_files="false" :permit_delete_document="false"
			                               :uploadDocumentItemsList="true" :item_title="'profile document'" :dataSourceParametersArray="dataSourceParametersArray"
			                               :is_page_loaded="true" :show_categories_selector="false"
			                               :show_public_accesses_selector="false" :show_info_selector="false"
			                               :no_data_found_label="'No files found'"
			                               :header_title="'Public documents'"	>
			</multiple-file-uploading-block>
		</div>


		<div class="row" v-if="taskAssignedToUsersList.length> 0">

			<div class="col-md-12 col-lg-12">
				<h4>Assigned to tasks</h4>
				<div class="table-responsive">
					<table id="mytable" class="table table-bordred table-striped">
						<thead>
						<th>Task</th>
						<th>Status</th>
						<th>Type</th>
						<th>Date start/end</th>
						</thead>
						<tbody>

						<tr v-for="nextTaskAssignedToUser, index in taskAssignedToUsersList">
							<td v-bind:style="getPriorityColor(nextTaskAssignedToUser.task_priority)" >
								<router-link :to="{ name: 'taskOperation', params: { id: nextTaskAssignedToUser.id } }" >
									{{ nextTaskAssignedToUser.task_name }}
								</router-link>
							</td>
							<td>{{ nextTaskAssignedToUser.task_status_label }}/{{ nextTaskAssignedToUser.status_label }}</td>
							<td>{{ nextTaskAssignedToUser.user_task_type_name }}</td>
							<td>{{ nextTaskAssignedToUser.task_date_start_label }}=>{{ nextTaskAssignedToUser.task_date_end_label }}</td>
						</tr>

						</tbody>

					</table>

				</div>

			</div>
		</div>


	</section>
</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';

    export default {
        mixins: [appMixin],

        props: {
            user: {
                type: Object,
                required: true,
            },

            users_groups_text: {
                type: String,
                required: false,
            },

            user_profile_thumbnail_image_url: {
                type: String,
	            default: '',
                required: false,
            },

        },

        data: function () {
            return {
                dataSourceParametersArray : Array( {parameter_name:'public_access', parameter_value:'P'}  ),
                userSkillsList: [],
                taskAssignedToUsersList: [], // tsk_task_assigned_to_users
            }
        },

        created() {
        },

        mounted() {
            this.loadSkillsList()
            this.loadTaskAssignedToUsersList()
        }, // mounted() {


        methods: {

            loadSkillsList() {
                axios.get(window.API_VERSION_LINK + '/load_user_skills/' ).then((response) => {
                    this.userSkillsList = response.data.userSkillsList;
                }).catch((error) => {
                    if ( error.response.data.error_code == 11 ) {
                        if ( error.response.data.error_code == 11 ) {
                            this.showPopupMessage(error.response.data.message, 'error');
                            this.$router.push({path: '/'});
                        }
                        this.showPopupMessage(error.response.data.message, 'error');
                        this.$router.push({path: '/'});
                    }
                    this.showRunTimeError(error, this);
                });
            }, //loadSkillsList() {

            loadTaskAssignedToUsersList() {
                axios.get(window.API_VERSION_LINK + '/load_task_assigned_to_users_lists/' ).then((response) => {
                    this.taskAssignedToUsersList = response.data.taskAssignedToUsersList;
                }).catch((error) => {
                    if ( error.response.data.error_code == 11 ) {
                        this.showPopupMessage(error.response.data.message, 'error');
                        this.$router.push({path: '/'});
                    }
                    this.showRunTimeError(error, this);
                });
            }, //loadTaskAssignedToUsersList() {

        },

    }
</script>

<style scoped lang="css">

	/*@import url(http://fonts.googleapis.com/css?family=Lato:400,700);*/
	.profile_preview
	{
		min-height: 355px;
		display: inline-block;
		background-color: $background_color;
	}
	figcaption.ratings
	{
		margin-top:20px;
	}
	figcaption.ratings a
	{
		color:#f1c40f;
		font-size:11px;
	}
	figcaption.ratings a:hover
	{
		color:#f39c12;
		text-decoration:none;
	}
	.divider
	{
		border-top:1px solid rgba(0,0,0,0.1);
	}
	.emphasis
	{
		border-top: 4px solid transparent;
	}
	.emphasis:hover
	{
		border-top: 4px solid #1abc9c;
	}
	.emphasis h2
	{
		margin-bottom:0;
	}
	span.skill_badge
	{
		background: #1abc9c;
		border-radius: 1px;
		color: #f5f5f5;
		font-weight: bold;
		padding: 4px 4px 6px 4px;
		margin: 5px 5px 5px 30px;
	}
</style>

