<template>
	<section>

		<div class="panel panel-default">

			<editor-header :show_loading_image="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('profile')"
			               :header_title='header_title+" "+page_title' :message=message></editor-header>

			<div class="row col-xs-12" v-if="is_page_loaded && user">
			<section class="panel-body white-box text-primary">

				<ul class="nav nav-tabs ">
					<li class="active"><a data-toggle="tab" href="#details">Details</a></li>
					<li><a data-toggle="tab" href="#documents">Documents/Images</a></li>
					<li><a data-toggle="tab" href="#skills">Skills</a></li>
					<li><a data-toggle="tab" href="#preview">Preview </a></li>
				</ul>

				<div class="tab-content">
					<div id="details" class="tab-pane fade in active">

						<form v-on:submit.prevent="validateBeforeSubmit()" class="form-horizontal p-20" >

							<div class="row">
								<div class="col-xs-12 form-group">
									<label class="col-xs-12 col-sm-4 control-label">ID</label>
									<div class="col-xs-12 col-sm-8">
										<input type="text" v-model="user.id" class="form-control integer_input" readonly>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12 form-group">
									<label class="col-xs-12 col-sm-4 control-label">Name</label>
									<div class="col-xs-12 col-sm-8">
										<input type="text" v-model="user.name" class="form-control string_input" readonly>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12 form-group">
									<label class="col-xs-12 col-sm-4 control-label">Email</label>
									<div class="col-xs-12 col-sm-8">
										<input type="text" v-model="user.email" class="form-control string_input" readonly>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12 form-group">
									<label class="col-xs-12 col-sm-4 control-label">Status</label>
									<div class="col-xs-12 col-sm-8">
										<input type="text" v-model="user.status_label" class="form-control string_input" readonly>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12 form-group">
									<label class="col-xs-12 col-sm-4 control-label">First name</label>
									<div class="col-xs-12 col-sm-8">
										<input type="text" v-validate="'required|max:50|alpha'" v-model="user.first_name" class="form-control string_input" :class="{ 'form-control':true, 'input': true, 'text-danger': vueErrorsList.has('first_name') }" name="first_name">
										<span v-show="vueErrorsList.has('first_name')" class="text-danger">{{ vueErrorsList.first('first_name') }}</span>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12 form-group">
									<label class="col-xs-12 col-sm-4 control-label">Last name</label>
									<div class="col-xs-12 col-sm-8">
										<input type="text" v-validate="'required|max:50|alpha'" v-model="user.last_name" class="form-control string_input" :class="{ 'form-control':true, 'input': true, 'text-danger': vueErrorsList.has('last_name') }" name="last_name" >
										<span v-show="vueErrorsList.has('last_name')" class="text-danger">{{ vueErrorsList.first('last_name') }}</span>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12 form-group">
									<label class="col-xs-12 col-sm-4 control-label">Phone</label>
									<div class="col-xs-12 col-sm-8">
										<input type="text" v-validate="'required|max:50'" v-model="user.phone" class="form-control string_input" :class="{ 'form-control':true, 'input': true, 'text-danger': vueErrorsList.has('phone') }" name="phone">
										<span v-show="vueErrorsList.has('phone')" class="text-danger">{{ vueErrorsList.first('phone') }}</span>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12 form-group">
									<label class="col-xs-12 col-sm-4 control-label">Website</label>
									<div class="col-xs-12 col-sm-8">
										<input type="text" v-validate="'required|max:50'" v-model="user.website" class="form-control string_input" :class="{ 'form-control':true, 'input': true, 'text-danger': vueErrorsList.has('website') }" name="website">
										<span v-show="vueErrorsList.has('website')" class="text-danger">{{ vueErrorsList.first('website') }}</span>
									</div>
								</div>
							</div>


							<div class="row">
								<div class="col-xs-12 form-group">
									<label class="col-xs-12 col-sm-4 control-label">Language <span class="required"> * </span></label>
									<div class="col-xs-12 col-sm-8">
										<select id="lang" name="lang" v-validate="'required'" :class="{ 'form-control':true, 'errors': vueErrorsList.has('label') }" v-model="user.lang">
											<option value=""> -Select language- </option>
											<option v-for="nextLang, index in langsArray" v-bind:value="nextLang.key">{{ nextLang.label }}
											</option>
										</select>
										<span v-show="vueErrorsList.has('lang')" class="text-danger">{{ vueErrorsList.first('lang') }}</span>
									</div>
								</div>
							</div>


							<div class="row">
								<div class="col-xs-12 form-group">
									<label class="col-xs-12 col-sm-4 control-label">Submit message by enter <span class="required"> * </span></label>
									<div class="col-xs-12 col-sm-8">
										<select id="submit_message_by_enter" name="submit_message_by_enter" v-validate="'required'" :class="{ 'form-control':true, 'errors': vueErrorsList.has('submit_message_by_enter') }" v-model="user.submit_message_by_enter">
											<option value=""> -Select submit message by enter- </option>
											<option v-for="nextSubmitMessageByEnter, index in submitMessageByEntersArray" v-bind:value="nextSubmitMessageByEnter.key">
												{{ nextSubmitMessageByEnter.label }}
											</option>
										</select>
										<span v-show="vueErrorsList.has('submit_message_by_enter')" class="text-danger">{{ vueErrorsList.first('submit_message_by_enter') }}</span>
									</div>
								</div>
							</div>


							<div class="row">
								<div class="col-xs-12 form-group">
									<label class="col-xs-12 col-sm-4 control-label">Color</label>
									<div class="col-xs-12 col-sm-8">
										<div class="input_with_btn_at_right">
											<input type="text" v-validate="'required'" v-model="user_color" class="form-control string_input" maxlength="50" :class="{ 'form-control':true, 'input': true, 'text-danger': vueErrorsList.has('user_color') }" name="color">
											<el-color-picker v-model="user_color" show-alpha size="medium"></el-color-picker>
										</div>
										<span v-show="vueErrorsList.has('color')" class="text-danger">{{ vueErrorsList.first('color') }}</span>
									</div>
								</div>
							</div>


							<div class="row">
								<div class="col-xs-12 form-group">
									<label class="col-xs-12 col-sm-4 control-label">Background color</label>
									<div class="col-xs-12 col-sm-8">
										<div class="input_with_btn_at_right">
											<input type="text" name="background_color" v-validate="'required'" v-model="user_background_color" class="form-control string_input" maxlength="50" :class="{ 'form-control':true, 'input': true, 'text-danger': vueErrorsList.has('user_background_color') }">
											<el-color-picker v-model="user_background_color" show-alpha size="medium"></el-color-picker>
										</div>
										<span v-show="vueErrorsList.has('background_color')" class="text-danger">{{ vueErrorsList.first('background_color') }}</span>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-xs-12 form-group">
									<label class="col-xs-12 col-sm-4 control-label">Subscription to newsletters</label>
									<div class="col-xs-12 col-sm-8">
										user.subscription_to_newsletters::{{ user.subscription_to_newsletters }}
										<!--<input type="checkbox" class="form-control checkbox_input" value="subscription_to_newsletters">-->
										<el-checkbox v-model="user.subscription_to_newsletters"  size="medium" border>
											<span v-if="user.subscription_to_newsletters">You are subscribed to newsletters</span>
										</el-checkbox>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12 form-group">
									<label class="col-xs-12 col-sm-4 control-label">Show online status</label>
									user.show_online_status:: {{ user.show_online_status }}
									<div class="col-xs-12 col-sm-8">
										<el-checkbox v-model="user.show_online_status"  size="medium" border>
											<span v-if="user.show_online_status">Your online status would be visible</span>
										</el-checkbox>
									</div>
								</div>
							</div>

							<div class="row pull-right">
								<editor-buttons submit_label="Update" cancel_label="Cancel" cancel_link="dashboard" :is_page_updating="is_page_updating"></editor-buttons>
							</div>

						</form>

					</div> <!-- <div id="details" -->


					<div id="documents" class="tab-pane fade "> <!--  in active -->

						<multiple-file-uploading-block :data_source_type="'user_profile_documents'" :documentItemsList="documentCategoriesList"
						                               :uploadDocumentItemsList="true" :item_title="'profile document'" :uploadedDocumentsExtensionsArray="uploadedDocumentsExtensionsArray"
						                               :documentPublicAccessesArray="documentPublicAccessesArray" :is_page_loaded="is_page_loaded" :show_categories_selector="true"
						                               :show_public_accesses_selector="true" :show_info_selector="true"
						                               :no_data_found_label="'No files found'"
						                               :header_title="'Documents of your profile'"
						></multiple-file-uploading-block>

					</div> <!-- <div id="documents" -->

					<div id="skills" class="tab-pane fade  "> <!--  in active -->

						<form v-on:submit="updateUserSkills()" class="form-horizontal p-20">
							<p class="text-info">Fill your skills rating from 0(no skills) till 10(guru): </p>
							<div v-for="nextUserSkill, index in userSkillsList" class="row">
								<div class="col-xs-12 form-group p-20">

									<div class="col-xs-12 col-sm-6 text-right">
										<span v-if="nextUserSkill.rating > 6" >
											<el-tag type="success">{{ nextUserSkill.skill }}</el-tag>
										</span>

										<span v-if="nextUserSkill.rating <= 5 && nextUserSkill.rating > 2" >
											<el-tag type="info">{{ nextUserSkill.skill }}</el-tag>
										</span>

										<span v-if="nextUserSkill.rating <= 2  && nextUserSkill.rating > 0 " >
											<el-tag type="warning">{{ nextUserSkill.skill }}</el-tag>
										</span>
										<span v-if="nextUserSkill.rating == 0 " >
											<el-tag type="danger">{{ nextUserSkill.skill }}</el-tag>
										</span>
									</div>
									
									<div class="col-xs-12 col-sm-6">
										<div class="">
											<select v-bind:id="'user_skill_' + nextUserSkill.skill"  v-model="nextUserSkill.rating" class="form-control select_skill_option">
												<option value=""> -Select skill- </option>
												<option v-for="nextSkillOption, index in userSkillOptionsValueArray" v-bind:value="nextSkillOption.key">{{ nextSkillOption.label }}
												</option>
											</select>
										</div>
									</div>
								</div>

							</div>
							<div class="row pull-right">
								<editor-buttons submit_label="Update" cancel_label="Cancel" cancel_link="dashboard" :is_page_updating="is_page_updating"></editor-buttons>
							</div>
						</form>


					</div>  <!-- div id="skills" -->
					
					<!-- in active -->
					<div id="preview" class="tab-pane fade">
						<public-profile-preview :user="user" :users_groups_text="users_groups_text" :user_profile_thumbnail_image_url="user_profile_thumbnail_image_url"></public-profile-preview>
					</div>
					
				</div> <!-- <div class="tab-content"> -->


			</section>
		</div>
		</div>

	</section>
</template>


<script>

    import {bus} from '../../app';
    import appMixin from '../../appMixin';

    Vue.component( 'multiple-file-uploading-block',  require( '../../components/lib/MultipleFileUploadingBlock.vue') );
//    Vue.component( 'multiple-file-uploading-block',  require( '../../components/lib/MultipleFileUploadingBlock.vue') );
    Vue.component( 'editor-header',  require( '../../components/lib/EditorHeader.vue') );
    Vue.component( 'public-profile-preview',  require( '../../components/user_profiles/PublicProfilePreview.vue') );
    Vue.component( 'editor-buttons',  require( '../../components/lib/EditorButtons.vue') );

    export default {
        mixins: [appMixin],

        created() {
            bus.$on('UserProfileIsSetEvent', (username, site_name) => {
                this.page_title = username + " of " + site_name;
            })

            this.$validator.localize(window.CURRENT_LANG, {
                attributes: {
                    submit_message_by_enter : 'Submit message by enter',
                    lang               : 'Language',
                    background_color   : 'Background color',
                    color              : 'Color',
                    first_name         : 'First name ',
                    last_name          : 'Last name ',
                }
            });

        },

        mounted() {
            this.loadUserProfile();
            this.loadUserSkillsList();
        }, // mounted() {


        data: function () {
            return {
                header_title: "Edit user's profile for",
                users_groups_text: '',
//                show_loading_image : false,
                is_page_loaded: false,
                is_page_updating: false,
                page_title: 'Default page title',
                user: {},
                user_background_color: '',
                user_color: '',
                langsArray: [],
                submitMessageByEntersArray: [],
                userSkillsList: [],
                documentCategoriesList: [],
                documentPublicAccessesArray: [],
                uploadedDocumentsExtensionsArray: [],
                userSkillOptionsValueArray: [],
                user_profile_thumbnail_image_url:'',
                message: '',
            }
        }, // data: function () {

        computed: {}, // computed: {


        methods: {

            changeColorFormat(field_name) {
                alert("field_name::" + var_dump(field_name))
            },


            loadUserProfile() {
                this.is_page_loaded = false
                axios.get(window.API_VERSION_LINK + '/user_profiles/' ).then((response) => {
                    this.is_page_loaded = true
                    this.user = response.data.user;
                    this.user_background_color = response.data.user.background_color;
	                this.user_color = response.data.user.color;
                    this.users_groups_text = response.data.users_groups_text;

                    this.langsArray = response.data.langsArray;
                    this.submitMessageByEntersArray = response.data.submitMessageByEntersArray;
                    this.documentCategoriesList = response.data.documentCategoriesList;
                    this.documentPublicAccessesArray = response.data.documentPublicAccessesArray;
                    this.uploadedDocumentsExtensionsArray = response.data.uploadedDocumentsExtensionsArray;
                    this.userSkillOptionsValueArray = response.data.userSkillOptionsValueArray;
                    this.user_profile_thumbnail_image_url = response.data.user_profile_thumbnail_image_url;
                }).catch((error) => {
                    if ( error.response.data.error_code == 11 ) {
                        this.showPopupMessage(error.response.data.message, 'error');
                        this.$router.push({path: '/'});
                    }
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });

            }, //loadUserProfile() {

            loadUserSkillsList() {
                this.is_page_loaded = false
                axios.get(window.API_VERSION_LINK + '/load_user_skills?get_all_skills=1'  ).then((response) => {
                    this.is_page_loaded = true
                    this.userSkillsList = response.data.userSkillsList;
                }).catch((error) => {
                    if ( error.response.data.error_code == 11 ) {
                        this.showPopupMessage(error.response.data.message, 'error');
                        this.$router.push({path: '/'});
                    }
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, //loadUserSkillsList() {


            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.updateUserProfileDetails()
                    } else {
                        this.showPopupMessage('Error ' + ( this.is_insert? 'adding' : 'updating' ) + ' user\'s profile. ', 'error');
                    }
                })
            }, // validateBeforeSubmit() {

            updateUserProfileDetails() {
                this.is_page_updating = true
                var user = this.user;

                this.user_background_color = user.background_color = this.formatColor(this.user_background_color)
//                user.background_color = this.formatColor(this.user_background_color)
                this.user_color = user.color = this.formatColor(this.user_color)
//	                            alert( "user.background_color::"+var_dump(user.background_color) )
//	                            alert( "user.color::"+var_dump(user.color) )

                axios.post(window.API_VERSION_LINK + '/user_profiles', user ).then((response) => {
                    this.message = false
                    this.is_page_updating = false
                    this.showPopupMessage('User\'s profile updated successfully. ', 'success');
                    bus.$emit('UserProfileIsSetEvent', user.first_name + ' ' + user.last_name, response.data.site_name);
                }).catch((error) => {
                    this.$setLaravelValidationErrorsFromResponse(error.response.data);
                    this.is_page_updating= false
                    this.showRunTimeError(error, this);
                    this.showPopupMessage('Error updating user\'s profile. ', 'error');
                });

            }, // updateUserProfileDetails() {


            updateUserSkills() {
//                alert( "updateUserSkills::"+var_dump(1) )
                this.is_page_updating = true
                var userSkillsArray= []; // Список выбранных эюзеров
                $('.select_skill_option').each(function(i, obj) {
                    var userSkill = {}
                    userSkill.skill = obj.id;    //user_skill
                    userSkill.rating = obj.value;
                    userSkillsArray[userSkillsArray.length]= userSkill
                });

                axios.post(window.API_VERSION_LINK + '/user_skills_update', userSkillsArray).then((response) => {
                    this.message = false
                    this.is_page_updating = false
                    this.showPopupMessage('User\'s skills updated successfully. ', 'success');
                    this.loadUserSkillsList();
                }).catch((error) => {
                    this.$setLaravelValidationErrorsFromResponse(error.response.data);
                    this.is_page_updating= false
                    this.showRunTimeError(error, this);
                    this.showPopupMessage('Error updating user\'s skills. ', 'error');
                });

            }, // updateUserSkills() {


        } // methods: {


    }
</script>
