<template>
	<section>

		<div class="panel panel-default">

			<section class="panel-body white-box text-primary">
				<!--user_profile_thumbnail_image_url::{{ user_profile_thumbnail_image_url}}<br>-->
				<!--loggedUserProfile::{{ loggedUserProfile}}<br>-->
				<!--users_groups_text::{{ users_groups_text }}-->
				<public-profile-preview :user="loggedUserProfile" :users_groups_text="users_groups_text" :user_profile_thumbnail_image_url="user_profile_thumbnail_image_url"></public-profile-preview>
			</section>
			
		</div>

	</section>
</template>

<script>

    import {bus} from '../../app';
    import appMixin from '../../appMixin';
    Vue.component( 'multiple-file-uploading-block',  require( '../../components/lib/MultipleFileUploadingBlock.vue') );
    Vue.component( 'public-profile-preview',  require( '../../components/user_profiles/PublicProfilePreview.vue') );
    export default {
        mixins: [appMixin],

        data: function () {
            return {
                users_groups_text: '',
                loggedUserProfile: {},
                is_page_loaded: false,
                page_title: 'User\'s public profile',
                user_profile_thumbnail_image_url:'',
            }
        },  // data: function () {

        created() {
            this.loadPreviewUserProfile();
        },

        mounted() {
            bus.$on('UserProfileIsSetEvent', (username, site_name, loggedUserProfile, loggedUserInGroups ) => {
                this.loggedUserProfile= loggedUserProfile
                this.loggedUserInGroups= loggedUserInGroups
            })
        },

        methods: {

            loadPreviewUserProfile() {
                this.is_page_loaded = false
//	            alert( "this.$route.params.id::"+(this.$route.params.id) )
                axios.get(window.API_VERSION_LINK + '/get_user_view_data/' + this.$route.params.id).then((response) => {
//                    alert( "this.$route.params.id::"+this.$route.params.id+"    response.data::"+var_dump(response.data) )
                    if ( response.data.error_code == 11 ) {
                        this.showPopupMessage(error.response.data.message, 'error');
                        this.$router.push({path: '/'});
                    }
                    this.is_page_loaded = true
                    this.loggedUserProfile = response.data.user;
                    this.user_profile_thumbnail_image_url = response.data.user_profile_thumbnail_image_url;
                    this.users_groups_text = response.data.users_groups_text;
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });

            } //loadPreviewUserProfile() {


        },


    }
</script>
