<template>
	<section>

		<div class="panel panel-default">


			<button v-popover:foo>Toggle popover</button>

			<popover name="foo">
				Hello 🎉
			</popover>

			<hr>

			<button v-popover:info.right>Edit (show popover right)</button>
			<button v-popover.left="{ name: 'info' }">Edit</button>

			
			<listing-header :show_loading_image=is_page_loaded :header_icon="getHeaderIcon('dashboard')" :header_title=header_title :message=message :no_data_found_label="''"
			                :right_icon="'glyphicon glyphicon-refresh'" :parent_component_key="'dashboard'"
			></listing-header>
			<!--&nbsp;<i class="glyphicon glyphicon-refresh" title="Refresh"  @click="loadDashboardData"></i>-->

			<section class="panel-body white-box text-primary" v-if="is_page_loaded">


				<div class="row">
					is_debug::{{ is_debug}}<br>
					is_admin::{{ is_admin }};;;is_manager::{{ is_manager }};;

					<fieldset>
						<legend>Your tasks</legend>

						<div class="col-sm-4">
							<div class="panel-group" id="accordion_new_assigned_tasks">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion_new_assigned_tasks" href="#collapse_accordion_new_assigned_tasks">
												New Assigned Tasks({{ assigningTasksAssignedToUserList.length}})
											</a>
										</h4>
									</div>
									<div id="collapse_accordion_new_assigned_tasks" class="panel-collapse collapse out">
										<ul class="list-group">

											<li v-for="nextAssigningTasksAssignedToUser, index in assigningTasksAssignedToUserList" class="list-group-item" v-bind:style="getPriorityColor(nextAssigningTasksAssignedToUser.task_priority)" >
										        <span v-if="is_debug">
												task_id={{ nextAssigningTasksAssignedToUser.task_id }};{{ nextAssigningTasksAssignedToUser.id }}={{
												nextAssigningTasksAssignedToUser.task_name	}},
										        </span>
												<span v-if="nextAssigningTasksAssignedToUser.is_leader_label">You are </span>{{nextAssigningTasksAssignedToUser.is_leader_label}}
												<span v-if="nextAssigningTasksAssignedToUser.is_leader_label">,</span>&nbsp;
												{{nextAssigningTasksAssignedToUser.task_date_start_label }}=>{{nextAssigningTasksAssignedToUser.task_date_end_label }}
												<router-link :to="{ name: 'taskOperation', params: { id: nextAssigningTasksAssignedToUser.id } }" target="_blank" >
													<span v-if="is_debug">task_id # {{ nextAssigningTasksAssignedToUser.task_id }} ( subtask # {{ nextAssigningTasksAssignedToUser.id }} )</span>
													OpenZZZZ
												</router-link>
											</li>

										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="panel-group" id="accordion_processing_assigned_tasks">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion_processing_assigned_tasks" href="#collapse_accordion_processing_assigned_tasks">
												Processing Tasks({{ processingTasksAssignedToUserList.length}})
											</a>
										</h4>
									</div>
									<div id="collapse_accordion_processing_assigned_tasks" class="panel-collapse collapse out">
										<ul class="list-group">

											<li v-for="nextProcessingTasksAssignedToUser, index in processingTasksAssignedToUserList" class="list-group-item" v-bind:style="getPriorityColor(nextProcessingTasksAssignedToUser.task_priority)"  :key="'next_processing_tasks_assigned_to_user_'+nextProcessingTasksAssignedToUser.id" >
										        <span v-if="is_debug">
												task_id={{ nextProcessingTasksAssignedToUser.task_id }};{{nextProcessingTasksAssignedToUser.id }}={{ nextProcessingTasksAssignedToUser.task_name }},
										        </span>
												<span v-if="nextProcessingTasksAssignedToUser.is_leader_label">You are </span>{{nextProcessingTasksAssignedToUser.is_leader_label}}
												<span v-if="nextProcessingTasksAssignedToUser.is_leader_label">,</span>&nbsp;
												{{nextProcessingTasksAssignedToUser.task_date_start_label }}=>{{nextProcessingTasksAssignedToUser.task_date_end_label }}
												<router-link :to="{ name: 'taskOperation', params: { id: nextProcessingTasksAssignedToUser.id } }" >
													<span v-if="is_debug">task_id # {{ nextProcessingTasksAssignedToUser.task_id }} ( subtask # {{ nextProcessingTasksAssignedToUser.id }} )</span>
													Open
												</router-link>
											</li>

										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="panel-group" id="accordion_cancelled_assigned_tasks">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion_cancelled_assigned_tasks" href="#collapse_accordion_cancelled_assigned_tasks">
												Checking Tasks({{ checkingTasksAssignedToUserList.length}})
											</a>
										</h4>
									</div>
									<div id="collapse_accordion_cancelled_assigned_tasks" class="panel-collapse collapse out">
										<ul class="list-group">
											<li v-for="nextCheckingTasksAssignedToUser, index in checkingTasksAssignedToUserList" class="list-group-item" v-bind:style="getPriorityColor(nextCheckingTasksAssignedToUser.task_priority)" >
										        <span v-if="is_debug">
												task_id={{ nextCheckingTasksAssignedToUser.task_id }};{{nextCheckingTasksAssignedToUser.id }}={{ nextCheckingTasksAssignedToUser.task_name }},
										        </span>
												<span v-if="nextCheckingTasksAssignedToUser.is_leader_label">You are </span>{{nextCheckingTasksAssignedToUser.is_leader_label}}
												<span v-if="nextCheckingTasksAssignedToUser.is_leader_label">,</span>&nbsp;
												{{nextCheckingTasksAssignedToUser.task_date_start_label }}=>{{nextCheckingTasksAssignedToUser.task_date_end_label }}
												<router-link :to="{ name: 'taskOperation', params: { id: nextCheckingTasksAssignedToUser.id } }">
													<span v-if="is_debug">task_id # {{ nextCheckingTasksAssignedToUser.task_id }} ( subtask # {{ nextCheckingTasksAssignedToUser.id }} )</span>
													Open
												</router-link>
											</li>

										</ul>
									</div>
								</div>
							</div>
						</div>

					</fieldset>   <!-- Your tasks -->
				</div>






				<div class="row" v-if="tasksAssignedToUserAsTeamLeaderList.length > 0">
					<fieldset>
						<legend>Your tasks as team leader</legend>

						<div class="col-sm-4">
							<div class="panel-group" id="accordion_new_assigned_tasks_as_team_leader">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion_new_assigned_tasks_as_team_leader" href="#collapse_accordion_new_assigned_tasks_as_team_leader">
												You are team leader for ({{ tasksAssignedToUserAsTeamLeaderList.length}}) tasks
											</a>
										</h4>
									</div>
									<div id="collapse_accordion_new_assigned_tasks_as_team_leader" class="panel-collapse collapse out">
										<ul class="list-group">

											<li v-for="nextTaskAssignedToUserAsTeamLeader, index in tasksAssignedToUserAsTeamLeaderList" class="list-group-item" v-bind:style="getPriorityColor(nextTaskAssignedToUserAsTeamLeader.task_priority)" >
										        <span v-if="is_debug">
												task_id={{nextTaskAssignedToUserAsTeamLeader.task_id }}; {{nextTaskAssignedToUserAsTeamLeader.id }}={{
												nextTaskAssignedToUserAsTeamLeader.task_name }},
										        </span>
												<span v-if="nextTaskAssignedToUserAsTeamLeader.is_leader_label">You are </span>{{nextTaskAssignedToUserAsTeamLeader.is_leader_label}}
												<span v-if="nextTaskAssignedToUserAsTeamLeader.is_leader_label">,</span>&nbsp;
												{{nextTaskAssignedToUserAsTeamLeader.task_date_start_label }}=>{{nextTaskAssignedToUserAsTeamLeader.task_date_end_label }}
												<router-link :to="{ name: 'taskOperation', params: { id: nextTaskAssignedToUserAsTeamLeader.id } }">
													<span v-if="is_debug">task_id # {{ nextTaskAssignedToUserAsTeamLeader.task_id }} ( subtask # {{ nextTaskAssignedToUserAsTeamLeader.id }} )</span>
													Open
												</router-link>
												<div v-if="nextTaskAssignedToUserAsTeamLeader.asTeamLeaderAssigningList.length > 0">
													<h4>Tasks Assigning to users</h4>
													<!--nextTaskAssignedToUserAsTeamLeader.asTeamLeaderAssigningList::{{ nextTaskAssignedToUserAsTeamLeader.asTeamLeaderAssigningList }}-->
													<ul class="list-group">
													<li v-for="nextAsTeamLeaderAssigning, index2 in nextTaskAssignedToUserAsTeamLeader.asTeamLeaderAssigningList">

														<router-link :to="{name: 'userProfileView', params: {id: nextAsTeamLeaderAssigning.user_id} }" >
															{{nextAsTeamLeaderAssigning.id }}={{ nextAsTeamLeaderAssigning.user_first_name }} {{ nextAsTeamLeaderAssigning.user_last_name }}( {{ nextAsTeamLeaderAssigning.username }} ),
														</router-link>&nbsp;&nbsp;

													</li>
													</ul>
												</div>

												<!--46=Mastering Laravel/vue.js, You are Task Leader ,  30 December, 2017=>2 March, 2018 Open-->
												<!--nextTaskAssignedToUserAsTeamLeader.asTeamLeaderAssigningList::[ { "id": 1, "task_id": 1, "user_id": 3, "status": "A", "is_leader": 0, "user_task_type_id": 1, "description": "You need to learn/control Mastering Laravel/vue.js description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.", "created_at": "2017-12-30 18:51:12", "updated_at": null, "username": "Tony Black", "user_first_name": "Firstname3", "user_last_name": "Lastname3", "user_status": "I", "task_name": "Mastering Laravel/vue.js", "task_status": "P", "task_date_start": "2017-12-30", "task_date_end": "2018-03-02", "task_priority": "3", "status_label": "Assigning", "is_leader_label": "", "created_at_label": "30 December, 2017 6:51 PM", "task_priority_label": "Normal", "task_date_start_label": "30 December, 2017", "task_date_end_label": "2 March, 2018", "user_status_label": "Inactive", "task_status_label": "Processing" }, { -->
												<!---->
												<!---->
												<hr>
												<!--"asTeamLeaderAssigningList": [],-->
												<!--"asTeamLeaderProcessingList": [],-->
												<!--"asTeamLeaderCheckingList": [-->
												<hr>
											</li>

										</ul>
									</div>
								</div>
							</div>
						</div>


					</fieldset>   <!-- Your tasks as team leader -->
				</div>







				<div class="row" v-if="is_admin">
					<!--is_admin::{{ is_admin }};;;is_manager::{{ is_manager }};;-->
					<fieldset>
						<legend>Tasks for all users</legend>

						<div class="col-md-12">
							<p class="text-info">As <b>admin</b>, you have access to all tasks</p>
							<div class="panel-group" id="accordion_all_assigned_tasks">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion_all_assigned_tasks" href="#collapse_accordion_all_assigned_tasks">
												New Assigned Tasks({{ forAdminAssigningTasksAssignedToUserList.length}})
											</a>
										</h4>
									</div>
									<div id="collapse_accordion_all_assigned_tasks" class="panel-collapse collapse out">
										<ul class="list-group">

											<li v-for="nextForAdminAssigningTasksAssignedToUser, index in forAdminAssigningTasksAssignedToUserList" class="list-group-item" v-bind:style="getPriorityColor(nextForAdminAssigningTasksAssignedToUser.task_priority)" >
												<router-link :to="{name: 'userProfileView', params: {id: nextForAdminAssigningTasksAssignedToUser.user_id} }" >
													{{nextForAdminAssigningTasksAssignedToUser.user_id }}={{ nextForAdminAssigningTasksAssignedToUser.user_first_name }} {{ nextForAdminAssigningTasksAssignedToUser.user_last_name }},
												</router-link>&nbsp;&nbsp;
												<span v-if="is_debug">
												task_id={{ nextForAdminAssigningTasksAssignedToUser.task_id }};{{nextForAdminAssigningTasksAssignedToUser.id }}={{ nextForAdminAssigningTasksAssignedToUser.task_name }},
										        </span>
												<span v-if="nextForAdminAssigningTasksAssignedToUser.is_leader_label">You are </span>{{nextForAdminAssigningTasksAssignedToUser.is_leader_label}}
												<span v-if="nextForAdminAssigningTasksAssignedToUser.is_leader_label">,</span>&nbsp;
												{{nextForAdminAssigningTasksAssignedToUser.task_date_start_label }}=>{{nextForAdminAssigningTasksAssignedToUser.task_date_end_label }}
												<router-link :to="{ name: 'taskOperation', params: { id: nextForAdminAssigningTasksAssignedToUser.id } }">
													<span v-if="is_debug">task_id # {{ nextForAdminAssigningTasksAssignedToUser.task_id }} ( subtask # {{ nextForAdminAssigningTasksAssignedToUser.id }} )</span>
													Open
												</router-link>
											</li>

										</ul>
									</div>
								</div>
							</div>
						</div> <!-- Assigning tasks -->


						<div class="col-md-12">
							<div class="panel-group" id="accordion_all_processing_tasks">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion_all_processing_tasks" href="#collapse_accordion_all_processing_tasks">
												Processing Tasks({{ forAdminProcessingTasksAssignedToUserList.length}})
											</a>
										</h4>
									</div>
									<div id="collapse_accordion_all_processing_tasks" class="panel-collapse collapse out">
										<ul class="list-group">

											<li v-for="nextForAdminProcessingTasksAssignedToUser, index in forAdminProcessingTasksAssignedToUserList" class="list-group-item" v-bind:style="getPriorityColor(nextForAdminProcessingTasksAssignedToUser.task_priority)" >
												<router-link :to="{name: 'userProfileView', params: {id: nextForAdminProcessingTasksAssignedToUser.user_id} }" >
													{{nextForAdminProcessingTasksAssignedToUser.user_id }}={{ nextForAdminProcessingTasksAssignedToUser.user_first_name }} {{ nextForAdminProcessingTasksAssignedToUser.user_last_name }},
												</router-link>&nbsp;&nbsp;
												<span v-if="is_debug">
												task_id={{ nextForAdminProcessingTasksAssignedToUser.task_id }};{{nextForAdminProcessingTasksAssignedToUser.id }}={{ nextForAdminProcessingTasksAssignedToUser.task_name }},
										        </span>
												<span v-if="nextForAdminProcessingTasksAssignedToUser.is_leader_label">You are </span>{{nextForAdminProcessingTasksAssignedToUser.is_leader_label}}
												<span v-if="nextForAdminProcessingTasksAssignedToUser.is_leader_label">,</span>&nbsp;
												{{nextForAdminProcessingTasksAssignedToUser.task_date_start_label }}=>{{nextForAdminProcessingTasksAssignedToUser.task_date_end_label }}
												<router-link :to="{ name: 'taskOperation', params: { id: nextForAdminProcessingTasksAssignedToUser.id } }">
													<span v-if="is_debug">task_id # {{ nextForAdminProcessingTasksAssignedToUser.task_id }} ( subtask # {{ nextForAdminProcessingTasksAssignedToUser.id }} )</span>
													Open
												</router-link>
											</li>

										</ul>
									</div>
								</div>
							</div>
						</div> <!-- Processing tasks -->


						<div class="col-md-12">
							<div class="panel-group" id="accordion_all_checking_tasks">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion_all_checking_tasks" href="#collapse_accordion_all_checking_tasks">
												Checking Tasks({{ forAdminCheckingTasksAssignedToUserList.length}})
											</a>
										</h4>
									</div>
									<div id="collapse_accordion_all_checking_tasks" class="panel-collapse collapse out">
										<ul class="list-group">

											<li v-for="nextForAdminCheckingTasksAssignedToUser, index in forAdminCheckingTasksAssignedToUserList" class="list-group-item" v-bind:style="getPriorityColor(nextForAdminCheckingTasksAssignedToUser.task_priority)" >
												<router-link :to="{name: 'userProfileView', params: {id: nextForAdminCheckingTasksAssignedToUser.user_id} }" >
													{{nextForAdminCheckingTasksAssignedToUser.user_id }}={{ nextForAdminCheckingTasksAssignedToUser.user_first_name }} {{ nextForAdminCheckingTasksAssignedToUser.user_last_name }},
												</router-link>&nbsp;&nbsp;
												<span v-if="is_debug">
												task_id={{ nextForAdminCheckingTasksAssignedToUser.task_id }};{{nextForAdminCheckingTasksAssignedToUser.id }}={{ nextForAdminCheckingTasksAssignedToUser.task_name }},
										        </span>
												<span v-if="nextForAdminCheckingTasksAssignedToUser.is_leader_label">You are </span>{{nextForAdminCheckingTasksAssignedToUser.is_leader_label}}
												<span v-if="nextForAdminCheckingTasksAssignedToUser.is_leader_label">,</span>&nbsp;
												{{nextForAdminCheckingTasksAssignedToUser.task_date_start_label }}=>{{nextForAdminCheckingTasksAssignedToUser.task_date_end_label }}
												<router-link :to="{ name: 'taskOperation', params: { id: nextForAdminCheckingTasksAssignedToUser.id } }">
													<span v-if="is_debug">task_id # {{ nextForAdminCheckingTasksAssignedToUser.task_id }} ( subtask # {{ nextForAdminCheckingTasksAssignedToUser.id }} )</span>
													Open
												</router-link>
											</li>

										</ul>
									</div>
								</div>
							</div>
						</div> <!-- Checking tasks -->


					</fieldset>   <!-- All tasks -->


					<fieldset>
						<legend>Your Chats</legend>
						<div class="col-md-12">
						<div class="panel-group" id="accordion_your_active_user_chats_lists">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion_your_active_user_chats_lists"
										   href="#collapse_accordion_your_active_user_chats_lists">
											Active chats({{ yourActiveUserChatsList.length}})
										</a>
									</h4>
								</div>
								<div id="collapse_accordion_your_active_user_chats_lists" class="panel-collapse collapse out">
									<ul class="list-group">

										<li v-for="nextYourActiveUserChat, index in yourActiveUserChatsList" class="list-group-item"  >

											<router-link :to="{name: 'runUserChat', params: {id: nextYourActiveUserChat.id} }"  target= '_blank' >
												{{nextYourActiveUserChat.id }}={{ nextYourActiveUserChat.name }}
											</router-link>

											<span v-if="nextYourActiveUserChat.user_chat_messages_count_by_user_id > 0">, {{
                                                nextYourActiveUserChat.user_chat_messages_count_by_user_id}} your messages</span>
											<span v-if="nextYourActiveUserChat.user_chat_messages_count > 0">, {{ nextYourActiveUserChat.user_chat_messages_count}} messages</span>
											<span v-if="nextYourActiveUserChat.user_chat_participants_count > 0">, {{ nextYourActiveUserChat.user_chat_participants_count }}
												participants</span>
											<router-link :to="{name: 'userProfileView', params: {id: nextYourActiveUserChat.manager_id} }" >
												, Managed by {{ nextYourActiveUserChat.manager_name}}
											</router-link>

										</li>

									</ul>
								</div>
							</div>
						</div>
						</div>


						<div class="col-md-12">
						<div class="panel-group" id="accordion_your_closed_user_chats_lists">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion_your_closed_user_chats_lists" href="#collapse_accordion_your_closed_user_chats_lists">
											Closed chats({{ yourClosedUserChatsList.length}})
										</a>
									</h4>
								</div>
								<div id="collapse_accordion_your_closed_user_chats_lists" class="panel-collapse collapse out">
									<ul class="list-group">

										<li v-for="nextYourClosedUserChat, index in yourClosedUserChatsList" class="list-group-item"  >

											<router-link :to="{name: 'runUserChat', params: {id: nextYourClosedUserChat.id} }"  target= '_blank' >
												{{nextYourClosedUserChat.id }}={{ nextYourClosedUserChat.name }}
											</router-link>

											<span v-if="nextYourClosedUserChat.user_chat_messages_count_by_user_id > 0">, {{
                                                nextYourClosedUserChat.user_chat_messages_count_by_user_id}} your messages</span>
											<span v-if="nextYourClosedUserChat.user_chat_messages_count > 0">, {{ nextYourClosedUserChat.user_chat_messages_count}} messages</span>
											<span v-if="nextYourClosedUserChat.user_chat_participants_count > 0">, {{ nextYourClosedUserChat.user_chat_participants_count }}
												participants</span>
											<router-link :to="{name: 'userProfileView', params: {id: nextYourClosedUserChat.manager_id} }" >
												, Managed by {{ nextYourClosedUserChat.manager_name}}
											</router-link>

										</li>

									</ul>
								</div>
							</div>
						</div>
						</div>
					</fieldset>   <!-- All Chats -->


					<fieldset>
						<legend>Chats for all users</legend>
						<div class="col-md-12">
							<p class="text-info">As <b>admin</b>, you have access to all chats</p>
						<div class="panel-group" id="accordion_active_user_chats_lists">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion_active_user_chats_lists" href="#collapse_accordion_active_user_chats_lists">
											Active chats({{ activeUserChatsList.length}})
										</a>
									</h4>
								</div>
								<div id="collapse_accordion_active_user_chats_lists" class="panel-collapse collapse out">
									<ul class="list-group">

										<li v-for="nextActiveUserChat, index in activeUserChatsList" class="list-group-item"  >

											<router-link :to="{name: 'runUserChat', params: {id: nextActiveUserChat.id} }"  target= '_blank' >
												{{nextActiveUserChat.id }}={{ nextActiveUserChat.name }}
											</router-link>

											<span v-if="nextActiveUserChat.user_chat_messages_count > 0">, {{ nextActiveUserChat.user_chat_messages_count}} messages</span>
											<span v-if="nextActiveUserChat.user_chat_participants_count > 0">, {{ nextActiveUserChat.user_chat_participants_count }}
												participants</span>
											<router-link :to="{name: 'userProfileView', params: {id: nextActiveUserChat.manager_id} }" >
												, Managed by {{ nextActiveUserChat.manager_name}}
											</router-link>

										</li>

									</ul>
								</div>
							</div>
						</div>
						</div>
					</fieldset>   <!-- All Chats -->




				</div> <!-- -->




				<div class="col-md-12 p-t-20">
					<a class="a_link" v-on:click="toggleResourcesBlockIsVisible" >
						<i class="indicator glyphicon glyphicon-hand-down" style="font-size:14px;" ></i>
					</a>
					<fieldset v-if="resources_block_is_visible">
						<legend>App resources</legend>
						<div class="col-md-12">
							<ul class="list-group">
								<li>
									<a href="https://fontawesome.com/" class="a_link" target="_blank">
										https://fontawesome.com/
									</a>
								</li>
								<li>
									<a href="https://getbootstrap.com/docs/3.3/components/" class="a_link" target="_blank">
										https://getbootstrap.com/docs/3.3/components/
									</a>
								</li>
								<li>
									<a href="https://adamwathan.me/2016/01/04/composing-reusable-modal-dialogs-with-vuejs/" class="a_link" target="_blank">
										Composing Reusable Modal Dialogs with Vue.js
									</a>
								</li>
								<li>
									<a href="https://murze.be/building-a-realtime-dashboard-powered-by-laravel-and-vue-2017-edition" class="a_link" target="_blank">
										Building a realtime dashboard powered by Laravel and Vue (2017 edition)
									</a>
								</li>
								<li>
									<a href="https://www.youtube.com/watch?v=53AoDB7vcbU" class="a_link" target="_blank">
										1 Open Weather Map API
									</a>
								</li>
								<li>
									<a href="https://vuejs.org/v2/examples/todomvc.html" class="a_link" target="_blank">
										TodoMVC Example
									</a>
								</li>
								<li>
									<a href="http://eliteadmin.themedesigner.in/demos/eliteadmin/chat.html" class="a_link" target="_blank">
										eliteadmin chat
									</a>
								</li>
								<li>
									<a href="https://github.com/vuejs/awesome-vue" class="a_link" target="_blank">
										awesome-vue list
									</a>
								</li>
								<li>
									<a href="https://github.com/richardtallent/vue-simple-calendar#calendar-event-properties" class="a_link" target="_blank">
										vue-simple-calendar
									</a>
								</li>
								<li>
									<a href="http://localhost/info.php" class="a_link" target="_blank">
										info.php
									</a>
								</li>
								<li>
									<a href="http://localhost/phpmyadmin/db_structure.php?server=1&db=tasks_work&token=ed96d0d39be55671ac9c488a4e6217ef" class="a_link" target="_blank">
										phpmyadmin
									</a>
								</li>
								<li>
									<a href="http://local-csvp.com/dashboard/index" class="a_link" target="_blank">
										local-csvp.com/dashboard
									</a>
								</li>
							</ul>
						</div>
					</fieldset>


				</div>





			</section>

		</div>






	</section>
</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';
    import Notify from 'vue-notify-me';
    Vue.component( 'listing-header',  require( '../../components/lib/ListingHeader.vue') );


    export default {
        data: function () {
            return {
                header_title : 'Dashboard',
                is_page_loaded:false,
                assigningTasksAssignedToUserList: [],
                checkingTasksAssignedToUserList: [],
                processingTasksAssignedToUserList: [],

//                assigningTasksAssignedToUserAsTeamLeaderList: [],
//                checkingTasksAssignedToUserAsTeamLeaderList: [],
//                processingTasksAssignedToUserAsTeamLeaderList: [],
                tasksAssignedToUserAsTeamLeaderList: [],

                forAdminAssigningTasksAssignedToUserList: [],
                forAdminProcessingTasksAssignedToUserList: [],
                forAdminCheckingTasksAssignedToUserList: [],


	            activeUserChatsList : [],
                yourActiveUserChatsList : [],
                yourClosedUserChatsList : [],
                yourFutureEventsList : [],


                message:'',
                rows_count: 0,
                per_page: 10,
                current_page: 1,
                loggedUserProfile:{},
                loggedUserInGroups:[],
                is_admin:false,
                is_manager:false,
                resources_block_is_visible: false,
                is_debug:true,

            }

        },

        mixins : [appMixin],

        created() {
//            alert( "$root::"+(this.$root) )
//	        console.log("this.$root::")
//	        console.log(this.$root)
//            alert( "++created resources/assets/js/components/dashboard/DashboardIndex.vue::"+(-1) )
//            alert( "'notify-me'::"+var_dump(111) )
//                data: {
//                    title: 'The pygmy team :)',
//                    text: 'this is my notification'
//                }
//
//            });
        },

        mounted() {
            this.loadDashboardData()

            bus.$on('UserProfileIsSetEvent', (username, site_name, loggedUserProfile, loggedUserInGroups) => {
                console.log("this.loggedUserProfile::");
                console.log(this.loggedUserProfile);

                console.log("this.loggedUserProfile.loggedUserInGroups::");
                console.log(this.loggedUserProfile);

//                alert( "UserProfileIsSetEvent loggedUserInGroups::"+var_dump(loggedUserInGroups) )
                this.page_title = username + " of " + site_name;
                this.loggedUserProfile= loggedUserProfile;
                this.loggedUserInGroups= loggedUserInGroups;
//                alert( "this.loggedUserProfile::"+var_dump(this.loggedUserProfile) )

                this.is_admin= this.checkUserGroupAccess( this.loggedUserInGroups, "Admin" )
//                alert( "this.is_admin::"+(this.is_admin) )

                this.is_manager= this.checkUserGroupAccess( this.loggedUserInGroups, "Manager" )
//                alert( "this.is_manager::"+(this.is_manager) )
            })

            bus.$on('listingHeaderRightButtonClickedEvent', (parent_component_key) => {
	            if ( parent_component_key == 'dashboard' ) {
                    this.loadDashboardData()
	            }
            })
//	        var s= this.conditions();
//            alert( "s::"+var_dump(s) )
        }, // mounted() {


        methods: {

            toggleResourcesBlockIsVisible() {
                this.resources_block_is_visible= !this.resources_block_is_visible
            },

            loadDashboardData() {
                this.message = '';
                this.is_page_loaded = false

                axios.get(window.API_VERSION_LINK + '/dashboard_profile_data' ).then((response) => {
//                    alert( "response.data::"+var_dump(response.data) )
                    if ( response.data.error_code == 11 ) {
                        this.showPopupMessage(error.response.data.message, 'error');
                        this.$router.push({path: '/'});
                    }
                    this.is_page_loaded = true
                    this.assigningTasksAssignedToUserList = response.data.assigningTasksAssignedToUserList;
                    this.processingTasksAssignedToUserList = response.data.processingTasksAssignedToUserList;
                    this.checkingTasksAssignedToUserList = response.data.checkingTasksAssignedToUserList;

//                    this.assigningTasksAssignedToUserAsTeamLeaderList = response.data.assigningTasksAssignedToUserAsTeamLeaderList;
//                    this.processingTasksAssignedToUserAsTeamLeaderList = response.data.processingTasksAssignedToUserAsTeamLeaderList;
//                    this.checkingTasksAssignedToUserAsTeamLeaderList = response.data.checkingTasksAssignedToUserAsTeamLeaderList;
                    this.tasksAssignedToUserAsTeamLeaderList = response.data.tasksAssignedToUserAsTeamLeaderList;

                    this.forAdminAssigningTasksAssignedToUserList = response.data.forAdminAssigningTasksAssignedToUserList;
                    this.forAdminProcessingTasksAssignedToUserList = response.data.forAdminProcessingTasksAssignedToUserList;
                    this.forAdminCheckingTasksAssignedToUserList = response.data.forAdminCheckingTasksAssignedToUserList;
                    this.activeUserChatsList = response.data.activeUserChatsList;
                    this.yourActiveUserChatsList = response.data.yourActiveUserChatsList;
                    this.yourClosedUserChatsList = response.data.yourClosedUserChatsList;
                    this.yourFutureEventsList = response.data.yourFutureEventsList;

//                    alert( "this.forAdminAssigningTasksAssignedToUserList::"+var_dump(this.forAdminAssigningTasksAssignedToUserList) )
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });

            }, // loadDashboardData() {



	        // menuIconsArray
/*
            async conditions(city) {
                city= 'London';
                const query = `select item.condition from weather.forecast where woeid in (select woeid from geo.places(1) where text='${city}') and u='c'`;

                const response = await this.performQuery(query);

                alert( "response::"+var_dump(response) )
                return response.data.query.results.channel.item.condition;
            },

            async performQuery(query) {
                const endpoint = `https://query.yahooapis.com/v1/public/yql?q=${query}&format=json`;

                return await axios.get(endpoint);
            },
*/

        }, // methods: {


    }

    function var_dump (oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }
</script>


<style scoped lang="css">
</style>
