<template>
	<section>
		<div class="form-group pull-right">
			<!--<router-link :to="{name: 'createUserTaskType'}" class="btn btn-success">Add</router-link>-->
			<router-link :to="{ name: 'editUserTaskType', params: { id: 'new' } }" class="btn btn-success">Add</router-link>
			<!--{path: '/admin/user_task_types/edit/:id', component: UserTaskTypesEdit, name: 'editUserTaskType'},-->

			<!--editUserTaskType-->
		</div>

		<div class="panel panel-default">

			<listing-header :show_loading_image=is_page_loaded :rows_count=rows_count :current_page=current_page :itemsList="userTaskTypes"
			 :header_icon="getHeaderIcon('user_task_type')" :header_title=header_title :item_title="'row'" :message=message></listing-header>

			<section class="panel-body white-box text-primary">

				<div v-if="is_page_loaded && userTaskTypes.length">
					<table class="table table-striped text-primary">
						<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Description</th>
							<th>Created at</th>
							<th width="100">&nbsp;</th>
						</tr>
						</thead>
						<tbody>
						<tr v-for="nextUserTaskType, index in userTaskTypes">
							<td class="integer_cell">{{ nextUserTaskType.id }}</td>
							<td>
								{{ nextUserTaskType.name }}
								<span v-if="nextUserTaskType.task_assigned_to_users_count > 0">
									<span class="text-muted"><small> ( Used in {{ nextUserTaskType.task_assigned_to_users_count }} user's assignment(s) )</small></span>
								</span>
							</td>
							<td>{{ concatStr(nextUserTaskType.description) }}</td>
							<td class="datetime_cell">{{ nextUserTaskType.created_at_label }}</td>

							<td>
								<router-link :to="{name: 'editUserTaskType', params: {id: nextUserTaskType.id}}">
									<i class="glyphicon glyphicon-edit m-r-20" title="Edit user's type task"></i>
								</router-link>
								<a href="#" v-on:click="removeUserTaskType(nextUserTaskType.id, nextUserTaskType.name, index)">
									<i class="glyphicon glyphicon-remove" title="Delete user's type task"></i>
								</a>
							</td>


						</tr>
						</tbody>
					</table>

					<listing-pagination	 :current="current_page"	:total="rows_count"	:items_per_page="per_page" :show_next_prior_buttons=false
					                       @page-changed="loadUserTaskTypesList"	></listing-pagination>

				</div>

			</section>
		</div>
	</section>
</template>

<script>
    //    console.log(foo); // bar
    import appMixin from '../../appMixin';
    import {bus} from '../../app';
    Vue.component( 'listing-pagination',  require( '../../components/lib/ListingPagination.vue') );
    Vue.component( 'listing-header',  require( '../../components/lib/ListingHeader.vue') );

    export default {
        data: function () {
            return {
                header_title : 'User\'s type tasks',
                is_page_loaded:false,
                userTaskTypes: [],
                message:'',
                rows_count: 0,
                per_page: 10,
                current_page: 1
            }

        },

        mixins : [appMixin],

        created() {
        },

        mounted() {
//                alert( "mounted??::" )
            this.loadUserTaskTypesList()
        }, // mounted() {

        methods: {

	        loadUserTaskTypesList() {
                this.message = '';
                this.is_page_loaded = false

//	            alert( "++++loadUserTaskTypesList  " )
                axios.get( window.API_VERSION_LINK + '/user_task_types' ).then((response) => {
                    this.is_page_loaded = true
                    this.userTaskTypes = response.data.userTaskTypesList;

                    this.rows_count = response.data.rows_count;
                    this.per_page = response.data.per_page
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });

            }, // loadUserTaskTypesList() {

            removeUserTaskType(id, user_task_type_name, index) {
	            this.message = '';
                this.confirmMsg( "Do you want to delete '" + user_task_type_name + "' user's task type ?",  () => {
                    axios.delete(window.API_VERSION_LINK + '/user_task_types/' + id ).then((response) => {
                        this.showPopupMessage('User\'s task type deleted successfully. ', 'success');
                        this.loadUserTaskTypesList()
                    }).catch((error) => {
                        this.showPopupMessage('Error deleting user\'s task type. ', 'error');
                        this.showRunTimeError(error, this);
                    });
                });






    }, //removeUserTaskType(id, user_task_type_name, index) {

        }
    }
</script>
