
/* STYLING TAGS START */

.icon_cell {
	background-color: white;
}
.integer_cell, .integer_cell:focus {
	text-align: right;
}

.float_cell, .float_cell:focus {
	text-align: right;
}

.icon_cell, .icon_cell:focus {
	text-align: center;
}

.ul_multiline {
	padding: 0.2em 0.5em 0.5em 0.5em;
}

.ul_multiline a {
	cursor: pointer;
}

.ul_multiline li {
	list-style: none;
}

.styling_checkbox {
	vertical-align: top;
	margin: 0 3px 0 0;
	width: 17px;
	height: 17px;
}

.styling_checkbox + label {
	cursor: pointer;
}

.styling_checkbox:not(checked) {
	position: absolute;
	opacity: 0;
}

.styling_checkbox:not(checked) + label {
	position: relative;
	padding: 0 0 0 60px;
}

.styling_checkbox:not(checked) + label:before {
	content: '';
	position: absolute;
	top: -4px;
	left: 0;
	width: 50px;
	height: 26px;
	border-radius: 13px;
	background: #DADADA;
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}

.styling_checkbox:not(checked) + label:after {
	content: '';
	position: absolute;
	top: -2px;
	left: 2px;
	width: 22px;
	height: 22px;
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: all .2s;
	/* анимация, чтобы чекбокс переключался плавно */
}

/* Меняем фон чекбокса, когда он включен. */

.styling_checkbox:checked + label:before {
	background: #3C3C3C;
	box-shadow: 0 0 0 3px rgba(60, 60, 60, 0.5);
}

/* Сдвигаем переключатель чекбокса, когда он включен. */

.styling_checkbox:checked + label:after {
	box-shadow: 0 0 0 3px rgba(60, 60, 60, 0.5);
	left: 26px;
}

/* Показываем получение фокуса. */

.styling_checkbox:focus + label:before {
	box-shadow: 0 0 0 3px rgba(205, 209, 218, 0.5);
}

/*Custom tab*/
/*
.customtab li.active a,
.customtab li.active a:hover,
.customtab li.active a:focus {
	border-bottom: 2px solid #03a9f3;
	color: #03a9f3;
}
.tabs-vertical li.active a,
.tabs-vertical li.active a:hover,
.tabs-vertical li.active a:focus {
	background: #03a9f3;
	border-right: 2px solid #03a9f3;
}
*/

.modal-content-full-width {
	min-width: 1280px;
	min-height: 780px;
	border: 0px red;
	padding: 0.5em;
	margin: auto;
	margin-top: 30px;
	background-color: white;
}

.modal-dialog-full-width {
	max-width: 1280px;
	max-height: 780px;
	margin-top: 30px;
	background-color: white ;
}

.modal-body-full-width {
	padding: 10px;
	overflow-x: hidden;
	overflow-y: scroll;
	align-content: center;
	margin: auto;
	max-height: 780px;
	border: 0px solid red;
	background-color: white;
}

.image_outer_loading {
	width: 100%;
}
.image_inner_loading {
	width: 50%;
	margin: auto;
	text-align: center;
	background-color: green;
}

