<template>
	<section>

		<div class="panel panel-default">

			<editor-header :show_loading_image="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('task')" :header_title=header_title
			               :message=message></editor-header>

			<section class="panel-body white-box text-primary">
				<form @submit.prevent="validateBeforeSubmit" class="form-horizontal">

					<div class="row" v-if="!is_insert">
						<div class="col-xs-12 form-group">
							<label class="col-xs-12 col-sm-4 control-label">ID</label>
							<div class="col-xs-12 col-sm-8">
								<input type="text" v-model="category.id" class="form-control integer_input" readonly>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 form-group">
							<label class="col-xs-12 col-sm-4 control-label" for="name">Name<span class="required"> * </span></label>
							<div class="col-xs-12 col-sm-8">
								<input v-validate="'required|max:50'" v-model="category.name"
								       :class="{ 'form-control':true, 'input': true, 'text-danger': vueErrorsList.has('name') }" name="name" id="name"
								       type="text" placeholder="Enter unique name of category">
								<span v-show="vueErrorsList.has('name')" class="text-danger">{{ vueErrorsList.first('name') }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 form-group">
							<label class="col-xs-12 col-sm-4 control-label" for="parent_id">
								Parent Category&nbsp;<small class="form-text text-muted">Optional</small>
							</label>
							<div class="col-xs-12 col-sm-8">
								<select id="parent_id" name="parent_id" :class="{ 'form-control':true, 'errors': vueErrorsList.has('parent_id') }"
								        v-model="category.parent_id">
									<option v-for="nextCategory, index in categoriesSelectionList" v-bind:value="nextCategory.key">{{ nextCategory.label }}
									</option>
								</select>
								<span v-show="vueErrorsList.has('parent_id')" class="text-danger">{{ vueErrorsList.first('parent_id') }}</span>
							</div>

						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 form-group">
							<label class="col-xs-12 col-sm-4 control-label" for="description">
								&nbsp;Description<small class="form-text text-muted">Optional</small>
							</label>
							<div class="col-xs-12 col-sm-8">
								<input v-model="category.description" v-validate="'max:255'" :class="{ 'form-control':true, 'input': true, 'text-danger':
								vueErrorsList.has('description') }" name="description" id="description" type="text" placeholder="Enter description of category">
								<span v-show="vueErrorsList.has('description')" class="text-danger">{{ vueErrorsList.first('description') }}</span>

							</div>
						</div>
					</div>

					<div class="row" v-if="!is_insert">
						<div class="col-xs-12 form-group">
							<label class="col-xs-12 col-sm-4 control-label">Created at</label>
							<div class="col-xs-12 col-sm-8">
								<input type="text" v-model="category.created_at_label" class="form-control" readonly>
							</div>
						</div>
					</div>

					<div class="row pull-right">
						<editor-buttons :submit_label="submit_label" :cancel_label="'Cancel'"  :cancel_link="'#/admin/tasks'" :is_page_updating="is_page_updating"></editor-buttons>
					</div>

				</form>
			</section>
		</div>
	</section>
</template>


<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';
    Vue.component( 'editor-header',  require( '../../components/lib/EditorHeader.vue') );
    Vue.component( 'editor-buttons',  require( '../../components/lib/EditorButtons.vue') );
    export default {
        created() {
            if ( this.$route.params.id == "new" ) {
                this.is_insert = true
                this.category_id= "new"
                this.submit_label= "Add"
            } else {
                this.category_id= this.$route.params.id
            }

            this.$validator.localize(window.CURRENT_LANG, {
                attributes: {
                    parent_id : 'Parent category',
                }
            });

        },

        mixins: [appMixin],

        mounted() {
            if ( !this.is_insert ) { // retrieve row for editing
                this.loadCategory();
            }
            this.loadCategoryDictionaries();
        }, // mounted() {


        data: function () {
            return {
                is_page_loaded: false,
                is_page_updating: false,
                is_insert:false,
                submit_label:"Update",
                category_id: null,
                category: {
                    name: '',
                    description: '',
                    parent_id: '',
                },
                categoriesSelectionList: [],
                message: '',
            }
        }, // data: function () {

        computed: {

            header_title: function () {
                if ( !this.is_insert ) return "Edit category";
                return "Add category";
            },

        }, // computed: {


        methods: {

            loadCategory() {
                this.is_page_loaded = false
                axios.get(window.API_VERSION_LINK + '/categories/' + this.$route.params.id).then((response) => {
                    this.is_page_loaded = true
                    this.category = response.data.category;
                }).catch((error) => {
                    if ( error.response.data.error_code == 11 ) {
                        this.showPopupMessage(error.response.data.message, 'error');
                        this.$router.push({path: '/'});
                    }
                    this.is_page_loaded = true
                    this.showRunTimeError(error, app);
                });
            }, // loadCategory() {

            loadCategoryDictionaries() {
                this.is_page_loaded = false
                axios.get(window.API_VERSION_LINK + '/categories_dictionaries/' + this.category_id ).then((response) => {
                    this.is_page_loaded = true
                    this.categoriesSelectionList = response.data.categoriesSelectionList;
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, // loadCategoryDictionaries() {


            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.updateCategory()
                    } else {
                        this.showPopupMessage('Error ' + ( this.is_insert? 'adding' : 'updating' ) + ' category. ', 'error');
                    }
                })
            }, // validateBeforeSubmit() {

            updateCategory() {
                this.is_page_updating = true
                axios({
                    method: ( this.is_insert ? 'post' : 'patch' ),
                    url: window.API_VERSION_LINK + '/categories' + ( !this.is_insert ? "/"+this.category_id : ''),
                    data: this.category,
                }).then((response) => {
                    this.is_page_updating = false
                    this.$router.push({path: '/'});
                    this.showPopupMessage('Category ' + ( this.is_insert? 'added' : 'updated' ) + ' successfully. ', 'success');
                }).catch((error) => {
                    this.$setLaravelValidationErrorsFromResponse(error.response.data);
                    this.is_page_updating = false
                    this.showRunTimeError(error, this);
                    this.showPopupMessage('Error ' + ( this.is_insert? 'adding' : 'updating' ) + ' category. ', 'error');
                });

            }, // updateCategory() {

        } // methods: {

    }
</script>
