<template>
	<section>

		<div class="form-group pull-right">
			<router-link :to="{ name: 'editCategory', params: { id: 'new' } }" class="btn btn-success">Add Category</router-link>
			&nbsp;&nbsp;<router-link :to="{ name: 'editTask', params: { id: 'new' } }" class="btn btn-success">Add Task</router-link>
		</div>

		<div class="panel panel-default">

			<listing-header :show_loading_image=is_page_loaded :current_page=current_page :itemsList="tasksList" :header_icon="getHeaderIcon('task')"
			                :header_title=header_title ></listing-header>

			<section class="panel-body white-box text-primary">


				<div class="row p-20" v-if="treeData.children">
					<div class="col-xs-12 col-sm-4">
						<input name="filter" type="radio" value="all"  v-model="filter" v-on:click="tasksFilterApplied('all')" > All
					</div>
					<div class="col-xs-12 col-sm-4">
						<input name="filter" type="radio" value="checking"  v-model="filter" v-on:click="tasksFilterApplied('checking')" > Checking status
					</div>
					<div class="col-xs-12 col-sm-4">
						<input name="filter" type="radio" value="processing"  v-model="filter" v-on:click="tasksFilterApplied('processing')" > Processing status
					</div>
				</div>

				<div class="col-xs-12" v-if="treeData.children">
					<ul id="tasks-treeview-item">
						<tasks-treeview-item class="item" :treeItemData="treeData"></tasks-treeview-item>
					</ul>
				</div>


			</section>
		</div>

	</section>
</template>




<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';
    // TASKS TREEVIEW ITEM BLOCK START

    var task_popover_html= '\t\t\t<button v-popover:foo>Toggle popover</button>\n' +
        '\n' +
        '\t\t\t<popover name="foo">\n' +
        '\t\t\t\t{{ treeItemData.id }}={{ treeItemData.date_start_label }}={{ treeItemData.date_end_label }}'+'\n' +
        '\t\t\t</popover>\n';
//
	window.Vue = require('vue');
	var task_edit_link= '<span v-if="treeItemData.is_data==\'task\'">&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-edit m-r-20 task-editor-icon" title="Edit task"' +
    ' @click="taskEditor(' + ' treeItemData.id )"></i></span>';
	var task_delete_link= '<span v-if="treeItemData.is_data==\'task\'">&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-remove m-r-20 task-editor-icon" title="Delete task"' +
    ' @click="taskDelete(' + ' treeItemData.name, ' + ' treeItemData.id )"></i></span>';
	var task_icon_html= '<span v-if="treeItemData.is_data==\'task\'"><i class="glyphicon glyphicon-list-alt"></i>' + '</span>';


	var categoty_edit_link= '<span v-if="treeItemData.is_data==\'category\'">&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-edit m-r-20" title="Edit categoty"' +
    ' @click="categoryEditor( treeItemData.id )"></i></span>';
	var categoty_delete_link= '<span v-if="treeItemData.is_data==\'category\'">&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-remove m-r-20" title="Delete categoty"' +
    ' @click="categoryDelete( ' + ' treeItemData.name, ' + '  treeItemData.id )"></i></span>';

	window.Vue.component('tasks-treeview-item', {
        template:
        '  <li>\n' +
        '    <span\n' +
        '      :class="{bold: isFolder}"\n' +
        '      @click="toggleItemClicked"\n' +
        '      @dblclick="changeType">\n' +
        '      <span v-if="isFolder">[{{ is_item_opened ? \'-\' : \'+\' }}]</span>\n' +
        '      '+task_icon_html+'&nbsp;<span v-bind:style="setPriorityColor(treeItemData)">&nbsp;{{ treeItemData.id }}=>{{ treeItemData.name }} <span style="font-size: small;font-weight: bold;">{{ treeItemData.status_label }}</span></span>\n' + task_edit_link +
        task_delete_link +
        // '      {{ treeItemData.id }}=>'+task_icon_html+'=>{{ treeItemData.name }}\n' + task_edit_link + task_delete_link +
        '    </span>\n' + categoty_edit_link + categoty_delete_link +
        '    <ul class="tasks-treeview-item" v-show="is_item_opened" v-if="isFolder">\n' +
        '      <tasks-treeview-item\n' +
        '        class="item"\n' +
        '        v-for="(nextModel, index) in treeItemData.children"\n' +
        '        :key="index"\n' +
        '        :treeItemData="nextModel">\n' +
        '      </tasks-treeview-item>\n' +
        '    </ul>\n' +
        '  </li>\n'   ,
        props: {
            treeItemData: {}
        },
        data: function () {
            return {
                is_item_opened: true
            }
        },
        computed: {
            isFolder: function () {
                return this.treeItemData.children &&
                    this.treeItemData.children.length
            }
        },

        mixins : [appMixin],

        methods: {

            setPriorityColor(treeviewItemRow) {
                if ( typeof treeviewItemRow.is_data != 'undefined' && treeviewItemRow.is_data == 'task' ) {
                    return 'backgroundColor:'+settings_priorityColorsArray[treeviewItemRow.priority]
                }
                return '#ccc'
            },

            toggleItemClicked: function () {
                if (this.isFolder) {
                    this.is_item_opened = !this.is_item_opened
                }
            },
            changeType: function () {
                if (!this.isFolder) {
                    Vue.set(this.treeItemData, 'children', [])
                    this.addChild()
                    this.is_item_opened = true
                }
            },
            addChild: function () {
                this.treeItemData.children.push({
                    name: 'new stuff'
                })
            },

            taskEditor(task_id) {
                this.$router.push( {path: '/admin/tasks/edit/'+task_id } );
            },

            taskDelete(task_name, task_id) {
                bus.$emit('taskDeleteEvent', task_name, task_id );
            },


            categoryEditor(category_id) {
                this.$router.push( {path: '/admin/tasks/category/'+category_id } );
            },

            categoryDelete(category_name, category_id) {
                bus.$emit('categoryDeleteEvent', category_name, category_id );
            },


        }
    })
    // TASKS TREEVIEW ITEM BLOCK END

    export default {
        data: function () {
            return {
                header_title : 'Tasks',
                is_page_loaded:false,
                tasksList: [],
                message:'',
                rows_count: 0,
                per_page: 10,
                current_page: 1,
                treeData: [],
                is_item_opened:true,
                filter:'',
            }

        },

        mixins : [appMixin],

        created() {
            bus.$on('UserProfileIsSetEvent', (username, site_name, loggedUser, loggedUserInGroups) => {
                var is_admin= this.checkUserGroupAccess( loggedUserInGroups, "Admin" )
                var is_manager= this.checkUserGroupAccess( loggedUserInGroups, "Manager" )
                if ( !is_admin && !is_manager ) {
                    this.showPopupMessage('You have no access to tasks editor', 'error');
                    this.$router.push({path: '/admin/dashboard'});
                }
            })
        },

        mounted() {
            bus.$on('categoryDeleteEvent', ( category_name, category_id ) => {
                this.message = '';
                this.confirmMsg( "Do you want to delete '" + category_name + "' category with all related subcategories/tasks?",  () => {
                    axios.delete(window.API_VERSION_LINK + '/category_destroy/' + category_id ).then((response) => {
                        this.loadTasksList()
                        this.showPopupMessage('Category deleted successfully. ', 'success');
                    }).catch((error) => {
                        this.showPopupMessage('Error deleting category. ', 'error');
                        this.showRunTimeError(error, this);
                    });
                });
            })

            bus.$on('taskDeleteEvent', ( task_name, task_id ) => {
                this.message = '';
                this.confirmMsg( "Do you want to delete '" + task_name + "' task with all related data ?",  () => {
                    axios.delete(window.API_VERSION_LINK + '/tasks/' + task_id ).then((response) => {
                        this.loadTasksList()
                        this.showPopupMessage('Task deleted successfully. ', 'success');
                    }).catch((error) => {
                        this.showPopupMessage('Error deleting task. ', 'error');
                        this.showRunTimeError(error, this);
                    });
                });
            })

            this.loadTasksList()

        }, // mounted() {

        methods: {


            loadTasksList(filter_to_change) {
                this.message = '';
                this.is_page_loaded = false
	            if ( typeof filter_to_change != "undefined" ) {
                    this.filter = filter_to_change
	            } else {
                    this.filter = jQuery.trim(this.$route.params.filter)
                }
                axios.get(
                    window.API_VERSION_LINK + '/tasks/' + ( this.filter!="" ? "filter/" : "" ) + this.filter ).then((response) => {
                    this.is_page_loaded = true
                    this.tasksList = response.data.tasksList;

                    if ( this.tasksList.length > 0 ) {
                        this.treeData = [];
                        this.treeData['is_data'] = 'root';
                        this.treeData['id'] = -1;
                        this.treeData['name'] = 'All Tasks(' + response.data.tasks_count + ') by categories(' + response.data.categories_count + ')';
                        this.treeData['children'] = response.data.tasksList;
                    }
                    this.rows_count = response.data.rows_count;
                    this.per_page = response.data.per_page
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });

            }, // loadTasksList() {

            tasksFilterApplied(value) {
                this.list_filter= value;
                this.loadTasksList(value)
            }

        } // methods: {
    }

    function var_dump (oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }
</script>


