<template>
    <section>

        <!-- CHANGE TASK STATUS MODAL START-->
        <div class="modal fade" id="change_task_status_dialog" tabindex="-1" role="dialog" aria-labelledby="change_task_status_dialog_label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="change_task_status_dialog_label"> Changing status of this task</h4>
                    </div>

                    <div class="modal-body">
                        <div v-if="change_task_status_dialog_to_status == 'A'">
                            <p class="text-info p-10">
                                Please, confirm, that you set status of this task to "Assigning",<br> so employees would have to accept/cancel their subtasks.
                            </p>
                        </div>
                        <div v-if="change_task_status_dialog_to_status == 'C'">
                            <p class="text-info p-10">
                                Please, confirm, that you set status of this task to "Cancelled",<br> so employees would have to stop working on this task.
                            </p>
                        </div>
                        <div v-if="change_task_status_dialog_to_status == 'P'">
                            <p class="text-info p-10">
                                Please, confirm, that you set status of this task to "Processing",<br> so employees would start working on this task.
                            </p>
                        </div>

                        <div v-if="change_task_status_dialog_to_status == 'K'">
                            <p class="text-info p-10">
                                Please, confirm, that you set status of this task to "Checking",<br> so team leader of this task would check this task.
                            </p>
                        </div>

                        <div v-if="change_task_status_dialog_to_status == 'O'">
                            <p class="text-info p-10">
                                Please, confirm, that you set status of this task to "Completed",<br> so employees would not continue working on this task.
                            </p>
                        </div>

                        <div class="text-info p-10">
                            You can add info
                            <small class="form-text text-muted">Optional</small>
                            <textarea rows="6" class="form-control" v-model="change_task_status_dialog_info"></textarea>
                        </div>
                    </div> <!-- modal-body -->

                    <div class="modal-footer">
                        <div class="row pull-right">
                            <div class="btn-group editor_btn_group">
                                <button type="button" @click.prevent="updateChangeTaskStatus()" class="btn btn-primary" style="margin-right: 20px;">
                                    <i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Change status
                                </button>
                                <button type="button"  @click.prevent="cancelChangeTaskStatusDialog()" class="btn btn-cancel-action">
                                    <i class="glyphicon glyphicon-remove"></i>&nbsp;Cancel
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- CHANGE TASK STATUS MODAL END -->


        <div class="panel panel-default">


            <!--change_task_status_dialog_to_status::{{ change_task_status_dialog_to_status }};<br>-->
            <!--change_task_status_dialog_info::{{ change_task_status_dialog_info }};<br>-->
            <!--debugging_id::{{ debugging_id }};<br>-->
            <!--task::{{ task}}<br>-->
            <!--submit_label::{{ submit_label}}<br>-->
            <!--is_insert::{{ is_insert }}-->

            <editor-header :show_loading_image="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('task')" :header_title=header_title
                           :message=message></editor-header>

            <div class="row col-xs-12" v-if="is_page_loaded">
            <section class="panel-body white-box text-primary">


                <ul class="nav nav-tabs ">

                    <li class="active"><a data-toggle="tab" href="#details">Details</a></li>

                    <li v-if="!is_insert" >
                        <a data-toggle="tab" href="#tab_task_status_changes_history">
                            Status changes history
                            <span v-if="task_status_changes_history_list_count">( {{ task_status_changes_history_list_count }} )</span>
                        </a>
                    </li>

                    <li v-if="!is_insert" >
                        <a data-toggle="tab" href="#tab_task_operation_history">
                            Operations history
                            <span v-if="task_operation_history_list_count">( {{ task_operation_history_list_count }} )</span>
                        </a>
                    </li>

                    <li v-if="!is_insert" >
                        <a data-toggle="tab" href="#tab_user_chats">
                            Related chats
                            <span v-if="relatedUser_chats_list_count">( {{ relatedUser_chats_list_count }} )</span>
                        </a>
                    </li>

                    <li v-if="!is_insert" >
                        <a data-toggle="tab" href="#tab_events">
                            Related events
                            <span v-if="relatedUser_chats_list_count">( {{ relatedUser_chats_list_count }} )</span>
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <!--in active-->
                    <div id="details" class="tab-pane fade in active">
                    <form @submit.prevent="validateBeforeSubmit" class="form-horizontal">

                    <div class="row" v-if="!is_insert">
                        <div class="col-xs-12 form-group">
                            <label class="col-xs-12 col-sm-4 control-label">ID</label>
                            <div class="col-xs-12 col-sm-8">
                                <input type="text" v-model="task.id" class="form-control integer_input" readonly>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">

                        <div class="col-xs-12 form-group" >
                            <label class="col-xs-12 col-sm-4 control-label" for="name">Name<span class="required"> * </span></label>
                            <div class="col-xs-12 col-sm-8">
                                <input v-validate="'required|max:255'" v-model="task.name"
                                       :class="{ 'form-control':true, 'input': true, 'text-danger': vueErrorsList.has('name') }" name="name" id="name"
                                       type="text" placeholder="name">
                                <span v-show="vueErrorsList.has('name')" class="text-danger">{{ vueErrorsList.first('name') }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="col-xs-12 col-sm-4 control-label" for="category_id">Category<span class="required"> * </span></label>
                            <div class="col-xs-12 col-sm-8">
                                <v-select v-validate="'required'" id="category_id" name="category_id" v-model="selection_category_id" :options=categoriesSelectionList></v-select>
                                <span v-show="vueErrorsList.has('category_id')" class="text-danger">{{ vueErrorsList.first('category_id') }}</span>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="col-xs-12 col-sm-4 control-label" for="priority">Priority <span class="required"> * </span></label>
                            <div class="col-xs-12 col-sm-8">

                                <div class="input_with_btn_at_right">
                                    <select id="priority" name="priority" v-validate="'required'" :class="{ 'form-control':true, 'errors': vueErrorsList.has('priority') }"
                                            v-model="task.priority">
                                        <option value=""> -Select priority- </option>
                                        <option v-for="nextPriority, index in taskPrioritiesSelectionList" v-bind:value="nextPriority.key">{{ nextPriority.label }}
                                        </option>
                                    </select>

                                    <el-tag  v-bind:style="priority_color" >&nbsp;&nbsp;&nbsp;&nbsp;</el-tag>
                                    <!--<span  v-bind:style="priority_color" >&nbsp;&nbsp;&nbsp;&nbsp;</span>-->
                                </div>


                                <!--<block-button-at-right-end></block-button-at-right-end>-->
                                <span v-show="vueErrorsList.has('priority')" class="text-danger">{{ vueErrorsList.first('priority') }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 form-group">

                            <label class="col-xs-12 col-sm-4 control-label" for="status">Status <span class="required"> * </span></label>
                            <div class="col-xs-12 col-sm-8">
                                <div v-if="is_insert">
                                    <select id="status" name="status" v-validate="'required'" class="form-control" v-model="task.status">
                                        <option value=""> -Select status- </option>
                                        <option v-for="nextStatus, index in taskStatusSelectionList" v-bind:value="nextStatus.key">{{ nextStatus.label }}
                                        </option>
                                    </select>
                                    <p class="text-info">Adding new task you can set status only to "Draft" or "Assigning"</p>
                                </div>

                                <div v-if="!is_insert">
                                    <input type="text" v-model="task.status_label" class="form-control" readonly>


                                    <div class="col-xs-12 p-20" >
                                        <div class="col-xs-12 p-b-10" v-if="task.status != 'A' && task.status != 'C' && task.status != 'O'">
                                            <button class="btn btn-default-button" @click.prevent="changeTaskStatus('A','Assigning')"><i class="glyphicon glyphicon-flash"></i>&nbsp;Assigning</button>
                                            <h5>Set this task to "Assigning" status</h5>
                                        </div>

                                        <div class="col-xs-12 p-b-10" v-if="task.status != 'C' && task.status != 'C' && task.status != 'O'">
                                            <button class="btn btn-default-button" @click.prevent="changeTaskStatus('C','Cancelled')"><i
                                                class="glyphicon glyphicon-flash"></i>&nbsp;Cancelled</button>
                                            <h5>Set this task to "Cancelled" status</h5>
                                        </div>

                                        <div class="col-xs-12 p-b-10" v-if="task.status != 'P' && task.status != 'C' && task.status != 'O'">
                                            <button class="btn btn-default-button" @click.prevent="changeTaskStatus('P','Processing')"><i
                                                class="glyphicon glyphicon-flash"></i>&nbsp;Processing</button>
                                            <h5>Set this task to "Processing" status</h5>
                                        </div>

                                        <div class="col-xs-12 p-b-10" v-if="task.status != 'K' && task.status != 'C' && task.status != 'O'">
                                            <button class="btn btn-default-button" @click.prevent="changeTaskStatus('K','Checking')"><i class="glyphicon glyphicon-flash"></i>&nbsp;
                                                Checking</button>
                                            <h5>Set this task to "Checking" status</h5>
                                        </div>

                                        <div class="col-xs-12 p-b-10" v-if="task.status != 'O' && task.status != 'C' && task.status != 'O'">
                                            <button class="btn btn-default-button" @click.prevent="changeTaskStatus('O','Completed')"><i
                                                class="glyphicon glyphicon-flash"></i>&nbsp;Completed</button>
                                            <h5>Set this task to "Completed" status</h5>
                                        </div>

                                        <div class="col-xs-12 p-b-10" v-if="task.status == 'C'">
                                            <p class="text-info p-10">
                                                As this task was "Cancelled", employees can not work on this task.
                                            </p>
                                        </div>

                                        <div class="col-xs-12 p-b-10" v-if="task.status == 'O'">
                                            <p class="text-info p-10">
                                                As this task was "Completed", employees can not work on this task.
                                            </p>
                                        </div>

                                    </div>

                                </div>

                                <span v-show="vueErrorsList.has('status')" class="text-danger">{{ vueErrorsList.first('status') }}</span>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="col-xs-12 col-sm-4 control-label" for="needs_reports">Needs Reports <span class="required"> * </span></label>
                            <div class="col-xs-12 col-sm-8">
                                <select id="needs_reports" name="needs_reports" v-validate="'required'" :class="{ 'form-control':true, 'errors': vueErrorsList.has('needs_reports') }" v-model="task.needs_reports">
                                    <option value=""> -Select needs reports- </option>
                                    <option v-for="nextNeedsReports, index in taskNeedsReportsSelectionList" v-bind:value="nextNeedsReports.key">{{ nextNeedsReports.label }}
                                    </option>
                                </select>
                                <span v-show="vueErrorsList.has('needs_reports')" class="text-danger">{{ vueErrorsList.first('needs_reports') }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="col-xs-12 col-sm-4 control-label" for="needs_reports">Date start<span class="required"> * </span></label>
                            <div class="col-xs-12 col-sm-8 p-t-10">
                                <datepicker v-model="task.date_start" id="date_start" :format="customFormatter" :required=true
                                            :bootstrapStyling=true :clear-button=true></datepicker>
                                <span v-show="vueErrorsList.has('date_start')" class="text-danger">{{ vueErrorsList.first('date_start') }}</span>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="col-xs-12 col-sm-4 control-label" for="needs_reports">Date end<span class="required"> * </span></label>
                            <div class="col-xs-12 col-sm-8 p-t-10">
                                <datepicker v-model="task.date_end" id="date_end" :format="customFormatter" :required=true :bootstrapStyling=true
                                            :clear-button=true></datepicker>
                                <span v-show="vueErrorsList.has('date_end')" class="text-danger">{{ vueErrorsList.first('date_end') }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="col-xs-12 col-sm-4 control-label" for="task_content">Description<span class="required"> * </span></label>
                            <div class="col-xs-12 col-sm-8">
                                <markdown-editor :content="task.description" :editor_type="'task'" :unique_id="task_id"
                                                 :how_short_help_text=true :show_full_help_link=true></markdown-editor>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="col-xs-12 col-sm-4 control-label" for="needs_reports">Create chart for this task</label>
                            <div class="col-xs-12 col-sm-8 p-t-10">
                                <button class="btn btn-default-button" @click="createChartForThisTask"><i class="glyphicon glyphicon-yen"></i>&nbsp;Select</button>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-12 form-group"  >

                            <label class="col-xs-12 col-sm-4 control-label">
                                Participants
                                <span class="required"> * </span>
                                <a data-toggle="a_link" v-on:click="toggleSelectedActiveUsersBlockIsVisible" >
                                    <i class="indicator glyphicon glyphicon-hand-down" style="font-size:14px;" ></i>
                                </a>
                            </label>
                            
                            <!--<div class="col-xs-12 col-sm-8 collapse out " id="toggle_selected_active_users_count_block">-->
                            <div class="col-xs-12 col-sm-8 p-t-10">
                                Selected {{ selected_active_users_count }} from {{ activeUsersSelectionArray.length }} user(s) in task

                                <div :class="{ 'collapse row ':true, 'in': users_in_task_visible , 'out': !users_in_task_visible }" >

                                <fieldset >
                                    <legend>Members</legend>

                                    <small class="form-text text-muted p-10">
                                        You can select only one user as leader of this task.
                                    </small>

                                    <small v-if="errorsList.taskAssignedToUsersArray" class="text-danger">{{ errorsList.taskAssignedToUsersArray[0] }}</small>

                                    <div v-for="nextActiveUser, index in activeUsersSelectionArray" v-bind:id="nextActiveUser.id" class="col-xs-12 ">
                                        <div class="row p-20">
                                            <label class="col-xs-12 col-sm-4 control-label text-right">{{ nextActiveUser.name }} : </label>
                                            <!--nextActiveUser.task_assigned_status::{{ nextActiveUser.task_assigned_status }};;nextActiveUser.id::{{ nextActiveUser.id }};;-->
                                            <div class="col-xs-12 col-sm-4">
                                                <select v-bind:id="'task_assigned_to_user_status_' + nextActiveUser.id" class="form-control task_assigned_to_user"
                                                        v-model="nextActiveUser.task_assigned_status">
                                                    <option value=""> Select participation </option>
                                                    <option v-for="nextTaskAssignedToUsersStatus, index in taskAssignedToUsersStatusSelectionList"
                                                            v-bind:value="nextTaskAssignedToUsersStatus.key">{{ nextTaskAssignedToUsersStatus.label }}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="col-xs-12 col-sm-4">
                                                <select v-bind:id="'task_assigned_to_user_task_type_' + nextActiveUser.id" class="form-control task_assigned_to_user_task_type"
                                                        v-model="nextActiveUser.task_assigned_user_task_type_id">
                                                    <option value=""> Select task type </option>
                                                    <option v-for="nextUserTaskType, index in userTaskTypesSelectionList" v-bind:value="nextUserTaskType.key">
                                                        {{ nextUserTaskType.label }}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="col-xs-12 m-t-5">
                                                <label class="col-xs-12 col-sm-4 control-label text-right">Description<small class="form-text text-muted"> Optional</small></label>
                                                <div class="col-xs-12 col-sm-8">
                   								<textarea v-bind:id="'task_assigned_to_user_description_' + nextActiveUser.id" rows="4" class="form-control"
                                                          placeholder="Enter description for the selected user..." v-model="nextActiveUser.task_assigned_description"></textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </fieldset>

                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="row" v-if="!is_insert">
                        <div class="col-xs-12 form-group">
                            <label class="col-xs-12 col-sm-4 control-label">Created at</label>
                            <div class="col-xs-12 col-sm-8">
                                <input type="text" v-model="task.created_at_label" class="form-control" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row" v-if="!is_insert">
                        <div class="col-xs-12 form-group">
                            <label class="col-xs-12 col-sm-4 control-label">Updated at</label>
                            <div class="col-xs-12 col-sm-8">
                                <input type="text" v-model="task.updated_at_label" class="form-control" readonly>
                            </div>
                        </div>
                    </div>




                    <div class="row pull-right">
                        <editor-buttons :submit_label="submit_label" :cancel_label="'Cancel'" :cancel_link="'#/admin/tasks'"
                                        :is_page_updating="is_page_updating"></editor-buttons>
                    </div>

                    <a @click="removeTask">DELETE</a>
                </form>

                </div> <!-- <div id="details" -->

                    <div id="tab_task_status_changes_history" class="tab-pane fade" v-if="!is_insert">
                        <task-status-changes-history :request_type="'by_task_id'" :filter_id="task_id" :show_prior_status="true" :show_operation_username="true">
                        </task-status-changes-history>
                    </div> <!-- <div id="tab_task_status_changes_history" -->

                    <div id="tab_task_operation_history" class="tab-pane fade" v-if="!is_insert">
                        <task-operation-history :request_type="'by_task_id'" :filter_id="task_id" :show_prior_status="true" :show_operation_username="true">
                        </task-operation-history>
                    </div> <!-- <div id="tab_task_operation_history" -->

                    <div id="tab_user_chats" class="tab-pane fade">
                        <in-task-user-chats-listing :request_type="'by_task_id'" :filter_id="task_id" v-if="!is_insert">
                        </in-task-user-chats-listing>
                    </div> <!-- <div id="user-chats-listing" -->

                    <div id="tab_events" class="tab-pane fade">
                        <in-task-events-listing :request_type="'by_task_id'" :filter_id="task_id" v-if="!is_insert">
                        </in-task-events-listing>
                    </div> <!-- <div id="in-task-events-listing" -->

                 </div> <!-- <div class="tab-content"> -->




            </section>
        </div>
        </div>


        
        <!-- EDIT ITEM MODAL START-->
        <div class="modal fade" id="create-user-chat-for-this-task" tabindex="-1" role="dialog" aria-labelledby="create-user-chat-for-this-task-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="create-user-chat-for-this-task-label">Create new chat for this task</h4>
                    </div>

                    <div class="modal-body">
                        <!--<div class="form-group">-->
                        <!--<label for="user_chat_message_content">-->
                        <!--<small>Created by</small> <span>!! editable_chat_message_author_name !! </span>:-->
                        <!--</label>-->
                        <!--<textarea name="user_chat_message_content" id="user_chat_message_content" class="form-control" v-model="editable_chat_message" rows="10"></textarea>-->
                        <!--</div>-->

                    </div> <!-- modal-body -->

                    <div class="modal-footer">
                        <div class="row pull-right">
                            <div class="btn-group editor_btn_group">
                                <button type="button" @click.prevent="selectUserChatForTask()" class="btn btn-primary" style="margin-right: 20px;">
                                    <i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Select
                                </button>
                                <button type="button"  @click="cancelUserChatForTask()" class="btn btn-cancel-action">
                                    <i class="glyphicon glyphicon-remove"></i>&nbsp;Cancel
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- EDIT ITEM MODAL END -->








    </section>
</template>


<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';
    import Datepicker from 'vuejs-datepicker';
    import moment from 'moment';

    Vue.component( 'markdown-editor',  require( '../../components/lib/MarkdownEditor.vue') );
    Vue.component( 'task-operation-history',  require( '../../components/tasks/TaskOperationHistory.vue') );
    Vue.component( 'task-status-changes-history',  require( '../../components/tasks/TaskStatusChangesHistory.vue') ); // task-status-changes-history
    Vue.component( 'in-task-user-chats-listing',  require( '../../components/user_chats/InTaskUserChatsListing.vue') );
    //resources/assets/js/components/user_chats/UserChatsListing.vue
    Vue.component( 'in-task-events-listing',  require( '../../components/events/InTaskEventsListing.vue') );
    Vue.component( 'editor-header',  require( '../../components/lib/EditorHeader.vue') );
    Vue.component( 'editor-buttons',  require( '../../components/lib/EditorButtons.vue') );


    export default{
        components: {
            Datepicker
        },

        created() {
            if ( this.$route.params.id == "new" ) {
                this.is_insert = true
                this.task_id= "new"
                this.submit_label= "Add"
            } else {
                this.task_id= this.$route.params.id
            }

            if ( typeof this.task_id == "undefined" ) {
                this.task_id= this.debugging_id
            }

            bus.$on('MarkdownEditorModifiedEvent', (editor_content, editor_type, unique_id) => {
//                alert( "MarkdownEditorModifiedEvent::"+(9) )
                if ( editor_type == 'task' && ( ( unique_id == this.task.id  && !this.is_insert ) || ( unique_id == "new" && this.is_insert ) ) ) {
                    this.task.description = editor_content;
                }
            })

            bus.$on('setTaskStatusChangesHistoryListCountEvent', (task_status_changes_history_list_count) => {
                this.task_status_changes_history_list_count= task_status_changes_history_list_count
            })

            bus.$on('setTaskOperationHistoryListCountEvent', (task_operation_history_list_count) => {
                this.task_operation_history_list_count= task_operation_history_list_count
            })

            bus.$on('setRelatedUserChatsListCountEvent', (relatedUser_chats_list_count) => {
                this.relatedUser_chats_list_count= relatedUser_chats_list_count
            })


            bus.$on('UserProfileIsSetEvent', (username, site_name, loggedUser, loggedUserInGroups) => {
                this.loggedUser = loggedUser;
                var is_admin= this.checkUserGroupAccess( loggedUserInGroups, "Admin" )
                var is_manager= this.checkUserGroupAccess( loggedUserInGroups, "Manager" )
                if ( !is_admin && !is_manager ) {
                    this.showPopupMessage('You have no access to tasks editor', 'error');
//                    this.$router.push({path: '/admin/dashboard'});
                }
            })

            this.$validator.localize(window.CURRENT_LANG, {
                attributes: {
                    selection_category_id : 'category',
                    category_id : 'category',
                    needs_reports : 'needs reports',
                    task_content : 'description',
                    date_start : 'date start',
                    date_end : 'date end',
                }
            });
        }, // created() {

        mixins : [appMixin],

        mounted() {
//            alert( "mounted this.is_insert::"+(this.is_insert) )
            this.loadTaskDictionaries();
            if ( this.is_insert ) { // Add new row
                this.is_page_loaded = true
                this.setTaskDefaultValue();
            }
        },  // mounted() {

        props: {
            debugging_id: {
                type: Number,
                required: false,
                default:-1,
            },

        },

        data(){
            return{
                is_page_loaded:false,
                is_page_updating:false,
                is_insert:false,
                submit_label:"Update",
                task_id: null,
                task:{
                    name:'',
                    description:'',
                    creator_id:'',
                    category_id:'',
                    priority:'',
                    status:'',
                    date_start:'',
                    date_end:'',
                    needs_reports:'',
                },
                selection_category_id:{ key: '', label:  ' -Select Category- '},
                loggedUser : {},
                errorsList:[],
                taskNeedsReportsSelectionList: [],
                taskPrioritiesSelectionList: [],
                categoriesSelectionList: [],
                userTaskTypesSelectionList: [],
                taskStatusSelectionList: [],
                activeUsersSelectionArray: [],
                taskAssignedToUsersArray: [],
                taskAssignedToUsersStatusSelectionList: [],
                task_status_changes_history_list_count:'',
                task_operation_history_list_count:'',
                relatedUser_chats_list_count:'',
                message:'',
                users_in_task_visible:false,
                change_task_status_dialog_to_status:'',
                change_task_status_dialog_info:'',
            }
        }, // data(){


        computed: {

            selected_active_users_count() {
                var ret= 0
                this.activeUsersSelectionArray.map((activeUsersSelection,index) => {
                    if ( activeUsersSelection.task_assigned_status == 'M' || activeUsersSelection.task_assigned_status == 'L' ) {
                        ret++;
                    }
                });
                return ret
            },

            priority_color() {
                if ( typeof settings_priorityColorsArray[this.task.priority] != 'undefined' ) {
                    return 'backgroundColor:'+settings_priorityColorsArray[this.task.priority]
                }
                return '#ccc'
            },

            header_title: function () {
                if ( !this.is_insert ) return "Edit task";
                return "Add task";
            },

        }, // computed: {


        methods:{

            removeTask() { // TODO
                this.message = '';
                var id= 48;
                var task_name= '# 48';
                this.confirmMsg( "Do you want to delete '" + task_name + "' task ?",  () => {
                    axios.delete(window.API_VERSION_LINK + '/tasks/' + id ).then((response) => {
                        this.loadTasksList()
                    }).catch((error) => {
                        this.showRunTimeError(error, this);
                    });
                });
            }, //removeTask(id, task_name, index) {

            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.updateTask()
                    }  else {
                        this.showPopupMessage('Error ' + ( this.is_insert? 'adding' : 'updating' ) + ' task. ', 'error');
                    }
                })
            }, // validateBeforeSubmit() {

            updateTask() {
                this.is_page_updating= true
//                alert( "this.selection_category_id::"+var_dump(this.selection_category_id) )
                if ( typeof this.selection_category_id == "object" && typeof this.selection_category_id.key!= "undefined") {
                    this.task.category_id= this.selection_category_id.key
//                    alert( "this.task.category_id::"+var_dump(this.task.category_id) )
                }
                this.task.creator_id= this.loggedUser.id
                this.task.date_start= this.dateToMySqlFormat(this.task.date_start)
                this.task.date_end= this.dateToMySqlFormat(this.task.date_end)

                var taskAssignedToUsersArray = [];

                $('.task_assigned_to_user').each(function (i, obj) {
                    if (obj.value != "") { // Has selected status
                        var next_user_id= ''
                        var taskAssignedToUser = {}
                        taskAssignedToUser.user_id = obj.id;
                        taskAssignedToUser.status = obj.value;
                        var a= obj.id.split("task_assigned_to_user_status_")
//                        alert( "a::"+var_dump(a) )
                        if ( typeof a[1]) {
                            next_user_id= a[1]
                        }
                        taskAssignedToUser.user_task_type_id = $("#task_assigned_to_user_task_type_"+next_user_id).val();
                        taskAssignedToUser.description = $("#task_assigned_to_user_description_"+next_user_id).val(); // task_assigned_to_description_
                        taskAssignedToUsersArray[taskAssignedToUsersArray.length] = taskAssignedToUser
                    } // if (obj.value != "") { // Has selected status
                });

                this.task.taskAssignedToUsersArray = taskAssignedToUsersArray
                axios({
                    method: ( this.is_insert ? 'post' : 'patch' ),
                    url: window.API_VERSION_LINK + '/tasks' + ( !this.is_insert ? "/"+this.task_id : ''),
                    data: this.task,
                }).then((response) => {
                    this.is_page_updating = false
//                    alert( "OK response::"+var_dump(response) )
//                    this.$router.push({path: '/admin/tasks'});
                    this.errorsList= []
                    this.showPopupMessage('Task ' + ( this.is_insert? 'added' : 'updated' ) + ' successfully. ', 'success');
                }).catch((error) => {
                    this.$setLaravelValidationErrorsFromResponse(error.response.data);
                    this.is_page_updating = false
                    if( typeof error.response.data.errors.taskAssignedToUsersArray == 'object' ) {
                        this.users_in_task_visible= true
                    }
                    this.showRunTimeError(error, this);
                    this.showPopupMessage('Error ' + ( this.is_insert? 'adding' : 'updating' ) + ' task. ', 'error');
                });

            }, // updateTask() {


            changeTaskStatus(to_status, to_status_label) {
                this.change_task_status_dialog_to_status= to_status;
                this.change_task_status_dialog_info= '';
                $("#change_task_status_dialog").modal('show');

            }, // changeTaskStatus(to_status,to_status_label) {

            updateChangeTaskStatus() {
//                alert( "updateChangeTaskStatus this.change_task_status_dialog_to_status::"+var_dump(this.change_task_status_dialog_to_status) )
                axios.post(window.API_VERSION_LINK + '/change_task_status/' + this.task_id, {'to_status':this.change_task_status_dialog_to_status, 'info':
                this.change_task_status_dialog_info} ).then((response) => {
//                    alert( "response::"+var_dump(response.data) )
                    var to_status_label= response.data.to_status_label
                    this.task= response.data.task
                    this.task_was_completed= true;
                    this.is_page_updating= false
                    this.message= ''
                    this.change_task_status_dialog_to_status= ''
                    this.change_task_status_dialog_info= '';
                    this.showPopupMessage('The status of this task was changes to \''+to_status_label+'\' successfully.', 'success');
                    $("#change_task_status_dialog").modal('hide');
                }).catch((error) => {
                    this.is_page_updating= false
                    this.showPopupMessage('Error changing status of this task.', 'error');
                    this.showRunTimeError(error, this);
                });

            }, // changeTaskStatus(to_status,to_status_label) {

            cancelChangeTaskStatusDialog: function(){
                $("#change_task_status_dialog").modal('hide');
            },

            setTaskDefaultValue() {
//                alert( "setTaskDefaultValue::"+var_dump() )
                this.task.name= 'AA';
                this.task.description= 'Descr...';
//                this.task.category_id= '';
                this.task.priority= '1';
                this.task.status= 'D';
                this.task.date_start= moment(new Date(2018, 2,  21)).format('YYYY-MM-DD'); // TODO
                this.task.date_end= moment(new Date(2019, 4,  25)).format('YYYY-MM-DD');
                this.task.needs_reports= '3';
            }, //setTaskDefaultValue() {

            loadTask() {
                this.is_page_loaded = false
//                alert( "this.task_id::"+(this.task_id) )
                axios.get(window.API_VERSION_LINK + '/tasks/' + this.task_id).then((response) => {
//                    alert( "response::"+var_dump(response.data) )
                    this.is_page_loaded = true
                    this.task = response.data.task; // https://codepen.io/sagalbot/pen/Kqxbjw
//                    this.categoriesSelectionList = response.data.categoriesSelectionList;
//                    alert( "this.categoriesSelectionList::"+var_dump(this.categoriesSelectionList) )
                    this.categoriesSelectionList.map((nextCategorySelection,index) => {
                        if (nextCategorySelection.key == this.task.category_id ) {
//                            alert( "FOUND::"+var_dump() )
//                            alert( "nextCategorySelection::"+var_dump(nextCategorySelection) )
                            this.selection_category_id= {key: this.task.category_id, label: nextCategorySelection.label};
//                            selection_category_id:{ key: '', label:  ' -Select Category- '},

//                            selected: {id: 3, label: 'bar'},
                        }
                    });

                }).catch((error) => {
//                    alert( "+++error.response::"+var_dump(error.response) + "  error.response.data::"+var_dump(error.response.data) )
                    if ( error.response.data.error_code == 11 ) {
                        this.showPopupMessage(error.response.data.message, 'error');
                        this.$router.push({path: '/admin/tasks'});
                    }
                    this.is_page_loaded = true
                    this.showRunTimeError(error, app);
                });
            }, // loadTask() {

            loadTaskDictionaries() {
                this.is_page_loaded = false

//                alert( "loadTaskDictionaries::"+var_dump(1) )
                axios.get(window.API_VERSION_LINK + '/tasks_dictionaries/' + this.task_id ).then((response) => {
//                    alert( "loadTaskDictionaries  response.data::"+var_dump(response.data) )
                    this.is_page_loaded = true
                    this.taskStatusSelectionList = response.data.taskStatusSelectionList;
                    this.taskPrioritiesSelectionList = response.data.taskPrioritiesSelectionList;
                    this.taskNeedsReportsSelectionList = response.data.taskNeedsReportsSelectionList;
                    this.categoriesSelectionList = response.data.categoriesSelectionList;
                    this.userTaskTypesSelectionList = response.data.userTaskTypesSelectionList;
                    this.activeUsersSelectionArray = response.data.activeUsersSelectionArray;
                    this.taskAssignedToUsersStatusSelectionList = response.data.taskAssignedToUsersStatusSelectionList;

                    if ( !this.is_insert ) { // retrieve row for editing only after all dictionaries are loaded
                        this.loadTask();
                    }

                }).catch((error) => {
                    if ( error.response.data.error_code == 11 ) {
                        this.showPopupMessage(error.response.data.message, 'error');
                        this.$router.push({path: '/admin/tasks'});
                    }
                    this.is_page_updating= false
                    this.showRunTimeError(error, this);
                });
            }, // loadTaskDictionaries() {

            customFormatter(date) {
                return moment(date).format('YYYY-MM-DD ');
            },

            createChartForThisTask() {
//                            this.editable_chat_message_id= nextUserChatMessage.id
//                            this.editable_chat_message= this.replaceAll( nextUserChatMessage.text, '<br />', '' )
//                            this.editable_chat_message_author_name= nextUserChatMessage.author_name
                    $("#create-user-chat-for-this-task").modal('show');

//                    this.is_page_updating= true
//                    axios.post(window.API_VERSION_LINK + '/accept_task_to_processing/' + this.task_id, {'info':this.task_operation_info} ).then((response) => {
//                        this.task_operation_info= '';
//                        this.task_was_completed= true;
//                        this.is_page_updating= false
//                        this.loadTask()
//                        this.showPopupMessage('The task was accepted successfully and you can start work with it.', 'success');
//                    }).catch((error) => {
//                        this.is_page_updating= false
//                        this.showPopupMessage('Error accepting this task.', 'error');
//                        this.showRunTimeError(error, this);
//                    });

            },

            selectUserChatForTask() {
                alert( "selectUserChatForTask::"+var_dump(1) )
            },

            cancelUserChatForTask() {
                alert( "cancelUserChatForTask::"+var_dump(1) )
            },

            toggleSelectedActiveUsersBlockIsVisible() {
                this.users_in_task_visible= !this.users_in_task_visible
            },

        } // methods:{

    }


    function var_dump (oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }
</script>

