<template>
	<section class="row">

		<div v-if="status_of_chat=='A'">

			<fieldset>
				<legend><h4>Send message/Upload file:</h4></legend>

				<div v-if="submit_message_by_enter" class="p-10"> <!-- Block for new message adding -->
					<input type="text" class="form-control" placeholder="Type your message here and press Enter key" v-model="user_chat_new_message" @keyup.enter='sendNewMessage'>
				</div>

				<div v-else class="p-10">

					<div class="input_with_btn_at_right">
						<textarea placeholder="Start typing your message..." v-model="user_chat_new_message" class="form-control" rows="3" ></textarea>
						<button class="btn btn-primary" @click="sendNewMessage">Send</button>
					</div>
				</div>

				<div class="col-xs-12" v-if="logged_user_id == manager_id_of_chat">
					<label>As <b>manager</b> of this group, you can set your message at top</label>
					<el-checkbox v-model="user_chat_new_message_is_top" size="medium" border ></el-checkbox>
				</div>

				<div class="col-xs-12" v-if="logged_user_id == manager_id_of_chat">
					<label>
						As <b>manager</b> of this group, you can also edit and delete all messages/uploaded documents.
					</label>
					<el-checkbox v-model="can_edit_and_delete_all_messages" size="medium" border @change="user_chat_new_message_is_topChanged">
						<span v-if="can_edit_and_delete_all_messages">Now links to edit and delete all messages/uploaded documents are visible</span>
					</el-checkbox>
				</div>

				<div class="col-xs-12" v-if="!only_in_view_mode" >
					<a @click='toggleUserChatUploadFilesBlockVisible' class="toggle_data_block">
						Upload Files
					</a>
					<div v-if="user_chat_upload_files_block_visible " class="chat_Upload Files p-b-10 m-l-10 text-info">
						<multiple-file-uploading-block :item_title="'Select and attach file(s) to the current chat : '" :parent_item_id="user_chat_id"
						                               :data_source_type="'user_chat_message_documents'" :documentItemsList=[] :uploadDocumentItemsList="false"
						                               :documentPublicAccessesArray=[] :is_page_loaded="true" :show_categories_selector="false" :uploadedDocumentsExtensionsArray="uploadedDocumentsExtensionsArray"
						                               :show_public_accesses_selector="false" :show_info_selector="true" :no_data_found_label="''" :logged_user_id="logged_user_id"
						                               :logged_username="logged_username" :permit_select_and_upload_files="!only_in_view_mode"
						                               :header_title="'Attach documents to this chat'"></multiple-file-uploading-block>
					</div>

				</div>

			</fieldset>

		</div>

		<div v-else-if="status_of_chat=='C'">
			<p class="text-danger">As this chat is closed, you can not add more messages.</p>
		</div>

		<!--</div>-->

	</section> <!-- End Block for new message adding -->

</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';
    Vue.component( 'multiple-file-uploading-block',  require( '../../components/lib/MultipleFileUploadingBlock.vue') );

    export default {


        props: {
            submit_message_by_enter: {
                type: Boolean,
                required: true,
            },
            only_in_view_mode: {
                type: Boolean,
                required: false,
                default: false,
            },
            status_of_chat: {
                type: String,
                required: true,
            },
            manager_id_of_chat: {
                type: Number,
                required: true,
            },
            logged_user_id: {
                type: Number,
                required: true,
            },
            user_chat_id: {
                type: Number,
                required: true,
            },
            logged_username: {
                type: String,
                required: true,
            },
            logged_user_background_color: {
                type: String,
                required: true,
            },
            logged_user_color: {
                type: String,
                required: true,
            },
            uploadedDocumentsExtensionsArray: {
                type: Array,
                required: false,
                default:() => [],
            },
        },
        data: function () {
            return {
                user_chat_new_message: '',
                user_chat_new_message_is_top: '',
                user_chat_upload_files_block_visible: true,
                can_edit_and_delete_all_messages : false, 
            }
        }, // data: function () {

        mixins: [appMixin],


        created() {
        }, // created()

        mounted() {
        }, // mounted() {

        computed: {}, // computed: {

        watch: {
            user_chat_new_message() {
                console.log(" watch => this.user_chat_new_message::")
//                console.log(this.user_chat_new_message)
                Echo.private('nsn_tasks_chat')
                    .whisper('typing', {
                        user_chat_new_message: this.user_chat_new_message,
                        user_chat_id: this.user_chat_id,
                        logged_username: this.logged_username,
                        logged_user_id: this.logged_user_id,
                        logged_user_background_color: this.logged_user_background_color,
                        logged_user_color: this.logged_user_color,
                    });
            }
        },

        methods: {
            toggleUserChatUploadFilesBlockVisible: function () {
                this.user_chat_upload_files_block_visible = !this.user_chat_upload_files_block_visible;
            },

            sendNewMessage() {
                if (this.user_chat_new_message.length > 0) {
                    console.log(this.user_chat_new_message)

                    //                userProfileValuesArray.color
//                logged_user_background_color: '',
//                    logged_user_color: '',
                    var userProfileValuesArray = []
                    userProfileValuesArray['background_color'] = this.logged_user_background_color;
                    userProfileValuesArray['color'] = this.logged_user_color;
                    var newUserChatMessage = {}
                    newUserChatMessage['user_chat_new_message_is_top'] = ( this.user_chat_new_message_is_top ? 1 : '');
                    newUserChatMessage['user_chat_new_message'] = this.user_chat_new_message;
                    newUserChatMessage['user_chat_id'] = this.user_chat_id;
//                                    alert( "newUserChatMessage::"+var_dump(newUserChatMessage) )


                    axios.post(window.API_VERSION_LINK + '/send_user_chat_new_message', newUserChatMessage ).then((response) => {
//                            alert( "response.data::"+var_dump(response.data) )
                        bus.$emit('newUserChatAddedEvent', {   // trigger event to refresh chat messages listing of current user(who created the chart)
                            'user_chat_id': this.user_chat_id, 'author_user_id': this.logged_user_id, 'user_name': this.logged_username,  'author_name': 'you', 'text':
	                        this.user_chat_new_message,
                            'userProfileValuesArray': userProfileValuesArray, 'created_at': this.getNowDateTime(), 'message_type' : 'T', 'user_chat_message_id':
                            response.data.id, 'is_top': (
                                this.user_chat_new_message_is_top ? 1 : ''),
                        });
//                        this.errorsList = [];
                        this.user_chat_new_message = ''
                        this.user_chat_new_message_is_top = false;
                        $('.myCheckbox').prop('checked', true);
                        this.showPopupMessage('Your message was sent. ', 'success');
                    }).catch((error) => {
                        this.is_page_updating= false
                        this.$setLaravelValidationErrorsFromResponse(error.response.data);
                        this.showRunTimeError(error, this);
                        this.showPopupMessage('Error sending your message. ', 'error');
                    });


                }
            }, // sendNewMessage() {

            user_chat_new_message_is_topChanged() {
                bus.$emit('canEditAndDeleteAllMessagesEvent', {   // trigger event to refresh user_chat_new_message_is_topChanged status for UserChatsRun.vue
                    'user_chat_id': this.user_chat_id, 'author_user_id': this.logged_user_id, 'user_name': this.logged_username, 'can_edit_and_delete_all_messages': this.can_edit_and_delete_all_messages,
                });

            },

        } // methods: {

    }
</script>
