<template>
	<section>
		<div class="form-group pull-right">
			<!--<router-link :to="{name: 'createUserChat'}" class="btn btn-success">Add</router-link>-->
			<router-link :to="{ name: 'editUserChat', params: { id: 'new' } }" class="btn btn-success">Add</router-link>
		</div>

		<div class="panel panel-default text-primary">
				<div class="row">
					<listing-header :show_loading_image=is_page_loaded :rows_count=rows_count :current_page=current_page :itemsList="userChats" :header_icon="getHeaderIcon('user_chat')" :header_title=header_title :message=message :item_title="'row'"></listing-header>
				</div>
				<div class="row p-20">
					<p><input name="list_filter" type="radio" value="all"  v-model="list_filter" v-on:click="filterApplied('all')" > All</p>
					<p><input name="list_filter" type="radio" value="my"  v-model="list_filter" v-on:click="filterApplied('my')" > Created by me</p>
					<p><input name="list_filter" type="radio" value="active"  v-model="list_filter" v-on:click="filterApplied('active')" > Only active</p>
				</div>
			</div>

			<section class="panel-body white-box text-primary">

				<div v-if="is_page_loaded && userChats.length">
					<table class="table table-striped text-primary" >
						<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Status</th>
							<th></th>
							<th>Description</th>
							<th>Created at</th>
							<th>&nbsp;</th>
							<th>&nbsp;</th>
						</tr>
						</thead>
						<tbody>
						<tr v-for="nextUserChat, index in userChats">
							<td class="integer_cell">{{ nextUserChat.id }}</td>
							<!--<td>{{ nextUserChat.name }}</td>-->
							<td>
								{{ nextUserChat.name }}
								1111<i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-html="true" data-placement="top" title=""
								       data-original-title="Total : 111112222223333334444444"></i>222
							</td>

							<td>
								<span v-if="nextUserChat.status=='A'">{{ nextUserChat.status_label }}</span>
								<span v-else><span class="inactive">{{ nextUserChat.status_label }}</span></span>
							</td>

							<td class="icon_cell">
								<span v-if="nextUserChat.status=='A'">
									<router-link :to="{name: 'runUserChat', params: {id: nextUserChat.id}}">
										<i class="glyphicon glyphicon-globe"></i>
									</router-link>&nbsp;&nbsp;
								</span>
								<span v-else>
									<router-link :to="{name: 'runUserChat', params: {id: nextUserChat.id}}">
										<i class="glyphicon glyphicon-globe inactive" ></i>
									</router-link>&nbsp;&nbsp;
								</span>
							</td>

							<td>{{ concatStr(nextUserChat.description) }}</td>
							<td class="datetime_cell">{{ nextUserChat.created_at_label }}</td>

							<td  class="icon_cell">
								<router-link :to="{name: 'editUserChat', params: {id: nextUserChat.id}}">
									<i class="glyphicon glyphicon-edit m-r-20" title="Edit chat"></i>
								</router-link>
							</td>
							<td  class="icon_cell">
								<a href="#" v-on:click="removeUserChat(nextUserChat.id, nextUserChat.name, index)">
									<i class="glyphicon glyphicon-remove" title="Delete chat"></i>
								</a>
							</td>

						</tr>
						</tbody>
					</table>

					<listing-pagination	:current="current_page"	:total="rows_count"	:items_per_page="per_page" :show_next_prior_buttons=false @page-changed="loadUserChatsList"	></listing-pagination>

				</div>

			</section>
		</div>
	</section>
</template>

<script>
    //    alert( "mounted??::" )
    //    console.log(foo); // bar
    import {bus} from '../../app';
    import appMixin from '../../appMixin';
    Vue.component( 'listing-header',  require( '../../components/lib/ListingHeader.vue') );
    export default {
        data: function () {
            return {
                header_title : 'My chats',
                is_page_loaded:false,
                userChats: [],
                list_filter : 'my',
                message:'',
                rows_count: 0,
                per_page: 10,
                current_page: 1

            }
        },

        mixins : [appMixin],

        created() {
            bus.$on('UserProfileIsSetEvent', (username, site_name, loggedUser, loggedUserInGroups) => {
                this.loggedUser = loggedUser;
                var is_admin= this.checkUserGroupAccess( loggedUserInGroups, "Admin" )
                var is_manager= this.checkUserGroupAccess( loggedUserInGroups, "Manager" )
                if ( !is_admin && !is_manager ) {
                    this.showPopupMessage('You have no access to user\'s chats editor', 'error');
                    this.$router.push({path: '/admin/dashboard'});
                }
            })
        },


        mounted() {
            this.loadUserChatsList(1)
//            $('[data-toggle="tooltip"]').tooltip()
//	        alert("AFTER!")
        },
        methods: {
            loadUserChatsList() {
//                var list_filter= 'all';
//                alert( "loadUserChatsList this.list_filter::"+this.list_filter + "  ")
                this.message = '';
                if (typeof this.list_filter == "undefined") this.list_filter= 'all';
                this.is_page_loaded = false

//                alert( "window.API_VERSION::"+window.API_VERSION +"  this.list_filter::"+this.list_filter)
//                alert( "window.API_VERSION_LINK::"+window.API_VERSION_LINK + "   this.list_filter::"+this.list_filter )

                axios.get( window.API_VERSION_LINK + '/user_chats?list_filter='+this.list_filter ).then((response) => {
                    this.is_page_loaded = true
                    this.userChats = response.data.userChatsList;

                    this.rows_count = response.data.rows_count;
                    this.per_page = response.data.per_page
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });

            }, // loadUserChatsList() {

            removeUserChat(id, user_chat_name, index) {
                this.message = '';
                this.confirmMsg( "Do you want to delete '" + user_chat_name + "' chat with all related data ?",  () => {
                    axios.delete(window.API_VERSION_LINK + '/user_chats/' + id ).then((response) => {
                        this.loadUserChatsList()
                        this.showPopupMessage('Chat deleted successfully. ', 'success');
                    }).catch((error) => {
                        this.showPopupMessage('Error deleting chat. ', 'error');
                        this.showRunTimeError(error, this);
                    });
                });
            }, // removeUserChat(id, user_chat_name, index) {

            filterApplied(value) {
//                alert( "filterApplied  value::"+value )
                this.list_filter= value;
                this.loadUserChatsList()
            }
        }, // methods
    }
</script>
