<template>
	<section>

		<div class="panel panel-default">

			<editor-header :show_loading_image="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('user_chat')" :header_title=header_title
			               :message=message></editor-header>

			<section class="panel-body white-box text-primary">


				<!--activeUsersSelectionList::{{ activeUsersSelectionList }}<br>-->
				<!--userChatStatusSelectionList::{{ userChatStatusSelectionList }}<br>-->
				<!--taskSelectionList::{{ taskSelectionList }}<br>-->


				<form v-on:submit.prevent="validateBeforeSubmit()">

					<div class="row" v-if="!is_insert">
						<div class="col-xs-12 form-group">
							<label class="col-xs-12 col-sm-4 control-label">ID</label>
							<div class="col-xs-12 col-sm-8">
								<input type="text" v-model="userChat.id" class="form-control integer_input" readonly>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-xs-12 form-group">
							<label class="col-xs-12 col-sm-4 control-label" for="name">Name <span class="required"> * </span></label>
							<div class="col-xs-12 col-sm-8">
								<input v-validate="'required|max:255'" v-model="userChat.name"
								       :class="{ 'form-control':true, 'input': true, 'text-danger': vueErrorsList.has('name') }" name="name" id="name"
								       type="text" placeholder="name">
								<span v-show="vueErrorsList.has('name')" class="text-danger">{{ vueErrorsList.first('name') }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 form-group">
							<label class="col-xs-12 col-sm-4 control-label" for="status">Status <span class="required"> * </span></label>
							<div class="col-xs-12 col-sm-8">
								<select id="status" name="status" v-validate="'required'" :class="{ 'form-control':true, 'errors': vueErrorsList.has('status') }"
								        v-model="userChat.status">
									<option value=""> -Select status- </option>
									<option v-for="nextStatus, index in userChatStatusSelectionList" v-bind:value="nextStatus.key">{{ nextStatus.label }}
									</option>
								</select>
								<span v-show="vueErrorsList.has('status')" class="text-danger">{{ vueErrorsList.first('status') }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 form-group">
							<label class="col-xs-12 col-sm-4 control-label" for="task_id">Task
								<small class="form-text text-muted">Optional</small>
							</label>
							<div class="col-xs-12 col-sm-8">

								<v-select id="task_id" name="task_id" v-model="selection_task_id" :options=taskSelectionList></v-select>
								<span v-show="vueErrorsList.has('task_id')" class="text-danger">{{ vueErrorsList.first('task_id') }}</span>

							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 form-group">
							<label class="col-xs-12 col-sm-4 control-label" for="description">Description <span class="required"> * </span></label>
							<div class="col-xs-12 col-sm-8">
								<markdown-editor :content="userChat.description" :editor_type="'user_chat'" :unique_id="user_chat_id"
								                 :how_short_help_text=true :show_full_help_link=true></markdown-editor>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 form-group">
							<label class="col-xs-12 col-sm-4 control-label">Users in chat<span class="required"> * </span></label>
							<div class="col-xs-12 col-sm-8">

								<fieldset>
									<legend>You invite</legend>

									<small class="form-text text-muted p-10">
										You can select only one user as manager of this chat. Otherwise you would be set as manager of this chat.
									</small>

									<small v-if="errorsList.userChatParticipantsArray" class="text-danger">{{ errorsList.userChatParticipantsArray[0] }}</small>

									<div v-for="nextActiveUser, index in activeUsersSelectionList" v-bind:id="nextActiveUser.key" class="col-xs-12 p-30">
										<label class="col-xs-12 col-sm-8 control-label text-right">{{ nextActiveUser.label }} : </label>
										<div class="col-xs-12 col-sm-4">
											<select v-bind:id="'user_chat_participant_status_' + nextActiveUser.key" class="form-control user_chat_participant">
												<option value="" selected> Select participation </option>
												<option v-for="nextUserChatParticipant, index in userChatParticipantStatusSelectionList" v-bind:value="nextUserChatParticipant.key">
													{{ nextUserChatParticipant.label }}
												</option>
											</select>
										</div>
										<div class="clearfix">
											<hr>
										</div>
									</div>
								</fieldset>

							</div>
						</div>
					</div>


					<div class="row" v-if="!is_insert">
						<div class="col-xs-12 form-group">
							<label class="col-xs-12 col-sm-4 control-label">Created at</label>
							<div class="col-xs-12 col-sm-8">
								<input type="text" v-model="userChat.created_at_label" class="form-control" readonly>
							</div>
						</div>
					</div>


					<div class="row pull-right">
						<editor-buttons :submit_label="submit_label" :cancel_label="'Cancel'" :cancel_link="'#/admin/user_chats/all'" :is_page_updating="is_page_updating"></editor-buttons>
					</div>

				</form>
			</section>
		</div>
	</section>
</template>


<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';
    Vue.component( 'editor-header',  require( '../../components/lib/EditorHeader.vue') );
    Vue.component( 'editor-buttons',  require( '../../components/lib/EditorButtons.vue') );
    Vue.component( 'markdown-editor',  require( '../../components/lib/MarkdownEditor.vue') );

    export default {
        created() {
            bus.$on('UserProfileIsSetEvent', (username, site_name, loggedUser, loggedUserInGroups) => {
                var is_admin= this.checkUserGroupAccess( loggedUserInGroups, "Admin" )
                var is_manager= this.checkUserGroupAccess( loggedUserInGroups, "Manager" )
                if ( !is_admin && !is_manager ) {
                    this.showPopupMessage('You have no access to user\'s chats editor', 'error');
                    this.$router.push({path: '/admin/dashboard'});
                }
            })
            if ( this.$route.params.id == "new" ) {
                this.is_insert = true
                this.user_chat_id= "new"
                this.submit_label= "Add"
            } else {
                this.user_chat_id= this.$route.params.id
            }

            bus.$on('MarkdownEditorModifiedEvent', (editor_content, editor_type, unique_id) => {
                if ( editor_type == 'user_chat' && ( ( unique_id == this.userChat.id  && !this.is_insert ) || ( unique_id == "new" && this.is_insert ) ) ) {
                    this.userChat.description = editor_content;
                }
            })
            this.$validator.localize(window.CURRENT_LANG, {
                attributes: {
                    user_chat_content : 'description',
                    selection_task_id : 'task',
                }
            });

        }, // created() {

        mounted() {
            this.loadUserChatDictionaries();
            if ( this.is_insert ) { // retrieve row for editing
                this.is_page_loaded = true
                this.setUserChatDefaultValue();
            }
        }, // mounted() {

        mixins : [appMixin],

        data() {
            return {
                is_page_loaded:false,
                is_page_updating:false,
                is_insert:false,
                userChat: {
                    name: 'a',
                    description: 'a',
                    task_id: '',
                    status: '',
                    userChatParticipantsArray: [],
                },
                selection_task_id:{ key: '', label:  ' -Select Task- '},
                userChatStatusSelectionList: [],
                taskSelectionList: [],
                activeUsersSelectionList: [],
                userChatParticipantStatusSelectionList: [],
                message: '',
                errorsList:[],
            }

        },

        computed: {
            header_title: function () {
                if ( !this.is_insert ) return "Edit chat";
                return "Add chat";
            },
        }, // computed: {


        methods: {

            loadUserChat() {
                this.is_page_loaded = false
//	            alert( "loadUserChat this.user_chat_id::"+(this.user_chat_id) )
                axios.get(window.API_VERSION_LINK + '/user_chats/' + this.user_chat_id).then((response) => {
                    this.is_page_loaded = true
                    this.userChat = response.data.userChat; // https://codepen.io/sagalbot/pen/Kqxbjw
//                    alert( "this.taskSelectionList::"+var_dump(this.taskSelectionList) )
                    this.taskSelectionList.map((nextCategorySelection,index) => {
                        if (nextCategorySelection.key == this.userChat.task_id ) {
//                            alert( "FOUND::"+var_dump() )
//                            alert( "nextCategorySelection::"+var_dump(nextCategorySelection) )
                            this.selection_task_id= {key: this.userChat.task_id, label: nextCategorySelection.label};
                        }

                    });

                }).catch((error) => {
                    if ( error.response.data.error_code == 11 ) {
                        this.showPopupMessage(error.response.data.message, 'error');
                        this.$router.push({path: '/admin/user_chats/all'});
                    }
                    this.is_page_loaded = true
                    this.showRunTimeError(error, app);
                });
            }, // loadUserChat() {


            loadUserChatDictionaries() {
//                alert( "loadUserChatDictionaries this.user_chat_id ::"+this.user_chat_id +"  this.is_insert::"+this.is_insert )
                this.is_page_loaded = false
                axios.get(window.API_VERSION_LINK + '/user_chats_dictionaries/' + this.user_chat_id ).then((response) => {

//                    alert( "response.data::"+var_dump(response.data) )
	                console.log("response.data::")
	                console.log( response.data )

                    this.is_page_loaded = true
                    this.userChatStatusSelectionList = response.data.userChatStatusSelectionList;


                    this.taskSelectionList = response.data.taskSelectionList;
                    console.log("this.taskSelectionList::");
                    console.log(this.taskSelectionList);


                    this.activeUsersSelectionList = response.data.activeUsersSelectionList;
                    this.userChatParticipantStatusSelectionList = response.data.userChatParticipantStatusSelectionList;


                    if ( !this.is_insert ) { // retrieve row for editing only after all dictionaries are loaded
                        this.loadUserChat();
                    }

                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, // loadUserChatDictionaries() {

            setUserChatDefaultValue() {
                this.userChat.status = 'A';
            }, //setUserChatDefaultValue() {

            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.updateUserChat()
                    } else {
                        this.showPopupMessage('Error ' + ( this.is_insert? 'adding' : 'updating' ) + ' chat. ', 'error');
                    }
                })
            }, // validateBeforeSubmit() {

            updateUserChat() {
                this.is_page_updating= true
                var userChatParticipantsArray = [];



                $('.user_chat_participant').each(function (i, obj) {
//                    alert( "obj::"+var_dump(obj) )
                    var userChatParticipant = {}
                    userChatParticipant.user_id = obj.id;
                    userChatParticipant.status = obj.value;
                    userChatParticipantsArray[userChatParticipantsArray.length] = userChatParticipant
                });


//

//	            var l= this.userChat.userChatParticipantsArray.length
//	            for (var i=0; i< l;i++) {
//                    alert("this.userChat.userChatParticipantsArray[i]::" + var_dump(this.userChat.userChatParticipantsArray[i]))
//                }

                this.userChat.userChatParticipantsArray = userChatParticipantsArray
//	            alert( "this.userChat::"+var_dump(this.userChat) )
//
//                alert( " this.userChat.task_id::" + ( typeof this.userChat.task_id) )
//                alert( " this.userChat.task_id::" + ( var_dump(this.userChat.task_id) ) )
//                alert( " this.userChat.task_id.key::" + ( typeof this.userChat.task_id.key) )
                if ( typeof this.userChat.task_id == "object" && typeof this.userChat.task_id.key!= "undefined") {
                    this.userChat.task_id= this.userChat.task_id.key
                }
                console.log("this.userChat::")
                console.log(this.userChat)
//                alert( "this.userChat::"+var_dump(this.userChat) )
//                return 0;

                axios({
                    method: ( this.is_insert ? 'post' : 'patch' ),
                    url: window.API_VERSION_LINK + '/user_chats' + ( !this.is_insert ? "/"+this.user_chat_id : ''),
                    data: this.userChat,
                }).then((response) => {
                    this.is_page_updating = false
                    this.$router.push({path: '/admin/user_chats/all'});
                    this.showPopupMessage('Chat ' + ( this.is_insert? 'added' : 'updated' ) + ' successfully. ', 'success');
                }).catch((error) => {
                    this.$setLaravelValidationErrorsFromResponse(error.response.data);
                    this.is_page_updating = false
                    this.showRunTimeError(error, this);
                    this.showPopupMessage('Error ' + ( this.is_insert? 'adding' : 'updating' ) + ' chat. ', 'error');
                });
            } // createUserChat() {

        }
    }
</script>

