<template>
	<section>
		{{ header_title }}

		<nav class="navbar navbar-default navbar-static-top" v-if="logged_user_id && logged_user_name">
			<div class="container">
				<div class="navbar-header">

					<!-- Collapsed Hamburger -->
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
						<span class="sr-only">Toggle Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<router-link :to="{ name: 'dashboardIndex' }" class="navbar-brand">Home</router-link>
				</div>


				<div class="collapse navbar-collapse" id="app-navbar-collapse">
					<!-- Left Side Of Navbar -->
					<ul class="nav navbar-nav">
						&nbsp;
					</ul>

					<!-- Right Side Of Navbar -->
					<ul class="nav navbar-nav navbar-right">

						<li><a href="#/admin/user_chat_run/1">Chat 1</a></li>

						<li>
							<router-link :to="{ name: 'dashboardIndex' }">Dashboard</router-link>
						</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
								Tasks <span class="caret"></span>
							</a>

							<ul class="dropdown-menu" role="menu">
								<li>
									<router-link :to="{ name: 'tasksIndex'  }">All tasks</router-link>
								</li>
								<li>
									<router-link :to="{ name: 'tasksFilter', params: { filter: 'processing' } }">Processing tasks</router-link>
								</li>
								<li>
									<router-link :to="{ name: 'tasksFilter', params: { filter: 'checking' } }">Checking tasks</router-link>
								</li>
								<li>
									<router-link :to="{ name: 'editTask', params: { id: 'new' } }">New task</router-link>
								</li>
							</ul>
						</li>


						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
								My Events<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<router-link :to="{ name: 'eventsIndex' }">All events</router-link>
								</li>
								<li>
									<router-link :to="{ name: 'editEvent', params: { id: 'new' } }">New event</router-link>
								</li>
							</ul>
						</li>


						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
								Dictionaries<span class="caret"></span>
							</a>

							<ul class="dropdown-menu" role="menu">
								<li>
									<router-link :to="{ name: 'userTaskTypesIndex' }">User's task types</router-link>
								</li>
								<li>
									<router-link :to="{ name: 'editUserTaskType', params: { id: 'new' }  }">New user's task type</router-link>
								</li>
								<li>
									<router-link :to="{ name: 'documentCategoriesIndex' }">Document categories</router-link>
								</li>
								<li>
									<router-link :to="{ name: 'editDocumentCategory', params: { id: 'new' }  }">New document category</router-link>
								</li>
							</ul>
						</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
								Chats<span class="caret"></span>
							</a>

							<ul class="dropdown-menu" role="menu">
								<li>
									<router-link :to="{ name: 'userChatsIndex', params: { filter: 'all' } }">Chats</router-link>
								<li>
									<router-link :to="{ name: 'editUserChat', params: { id: 'new' }  }">New chat</router-link>
								</li>
							</ul>
						</li>


						<li class="dropdown">
							<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">-->
							<!--id::{{ Auth::user()->id }}::{{ Auth::user()->name }} <span class="caret"></span>-->
							<!--</a>-->
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
								Profile {{ logged_user_id }}={{ logged_user_name }}<span class="caret"></span>
							</a>

							<ul class="dropdown-menu" role="menu">
								<li>
									<router-link :to="{ name: 'editUserProfiles' }">My profile</router-link>
								</li>
								<li>
									<a href="/logout">Logout</a>
								</li>
							</ul>
						</li>


					</ul>
				</div>


			</div>
		</nav>


	</section>
</template>

<script>
    export default {

        data() {
            return {
                logged_user_id: '',
                logged_user_name: '',
                logged_user_first_name: '',
                logged_user_last_name: '',
            }
        },

        props: {
            header_title: {
                type: String,
                required: true,
                default: ""
            },
        },

        mounted() {
//            alert( "AppHeader.vue::"+(-1) )
            this.logged_user_id = window.logged_user_id
            this.logged_user_name = window.logged_user_name
            this.logged_user_first_name = window.logged_user_first_name
            this.logged_user_last_name = window.logged_user_last_name
        },

        methods: {
            handleSelect(key, keyPath) {
//                alert( "handleSelect   key::"+key  +"   keyPath::"+keyPath )
                console.log(key, keyPath);
            }
        }

    }
</script>

<style scoped lang="css">
	.el-menu--horizontal {
		border-right: none;
		border-bottom: solid 1px #e6e6e6;
		width: 100%;
		margin-bottom: 40px;
		background-color: yellow;
	}
</style>