<template>
	<section>

		<!--type::{{ type }}-->
		<div class="modal-body p-20">
			<div v-if="type == 'viewUserWeatherLocations'">
				<weather-viewer></weather-viewer>
			</div>
			<div v-if="type == 'viewUserTodos'">
				<user-todos></user-todos>
			</div>
			<div v-if="type == 'sourceViewer'">

				<button v-collapse-toggle="'toggle_first'">Toggle first element</button>
				<button v-collapse-toggle="'toggle_second'">Toggle second element</button>

				<v-collapse-wrapper ref="toggle_first">
					<div class="my-content" v-collapse-content>
						This is hiddend content
					</div>
				</v-collapse-wrapper>
				<v-collapse-wrapper ref="toggle_second">
					<div class="content" v-collapse-content>
						This is hiddend content
					</div>
				</v-collapse-wrapper>

				<source-viewer :source_key="'DashboardController.php'"></source-viewer>
			</div>
		</div>

	</section>

</template>

<script>
    import appMixin from '../../appMixin';
    Vue.component( 'weather-viewer',  require( '../../components/lib/WeatherViewer.vue') );
    Vue.component( 'user-todos',  require( '../../components/lib/UserTodos.vue') );
    Vue.component( 'source-viewer',  require( '../../components/lib/SourceViewer.vue') ); //resources/assets/js/components/lib/SourceViewer.vue

    export default {

        data: function () {
            return {
                type:'',
            }
        }, // data: function () {

        mixins : [appMixin],

        created() {
        },

        mounted() {
//            alert( "mounted-1 resources/assets/js/components/lib/BlockContainer.vue" )

            var type = this.$route.params.type
            console.log("type::")
            console.log( type )
            this.type= type

        }, // mounted() {

    }


</script>