<template>
	<section>
		<div class="panel-heading col-xs-offset-1">
			<div v-if="show_loading_image" class="loading col-xs-2"></div>
			<div class="col-xs-10 text-primary" >
				<!--show_loading_image::{{show_loading_image }}-->
				<h4>
					<span v-if="header_icon" v-html="header_icon"></span>
					{{ header_title }}
				</h4>
			</div>
		</div>
		<div v-if="message" class="text-danger">
			<center>{{ message }}</center>
		</div>

	</section>

</template>

<script>
    export default {
        props: { 
            message: {
                required: false,
                default: ''
            },
            header_title: {
                type: String,
                required: true,
                default: ''
            },
            header_icon: {
                type: String,
                required: false,
                default: ''
            },
            show_loading_image: {
                type: Boolean,
                required: true,
                default: true
            },
        }

    }
</script>

<style scoped lang="css">
	.loading {
		background-image: url( /images/big_loading.gif );
		background-repeat: no-repeat;
		width: 24px;
		height: 24px;
		margin-right: 0px;
	}
</style>