<template>
	<div class="btn-group editor_btn_group">
		<div class="col-xs-6">
			<!--:disabled="is_page_updating" TODO-->
			<button class=" btn btn-primary " ><i v-if="show_icons" class="glyphicon glyphicon-floppy-saved"></i>&nbsp;{{ submit_label }}</button>
		</div>

		<!--<router-link :to="{name: 'runUserChat', params: {id: nextUserChat.id}}">-->
		<!--<i class="glyphicon glyphicon-globe"></i>-->
		<!--</router-link>&nbsp;&nbsp;-->


		<div class="col-xs-6" v-if="cancel_label">
			<!--:disabled="is_page_updating" TODO -->
			<a v-bind:href="cancel_link"  class="btn btn-cancel-action"  >
				<i v-if="show_icons" class="glyphicon glyphicon-remove"></i>&nbsp;{{cancel_label}}
			</a>
		</div>
	</div>
</template>

<script>
    export default {
        props: {
            submit_label: {
                type: String,
                required: true,
                default: "Save"
            },
            cancel_label: {
                type: String,
                required: true,
                default: ""
            },
            cancel_link: {
                type: String,
                required: false,
                default: "#/"
            },
            show_icons: {
                type: Boolean,
                required: false,
                default: true
            },
            is_page_updating: {
                type: Boolean,
                required: false,
                default: false
            }
        }

    }
</script>