<template>
	<div class="p-20 col-sm-offset-1 ">


		<!--loggedUserProfile::{{ loggedUserProfile }}<br>-->
		<!--user_events_count:{{ user_events_count }}<br>-->
		<!--eventUsersArray:{{ eventUsersArray }}-->

		debug_id::{{ debug_id }};<br>
		data_type::{{ data_type }};<br>
		show_event_time::{{ show_event_time }};<br>
		show_access_label::{{ show_access_label }}
		<div class="row  ">
			<!--<full-calendar :events="fcEvents" locale="en"></full-calendar>-->
			<full-calendar :events="eventUsersArray" firstDay="1" locale="en"></full-calendar>
		</div>

		<div class="row" v-if="loggedUserProfile.id">


		</div> <!-- row -->

	</div> 
</template>


<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';
//    import Datepicker from 'vuejs-datepicker';
//    import moment from 'moment';

    import fullCalendar from 'vue-fullcalendar'    //https://github.com/Wanderxx/vue-fullcalendar
    Vue.component('full-calendar', fullCalendar)

    export default {

        props: {
            debug_id: {
                type: Number,
                required: false,
                default: null
            },

            data_type: {
                type: String,
                required: true,
            },

            show_event_time: {
                type: Boolean,
                required: false,
                default: false
            },

            show_access_label: {
                type: Boolean,
                required: false,
                default: false
            },


//            data_type="'profile_events'" :show_event_time="true" :show_access_label
        },
        mixins : [appMixin],

        data() {
            return {
                loggedUserProfile: {},
                user_events_count: 0,
                eventUsersArray: []
            }
        },

        computed: {

            logged_user_name() {
                if (typeof this.loggedUserProfile.name != 'undefined' && this.loggedUserProfile.first_name.length > 0 && this.loggedUserProfile.last_name.length > 0) {
                    return this.loggedUserProfile.id+"="+this.loggedUserProfile.name + "(" + this.loggedUserProfile.first_name + ' ' + this.loggedUserProfile.last_name + ")"
                }
                if (typeof this.loggedUserProfile.name != 'undefined') {
                    return this.loggedUserProfile.name
                }
                return '#ccc'
            },

//            header_title: function () {
//                return "Task operation";
//            },
//            full_user_name: function () {
//                return this.taskAssignedToUser.user_first_name + " " + this.taskAssignedToUser.user_last_name + " ( " + this.taskAssignedToUser.user_name + " ) ";
//            },

        }, // computed: {

        created() {
//            alert( "created::"+var_dump(-77) )
        },

        mounted() {
            bus.$on('UserProfileIsSetEvent', (username, site_name, loggedUserProfile) => {
                if (typeof loggedUserProfile == 'undefined') {
                    alert( "not LOGGED::"+(-88) )
                    alert( "UserProfileIsSetEvent  loggedUserProfile::"+(loggedUserProfile) + "  typeof loggedUserProfile::"+( typeof loggedUserProfile )  )

                }
//                console.log("this.loggedUserProfile::");
//                console.log(this.loggedUserProfile);
                this.loggedUserProfile = loggedUserProfile;

                if ( this.data_type == 'profile_events' ) {
                    bus.$emit('retrieveUserEventsEvent', this.loggedUserProfile.id);
                }
	            /*         data_type
            show_event_time  show_access_label  */
            }) // bus.$on('UserProfileIsSetEvent', (username, site_name, loggedUserProfile) => {

            bus.$on('retrieveUserEventsEvent', (user_id) => {
//                alert( "retrieveUserEventsEvent user_id::"+var_dump(user_id) )

                axios.get(window.API_VERSION_LINK + '/get_user_events/'+user_id).then((response) => {
//                      alert( "get_user_events response.data::"+var_dump(response.data) )
                    this.user_events_count = response.data.eventUsersArray.length
                    this.eventUsersArray = response.data.eventUsersArray
	                for ( var i= 0; i< this.eventUsersArray.length; i++ ) {
                        if ( this.show_access_label ) {
                            this.eventUsersArray[i]['title']= ( this.eventUsersArray[i]['event_access'] == 'U' ? "Public" : "Private" ) + " : "+
                                this.eventUsersArray[i]['title']
                        } // if ( this.show_access_label ) {

                        if ( this.show_event_time ) {
                            this.eventUsersArray[i]['title']= this.eventUsersArray[i]['start_time_label'] + "-" +this.eventUsersArray[i]['end_time_label'] + " : "+
	                        this.eventUsersArray[i]['title']
                        } // if ( this.show_event_time ) {


	                }

	                /*                     'title'=> $nextEventUser->event_name,
                    'start'=> $nextEventUser->event_at_time,
                    'start_time_label'=> $this->getFormattedDateTime($nextEventUser->event_at_time, 'H:i A' ),
                    'end'=> $end_time,
                    'end_time_label'=> $this->getFormattedDateTime($end_time, 'H:i A' ),
                    'event_duration'=> $nextEventUser->event_duration,
                    'cssClass' => 'family', 'YOUR_DATA' => [] ];
 */
                }).catch((error) => {
                    if (error.response.data.error_code == 11) {
                        this.showPopupMessage(error.response.data.message, 'error');
                        this.$router.push({path: '/'});
                    }
                    this.showRunTimeError(error, app);
                });

            }) // bus.$on('retrieveUserEventsEvent', (user_id) => {

	        /* start is the first day of current monthView (moment object)
end is the last day of current monthView (moment object)
current is the first day of current month (moment object) */

	        bus.$on('changeMonth', ( start, end, current) => {
                alert( "changeMonth start::"+var_dump(start) + "  end::"+var_dump(end) + "  current::"+var_dump(current) )

            }) // bus.$on('changeMonth', ( start, end, current) => {


	        bus.$on('eventClick', ( event, jsEvent, pos ) => {
                alert( "eventClick event::"+var_dump(event) + "  jsEvent::"+var_dump(jsEvent) + "  pos::"+var_dump(pos) )

            }) // bus.$on('eventClick', ( event, jsEvent, pos ) => {


	        bus.$on('dayClick', ( day, jsEvent ) => {
                alert( "dayClick day::"+var_dump(day) + "  jsEvent::"+var_dump(jsEvent) )

            }) // bus.$on('dayClick', ( day, jsEvent ) => {


	        bus.$on('moreClick', ( date, events, jsEvent ) => {
                alert( "moreClick date::"+var_dump(date) + "  events::"+var_dump(events) + "  jsEvent::"+var_dump(jsEvent) )

/* date is the date corresponding to the "more" clicked (moment object)

events is the list of events that will be in the box

jsEvent holds the native javascript event */
            }) // bus.$on('moreClick', ( date, events, jsEvent ) => {



        },

        methods: {




/*
            viewAssigningTasks() {
//                alert( "viewAssigningTasks::"+var_dump(-14) )
                axios.get(window.API_VERSION_LINK + '/get_assigning_tasks_details').then((response) => {
//                      alert( "get_assigning_tasks_details response.data::"+var_dump(response.data) )
                    this.assigningTasksListing   = response.data.assigningTasksListing
                    $("#assigning_tasks_listing_dialog").modal('show');
//                    bus.$emit('setAssigningTasksListingEvent', {
//                        'assigningTasksListing': response.data.assigningTasksListing
//                    }); // this resources/assets/js/components/user_chats/UserChatsRun.vue file will receive it
                }).catch((error) => {
                    if (error.response.data.error_code == 11) {
                        this.showPopupMessage(error.response.data.message, 'error');
                        this.$router.push({path: '/'});
                    }
                    this.showRunTimeError(error, app);
                });
            }, // viewAssigningTasks() {

            cancelAssigningTasksListingDialog: function(){
                $("#assigning_tasks_listing_dialog").modal('hide');
            },


            viewUserWeatherLocations() {
                this.container_dialog_type =  'viewUserWeatherLocations'
                this.show_container_dialog_label =  'Your Weather Locations'
                $("#show_container_dialog").modal('show');
            }, // viewUserWeatherLocations() {

            cancelUserWeatherLocationsDialog: function() {
                this.container_dialog_type= ''
                this.show_container_dialog_label= ''
                $("#show_container_dialog").modal('hide');
            },
*/


        } // methods: {

    }


    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>


<style scoped lang="css">
	.family {
		background-color: yellow;
		color:red;
	}


</style>