<template>
	<section>

		<div class="panel-heading">
			<div v-if="!show_loading_image" class="loading col-xs-2"></div>

			<div v-if="( header_title || item_title ) && show_loading_image" class="col-xs-12" >
				<h4 v-if="header_title">
					<span v-if="header_icon" v-html="header_icon"></span>
					{{ header_title }}

					<div class="pull-right" v-if="right_icon!= ''">
						<i :class="right_icon_class" title="Refresh" @click="triggerListingHeaderRightButtonClickedEvent"></i>
					</div>

				</h4>
				<small v-if="show_loading_image && itemsList.length && item_title" >
					{{ itemsList.length }} {{item_title}}<small v-if="itemsList.length > 1">s</small>
					<span v-if="rows_count > 0 && current_page > 0">
					of {{rows_count}} (page # {{ current_page }})
				</span>
				</small>

			</div>
		</div>

		<div v-if="message" class="text-danger col-xs-12"><center>{{ message }}</center></div>

		<div v-if="show_loading_image && !itemsList.length && no_data_found_label" class="no_data_found text-info col-xs-12">{{ no_data_found_label }}</div>

	</section>

</template>

<script>

    import {bus} from '../../app';

    export default {
        props: {
            message: {
                type: String,
                required: false,
	            default: ''
            },
            header_title: {
                type: String,
                required: false,
                default: ''
            },
            header_icon: {
                type: String,
                required: false,
                default: ''
            },
            item_title: {
                type: String,
                required: false,
                default: ''
            },
            no_data_found_label: {
                type: String,
                required: false,
                default: 'No data found'
            },
            show_loading_image: {
                type: Boolean,
                required: true,
                default: true
            },
            itemsList: {
                type: Array,
                required: false,
                default: () => [],
            },
            rows_count: {
                type: Number,
                required: false,
                default: 0
            },
            current_page: {
                type: Number,
                required: false,
                default: 0
            },


            right_icon: {
                type: String,
                required: false,
                default: ''
            },
            parent_component_key: {
                type: String,
                required: false,
                default: ''
            },

        }, // props: {


	    methods:{

            triggerListingHeaderRightButtonClickedEvent() {
                bus.$emit('listingHeaderRightButtonClickedEvent',  this.parent_component_key );
            }
            
	    },


        computed: {

            right_icon_class() {
                return this.right_icon+' a_link p-5';
            },

        }, // computed: {


    }
</script>

<style scoped lang="css">
	.loading {
		background-image: url( /images/big_loading.gif );
		background-repeat: no-repeat;
		width: 24px;
		height: 24px;
		margin-right: 0px;
	}
</style>