<template>
	<section class="col-sm-12">
		<div class="content_editor_wrapper " style="padding-left: 15px;" >
			<div class="row">
				<div class="col-sm-12  form-group">

					<div>
						<textarea v-model="computed_editor_content" v-validate="'required'" :rows="textarea_rows" :class="{ 'form-control':true,	'content_editor':true, 'input': true, 'text-danger': vueErrorsList.has(computed_control_name) }" :name="computed_control_name" :id="computed_control_name"></textarea>
						<span v-show="vueErrorsList.has(computed_control_name) && show_validation_span" class="text-danger">{{ vueErrorsList.first(computed_control_name) }}</span>
					</div>

					<div v-if="show_short_help_text">
						<p v-for="nextDefaultHelpTextRow in defaultHelpTextRowsArray">
							<b>{{nextDefaultHelpTextRow.tag}}</b> with syntax <i>{{nextDefaultHelpTextRow.syntax}}</i>,&nbsp;&nbsp;
							example : {{nextDefaultHelpTextRow.example}}<br>
						</p>
					</div>

					<span v-if="show_full_help_link">
						<a data-toggle="collapse" href="#toggle_content_preview_block">
							<i class="indicator glyphicon glyphicon-hand-down" style="font-size:14px;" title="Open/Hide preview"></i>
						</a>
					</span>

					<div class="pull-right">
						<a href="https://help.github.com/articles/basic-writing-and-formatting-syntax/" target="_blank">
							<i class="indicator glyphicon glyphicon-film" style="font-size:14px;" title="Markdown Help"></i>
						</a>
					</div>
					
				</div>

			</div>

			<div class="row list-group collapse in out" id="toggle_content_preview_block">
				<div class="col-sm-12 form-group " >
					<div class="content_preview" v-html="makeContentMarkdown">{{ computed_editor_content }}</div>
				</div>
			</div>

		</div>

	</section>

</template>

<script>
    import {bus} from '../../app';
    var marked = require('marked');
    marked.setOptions({
        renderer: new marked.Renderer(),
        gfm: true,
        tables: true,
        breaks: true,
        pedantic: false,
        sanitize: false,
        smartLists: true,
        smartypants: false
    });

    export default {
        props: {
            editor_type: {
                type: String,
                required: true,
            },

            unique_id: {
                required: false,
	            default:''
            },

	        content: {
                type: String,
                required: true,
                default: 'XX'
            },

	        textarea_cols: {
                type: Number,
                required: false,
                default: 80
            },

	        textarea_rows: {
                type: Number,
                required: false,
                default: 2
            },

	        helpTextRows: {
                type: Array,
                required: false,
                default: this.defaultHelpTextRowsArray,
            },
	        
            show_short_help_text: {
                type: Boolean,
                required: false,
                default: false,
            },

            show_full_help_link: {
                type: Boolean,
                required: false,
                default: false,
            },
	        
            show_validation_span: {
                type: Boolean,
                required: false,
                default: true,
            },

        }, // props: {

        computed: {
            makeContentMarkdown() {
                return marked(this.computed_editor_content, {sanitize: true})
            },
            computed_control_name: {
                get() {
                    return this.editor_type + '_content'
                },
            },

            computed_editor_content: {
                get () {
                    return this.content
                },
                set (content) {
                    bus.$emit('MarkdownEditorModifiedEvent', content, this.editor_type, this.unique_id );
                }
            }, // computed_editor_content: {

        }, // computed: {

        mounted() {
        }, // mounted() {

        data: function () {
            return {
                defaultHelpTextRowsArray : Array(
                    {tag:'Bold',           syntax:   '** ** or __ __',      example : '**This is bold text**'},
                    {tag:'Italic',         syntax:   '* * or _ _',          example : '*This text is italicized*'},
                    {tag:'Quoting code',   syntax:   '```',                 example : '```git status```'},
                    {tag:'Lists',          syntax:   ' with - or *',        example : '- George Washington'},
                    {tag:'Strikethrough',  syntax:   '~~ ~~',               example : '~~This was mistaken text~~'},
                    {tag:'Bold and italic',syntax:   '** ** and _ _',       example : '**This text is _extremely_ important**'},
                ),
            }
        }, // data: function () {

        methods: {
        } //


    }
</script>

<style scoped lang="css">
	.content_editor_wrapper {
		height: 90%;
		margin: 0;
	}

	.content_editor {
		font: inherit;
		outline: none;
	}

	.content_editor, .content_preview {
		width: 100%;
		height: 100%;
		padding: 5px;
		margin: 0;
		border: 1px dotted grey;
	}

	.content_preview {
		background-color: #EEE;
	}


</style>