<template>
	<section class="panel-body white-box text-primary">

		<div class="row" v-if="permit_select_and_upload_files">
			<listing-header :show_loading_image=is_page_loaded :current_page=0 :rows_count=0  :itemsList=itemDocumentsList :header_icon="getHeaderIcon('upload')"
			                :header_title="header_title"
		                :item_title="item_title" :message=message :no_data_found_label="no_data_found_label"></listing-header>
		</div>

		<form v-on:submit="updateItemDocuments()" class="form-horizontal">

			<div v-if="is_page_loaded && itemDocumentsList.length">

				<div v-for="(nextItemDocument, index) in itemDocumentsList">
					<div class="row file_upload_block">
						<div class="file_uploading_block_statusbar ">
							<div class="row m-5">

								<span v-if="nextItemDocument.preview_width && nextItemDocument.preview_height">
									<a :href="nextItemDocument.image_url" target="_blank">
										<img :src="nextItemDocument.image_url" :alt="nextItemDocument.info"
								        :width="nextItemDocument.preview_width" :height="nextItemDocument.preview_height">
									</a>
								</span>
								<span v-else>
									<a :href="nextItemDocument.image_url" target="_blank">Preview : </a>
								</span>
								<span v-html="nextItemDocument.file_info"></span>
								<p class="text-info"><span v-html="nextItemDocument.info"></span></p>
							</div>

							<div class="row m-5 file_uploading_block_item col-xs-12 col-sm-12 ">
								<p class="text-info">{{ nextItemDocument.public_access_label }}, {{ nextItemDocument.document_category_name }}</p>
								<div class="file_uploading_block_item_remove pull-right">
									<span v-if="permit_delete_document" @click="deleteItemDocument(nextItemDocument.id,nextItemDocument.filename, index)">
										<i class="glyphicon glyphicon-remove a_link" title="Delete document"></i>
                                    </span>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>


			<div id=" row multiple_file_uploading_block" v-if="permit_select_and_upload_files">
				<div class="file_uploading_block_upload_button" style="position: relative; overflow: hidden; cursor: default;" v-if="itemsForUploadingList.length == 0">

					<i class="glyphicon glyphicon-open-file"></i>&nbsp;Select file(s)
					<input id="uploadedItemDocuments" @change="selectMoreItemDocumentsForUploading" accept="*" multiple=""
					       style="position: absolute; cursor: pointer; top: 0px; width: 100%; height: 100%; left: 0px; z-index: 100; opacity: 0;" type="file">
				</div>
				<span v-if="uploadedDocumentsExtensionsArray">
					Permitted extensions : {{ uploadedDocumentsExtensionsArray }}
				</span>

				<!-- Files selected for uploading-->
				<div v-for="(attachment, index) in itemsForUploadingList">

					<div class="row file_upload_block">

						<div class="file_uploading_block_statusbar">

							<div class="row m-5">
								<div class="file_uploading_block_item col-xs-12 col-sm-12 ">
									{{ index + 1}}) {{ attachment.name + ' (' + attachment.size_label + ')' }}
									<div class="file_uploading_block_item_remove pull-right">
										<span @click="deleteItemDocumentForUploading(attachment)">
											<i class="glyphicon glyphicon-remove a_link" title="Cancel Uploading"></i>
										</span>
									</div>
								</div>
							</div>


							
							<div class="row m-5">
								<div class="file_uploading_block_item col-xs-12" v-if="show_info_selector">
									<label class="col-xs-12 col-sm-2 control-label" v-bind:for="'select_document_info_' + index">Info</label>
									<div class="col-xs-12 col-sm-10">
										<input type="text" v-bind:id="'select_document_info_' + index" class="form-control string_input" maxlength="255"
										       value="Info text...">
									</div>
								</div>
							</div>


							<div class="row m-5">
								<div class="col-xs-12 col-sm-6" v-if="show_categories_selector">
									<select v-bind:id="'select_document_category_' + index" class="form-control">
										<option value=""> -Select document category- </option>
										<option v-for="nextDocumentCategory, index in documentItemsList" v-bind:value="nextDocumentCategory.key" selected>{{
                                            nextDocumentCategory.label }}
										</option>
									</select>
								</div>

								<div class="col-xs-12 col-sm-6" v-if="show_public_accesses_selector">
									<select v-bind:id="'select_document_public_access_' + index" class="form-control">
										<option value=""> -Select document public access- </option>
										<option v-for="nextDocumentPublicAccess, index in documentPublicAccessesArray" v-bind:value="nextDocumentPublicAccess.key" selected>
											{{ nextDocumentPublicAccess.label }}
										</option>
									</select>
								</div>

							</div>

						</div>

					</div>

				</div>


				<div v-if="itemsForUploadingList.length > 0" class="row pull-right">
					<editor-buttons submit_label="Upload" cancel_label="" cancel_link="" :is_page_updating="is_page_updating"></editor-buttons>
				</div>
				<!-- Files selected for uploading-->

			</div>
			<!-- multiple_file_uploading_block END -->


		</form>
	</section>
</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';
    Vue.component( 'listing-header',  require( '../../components/lib/ListingHeader.vue') );
    Vue.component( 'editor-buttons',  require( '../../components/lib/EditorButtons.vue') );

    export default {
        mixins: [appMixin],

        props: {
            header_title: {
                type: String,
                required: false,
                default: ''
            },
            item_title: {
                type: String,
                required: true,
            },
            parent_item_id: {
                type: Number,
                required: false,
            },

            no_data_found_label: {
                type: String,
                required: false,
                default: 'No data found'
            },

            data_source_type: {
                type: String,
	            default:true,
            },
            show_categories_selector: {
                type: Boolean,
	            default:false,
            },
            show_public_accesses_selector: {
                type: Boolean,
	            default:false,
            },
            show_info_selector: {
                type: Boolean,
	            default:false,
            },
            documentItemsList: {
                type: Array,
                required: false,
                default:() => [],
            },

            permit_select_and_upload_files: {
                type: Boolean,
                required: false,
                default:true,
            },
            permit_delete_document: {
                type: Boolean,
                required: false,
                default:true,
            },
            uploadDocumentItemsList: {
                type: Boolean,
                required: false,
                default:false,
            },
            dataSourceParametersArray: {
                type: Array,
                required: false,
                default:() => [],
            },
            documentPublicAccessesArray: {
                type: Array,
                required: false,
                default:() => [],
            },
            uploadedDocumentsExtensionsArray: {
                type: Array,
                required: false,
                default:() => [],
            },
            is_page_loaded: {
                type: Boolean,
                required: false,
                default: true
            },

            logged_user_id: {
                type: Number,
                required: false,
            },

            logged_username: {
                type: String,
                required: false,
            },


        },

        created() {
            bus.$on('reloadFileUploadingDocumentsListEvent', () => {
                this.itemDocumentsReload();
            })

        }, // created()

        mounted() {
            this.itemDocumentsReload();
        }, // mounted() {


        data: function () {
            return {
                message: '',
                is_page_updating:false,
                itemDocumentsList: [],
                itemsForUploadingList: [],
                uploadedDataArray: new FormData(),
            }
        },

        methods: {

            /////// COMMON ITEM DOCUMENTS BLOCK START ////////

            itemDocumentsReload() {
	            var params_str= ''
                this.dataSourceParametersArray.map((nextDataSourceParameter,index) => {
                    var parameter_name= nextDataSourceParameter.parameter_name
                    var parameter_value= nextDataSourceParameter.parameter_value
                    params_str= params_str + "&" + parameter_name + "=" + parameter_value
                });

                if ( this.uploadDocumentItemsList && this.data_source_type == 'user_profile_documents' ) {
                    this.loadUserProfileDocumentsList(params_str)
                }
                if ( this.uploadDocumentItemsList && this.data_source_type == 'user_chat_message_documents' ) {
                    this.loadUserChatMessageDocumentsList(params_str)
                }
            },
	        
            selectMoreItemDocumentsForUploading(e) { // Trigger for any new added file(s)
                this.itemsForUploadingList = [];
                this.message = '';
                var uploadedItemDocumentsArray = e.target.files || e.dataTransfer.files;
                if (!uploadedItemDocumentsArray.length)
                    return;

                var selectedItemDocumentsList = [];
                for (var i = uploadedItemDocumentsArray.length - 1; i >= 0; i--) {
                    uploadedItemDocumentsArray[i]['size_label'] = this.getFileSizeAsString(uploadedItemDocumentsArray[i].size);
                    selectedItemDocumentsList[selectedItemDocumentsList.length] = uploadedItemDocumentsArray[i]
                }
                this.itemsForUploadingList = selectedItemDocumentsList;
                $("#uploadedItemDocuments").val(''); // ???
            }, // selectMoreItemDocumentsForUploading(e) { // Trigger for any new added file(s)

            deleteItemDocument(id, item_document_filename, index) {
                this.confirmMsg( "Do you want to delete '" + item_document_filename + "' "+this.item_title+" ?",  () => {
                    this.message = '';
                    var delete_url= ''
                    if ( this.data_source_type == 'user_profile_documents' ) {
                        delete_url= "user_profile_document_destroy"
                    }
                    if ( this.data_source_type == 'user_chat_message_documents' ) {
                        delete_url= "user_chat_message_document_destroy"
                    }
                    axios.delete(window.API_VERSION_LINK + '/' + delete_url + '/' + id ).then((response) => {
                        this.itemDocumentsList.splice(index, 1);
                        this.showPopupMessage( this.Capitalize(this.item_title) + ' deleted successfully. ', 'success' );
                    }).catch((error) => {
                        this.showPopupMessage( 'Error deleting ' + this.item_title+'. ', 'error');
                        this.showRunTimeError(error, this);
                    });

                });
            }, //deleteUserProfileDocument(id, item_profile_document_filename, index) {

            updateItemDocuments() { // check and upload/update selected user profile documents
                var L = this.itemsForUploadingList.length
                this.uploadedDataArray = new FormData();
                this.message = '';
                for (var i = 0; i < L; i++) {
                    this.uploadedDataArray.append( "uploadedItemDocuments[][attached_file]", this.itemsForUploadingList[i] );
                    this.uploadedDataArray.append( "uploadedItemDocuments[][document_category_id]", $("#select_document_category_" + i).val() );
                    this.uploadedDataArray.append( "uploadedItemDocuments[][info]", $("#select_document_info_" + i).val() );   // select_document_info_0
                    this.uploadedDataArray.append( "uploadedItemDocuments[][public_access]", $("#select_document_public_access_" + i).val() );
                    this.uploadedDataArray.append( "uploadedItemDocuments[][parent_item_id]", this.parent_item_id );
                }

                var config = {
                    headers: {'Content-Type': 'multipart/form-data'},
                    onUploadProgress: function (progressEvent) {
                        this.percentCompleted = Math.round((progressEvent.loaded * 100) / progressEvent.total);
                        console.log(this.percentCompleted);
                        this.$forceUpdate();
                    }.bind(this)
                };


                var update_url= '';
                if ( this.data_source_type == 'user_profile_documents' ) {
                    update_url= "/user_profiles_documents_upload"
                }
                if ( this.data_source_type == 'user_chat_message_documents' ) {
                    update_url= "/user_chat_message_documents_upload"
                }

                if ( update_url == '' ) {
                    alert(" data_source_type is not specified! ")
                    return;
                }

                this.is_page_updating= true
                axios.post(window.API_VERSION_LINK + update_url, this.uploadedDataArray, config ).then((response) => {
                    this.is_page_updating= false
                    this.message = '';
                    this.errorsList = [];
                    this.uploadedDataArray = new FormData();
                    this.itemsForUploadingList = [];
                    this.is_page_updating= false
	                $("#uploadedItemDocuments").val('')

                    if ( this.data_source_type == 'user_chat_message_documents' ) {
                        console.log("newUserChatAddedEvent response.data.user_chat_message_id::")
                        console.log( response.data.user_chat_message_id )

                        bus.$emit('newUserChatAddedEvent', {
                            'user_chat_message_id': response.data.user_chat_message_id,
                            'user_chat_id': this.parent_item_id,
                            'author_user_id': this.logged_user_id,
                            'author_name': this.logged_username,
                            'text': response.data.upload_text_result,
                            'message_type' : 'U',
	                        'is_top': '',
                            'created_at': this.getNowDateTime()
                        });

                        console.log("newUserChatAddedEvent WITH DOCS SENT::")
                    }
                    bus.$emit( 'reloadFileUploadingDocumentsListEvent', { data_source_type:this.data_source_type, parent_item_id:this.parent_item_id } );
                    this.showPopupMessage('File(s) successfully uploaded. ', 'success');
                }).catch((error) => {
                    this.showRunTimeError(error, this);
                    this.showPopupMessage('There were errors uploading file(s). ', 'error');
                });
            }, // updateItemDocuments() { // check and upload/update selected user profile documents

            deleteItemDocumentForUploading(item_document) {
                this.message = '';
                this.itemsForUploadingList.splice(this.itemsForUploadingList.indexOf(item_document), 1);
            }, // deleteItemDocumentForUploading(item_document) {

            /////// COMMON ITEM DOCUMENTS BLOCK END ////////


            /////// USER CHAT MESSAGE DOCUMENTS BLOCK START ////////

            loadUserChatMessageDocumentsList(params_str) {
                axios.get(window.API_VERSION_LINK + '/load_user_chat_message_documents?'+params_str ).then((response) => {
                    this.itemDocumentsList = response.data.userChatMessageDocumentsList;
                }).catch((error) => {
                    this.showRunTimeError(error, this);
                });
            }, //loadUserChatMessageDocumentsList() {

            /////// USER CHAT MESSAGE DOCUMENTS BLOCK END ////////



            /////// USER PROFILE DOCUMENTS BLOCK START ////////

            loadUserProfileDocumentsList(params_str) {
                axios.get(window.API_VERSION_LINK + '/load_user_profile_documents?'+params_str ).then((response) => {
                    this.itemDocumentsList = response.data.userProfileDocumentsList;
                }).catch((error) => {
                    this.showRunTimeError(error, this);
                });
            }, //loadUserProfileDocumentsList() {

            /////// USER PROFILE DOCUMENTS BLOCK END ////////



        }, // methods : {

    }

    function var_dump (oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }
    
</script>