<notify-me
		container="notification"
		status="alert-success"
		:width="300"
		close="bootstrap"
		:event-bus="bus"
>
	<template slot="content" scope="{data}">
		<div style="width: 100%; word-break: break-all; text-align: left">
			<h4><b>{{data.title}}</b></h4>
			<p style="margin: 0">{{data.text}}</p>
		</div>
	</template>
</notify-me>