<template>
	<section>
		SourceViewerContainer.vue
		<div class="panel-heading">

			01src_file::{{ src_file }}<br>
			23file_type::{{ file_type }}<br>
			<source-viewer :source_filename="param_src_file" :source_ext="param_file_type"></source-viewer>
			<!--source_filename, 'file_type': this.source_ext-->
		</div>
	</section>

</template>

<script>
    import appMixin from '../../appMixin';
    Vue.component( 'source-viewer',  require( '../../components/lib/SourceViewer.vue') );

    export default {                     // src_file: 'resources/assets/js/components/lib/StatusLine.vue', file_type

        props: {
            src_file: {
                type: String,
                required: false,
//                default:'app/Http/Controllers/DashboardController.php',
                default:'',
            },
            file_type: {
                type: String,
                required: false,
//                default:'php',
                default:'',
            },

        },

        data: function () {
            return {
                param_src_file: '',
                param_file_type: '',
                file_content: '',
                message:'',
                is_page_loaded:false,
                header_title: 'Source of file',
            }
        }, // data: function () {

        mixins : [appMixin],

        created() {
        },

        mounted() {
//            this.loadSourceFile()
//                    setTimeout(this.loadSourceFile, 1000);
//            hljs.initHighlightingOnLoad();
            alert( "mounted-1 resources/assets/js/components/lib/SourceViewerContainer.vue::" )
            this.param_src_file= 'AAA';
	        this.param_file_type= 'BBB';

	        //     {path: '/admin/source_viewer_container/:filename/:ext', component: SourceViewerContainer, name: 'sourceViewerContainer'},
            var filename = this.$route.params.filename
            var ext = this.$route.params.ext

	        console.log("filename::")
	        console.log( filename )

	        console.log("ext::")
	        console.log( ext )


            if (typeof filename != 'undefined' && typeof ext != 'undefined') {
                alert( "INSIDE::" )
                this.param_src_file = filename.toString()
                this.param_file_type = ext.toString()
                console.log("PARAMETERS ARE CHANGED FROM URL param_file_type::" + this.param_file_type)
                console.log("param_src_file::" + this.param_src_file)
            }

        }, // mounted() {

        methods: {

        }, // methods: {



    }


</script>