<template>
	<section>

		<div class="panel-heading">
			<div v-if="message" class="text-danger col-xs-12">
				<center>{{ message }}</center>
			</div>
			source_key::{{ source_key }}<br><br>;;
			
			source_filename::{{ source_filename }}<br>
			source_ext::{{ source_ext }}<br>

			source_filename_2::{{ source_filename_2 }}<br>
			source_ext_2::{{ source_ext_2 }}<br>

			<!--<div v-if="source_key == 'DashboardController.php'">-->
				<pre><code :class="source_ext">{{ file_content }}</code></pre>
			<!--</div>-->

		</div>

	</section>

</template>

<script>
    import appMixin from '../../appMixin';

    export default {

        props: {
            source_key: {
                type: String,
                required: true,
//                default: "DashboardController.php"
//                default: "AppDescription.vue"
//                default: "sql_tracing.txt"
//                default: "app.js"
            },
        },

        data: function () {
            return {

                source_filename: '',
                source_ext: '',
	            
                source_filename_1: 'app/Http/Controllers/DashboardController.php',
                source_ext_1: 'php',

                source_filename_2: '/storage/logs/sql_tracing.txt',
                source_ext_2: 'sql',

                source_filename_3: 'resources/assets/js/app.js',
                source_ext_3: 'js',

                source_filename_4: 'resources/assets/js/components/dashboard/AppDescription.vue',
                source_ext_4: 'vue',

                file_content: '',
                message: '',
            }
        }, // data: function () {

        mixins: [appMixin],

        created() {
        },

        mounted() {
            this.loadSourceFile()
        }, // mounted() {

        methods: {

            loadSourceFile() {
                this.message = '';



                var filename = this.$route.params.filename
                var ext = this.$route.params.ext
                console.log(typeof filename)
                console.log(typeof ext)
                if (typeof filename != 'undefined' && typeof ext != 'undefined') {
                    alert( "00 this.source_key::"+(this.source_key) )
                    this.source_filename = filename.toString()
                    this.source_ext = ext.toString()
                    console.log("PARAMETERS ARE CHANGED FROM URL filename::" + filename)
                    console.log("ext::" + ext)
                }


                if (this.source_key == 'DashboardController.php') {
                    alert( "-1 this.source_key::"+(this.source_key) )
                    this.source_filename = this.source_filename_1
                    this.source_ext = this.source_ext_1
                }

                if (this.source_key == 'sql_tracing.txt') {
                    alert( "-2 this.source_key::"+(this.source_key) )
                    this.source_filename = this.source_filename_2
                    this.source_ext = this.source_ext_2
                }

                 if (this.source_key == 'app.js') {
                    alert( "-3 this.source_key::"+(this.source_key) )
                    this.source_filename = this.source_filename_3
                    this.source_ext = this.source_ext_3

                }

                 if (this.source_key == 'AppDescription.vue') {
                    alert( "-4 this.source_key::"+(this.source_key) )
                    this.source_filename = this.source_filename_4
                    this.source_ext = this.source_ext_4

                }


                if ( this.source_filename == '' ) {
                    this.showPopupMessage('Source filename is not specified!', 'error');
                    return;
                }
                console.log("parameters would be applied: this.source_filename::" + (this.source_filename) + "  this.source_ext::" + this.source_ext)
                axios.post(window.API_VERSION_LINK + '/get_source_file', {'src_file': this.source_filename, 'file_type': this.source_ext}).then((response) => {
                    this.file_content = response.data.file_content
                    this.message = ''

                    let hljs = require('highlight.js');
                    console.log("hljs::")
                    console.log(hljs)

                    hljs.initHighlightingOnLoad();     // https://www.laravel-vuejs.com/vue-js-syntax-highlighting-with-highlight-js/
                    console.log("after initLineNumbersOnLoad::")


                    this.showPopupMessage('The source of the file was loaded', 'success');
                }).catch((error) => {
                    this.is_page_updating = false
                    this.showPopupMessage('Error loading the source of the file.', 'error');
                    this.showRunTimeError(error, this);
                });


            }, // loadSourceFile() {

        }, // methods: {


    }


</script>