<template>
	<div class="p-10 col-sm-offset-1 ">



		<!-- INFO MODAL START-->
		<div class="modal fade" id="info_dialog" tabindex="-1" role="dialog" aria-labelledby="info_dialog_label">
			<div class="modal-dialog" role="document">
				<div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
						<h4 class="modal-title" id="info_dialog_label"> Info</h4>
					</div>

					<div class="modal-body">
						<p class="text-info p-10">
							<span v-html="dialog_info_text"></span>
						</p>
					</div> <!-- modal-body -->

					<div class="modal-footer">
						<div class="row pull-right">
							<div class="btn-group editor_btn_group">
								<button type="button"  @click="cancelShowSystemInfoDialog()" class="btn btn-cancel-action">
									<i class="glyphicon glyphicon-remove"></i>&nbsp;Cancel
								</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- INFO MODAL END -->

		<!-- ASSIGNING TASKS DETAILS MODAL START-->
		<div class="modal fade" id="assigning_tasks_listing_dialog" tabindex="-1" role="dialog" aria-labelledby="assigning_tasks_listing_dialog_label">
			<div class="modal-dialog" role="document">
				<div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
						<h4 class="modal-title" id="assigning_tasks_listing_dialog_label"> Tasks assigned to you</h4>
					</div>

					<div class="modal-body">
						<ul class="list-group">
							<li v-for="nextAssigningTask, index in assigningTasksListing" class="p-10">

								<router-link :to="{ name: 'taskOperation', params: { id: nextAssigningTask.id } }">
									<span v-if="number_debugging">task_id # {{ nextAssigningTask.task_id }} ( subtask # {{ nextAssigningTask.id }} )</span>
									<span  v-bind:style="getPriorityColor(nextAssigningTask.task_priority)">
										{{ nextAssigningTask.task_name}}
									</span>
								</router-link>
								created by
								<router-link :to="{name: 'userProfileView', params: {id: nextAssigningTask.user_id} }" >
									<span v-if="number_debugging">user_id # {{ nextAssigningTask.user_id }}</span>
									{{ nextAssigningTask.user_first_name }} {{ nextAssigningTask.user_last_name }}( {{ nextAssigningTask.username }} )
								</router-link>&nbsp;at {{ nextAssigningTask.created_at_label }}
							</li>
						</ul>
						<p class="text-info p-10">
							By task's link you can assign or cancel any task
						</p>
					</div> <!-- modal-body -->

					<div class="modal-footer">
						<div class="row pull-right">
							<div class="btn-group editor_btn_group">
								<button type="button"  @click="cancelAssigningTasksListingDialog()" class="btn btn-cancel-action">
									<i class="glyphicon glyphicon-remove"></i>&nbsp;Cancel
								</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- ASSIGNING TASKS DETAILS MODAL END -->


		<div class="row  ">
			<div class="col-xs-12 col-sm-8 col-md-8 ">
				<router-link :to="{name: 'appDescription' }" >Description</router-link>

				<a href="test" class="a_link">Test</a>

				<router-link :to="{name: 'todoPage' }" >
					Test todo
				</router-link>

				<a href="#" class="a_link">Privacy</a>
				<a class="a_link" href="#">Security</a>
			</div>
			<div class="col-xs-12 col-sm-4 pull-right" v-if="site_name">
				<p class="muted ">© 2017 {{ site_name }}</p>
			</div>
		</div>


		<div class="row" v-if="loggedUserProfile.id">


			<div class="p-10">
				| <i class="glyphicon glyphicon-user"></i>
				<router-link :to="{name: 'userProfileView', params: {id: loggedUserProfile.id} }">
					{{ logged_user_name }}
				</router-link>

				<span v-for="nextLoggedUserInGroup, index in loggedUserInGroups">
					<a class="a_link" v-if="nextLoggedUserInGroup.status == 'A'" href="#"><span class="label label-info">{{ nextLoggedUserInGroup.group_name }}</span></a>&nbsp;
				</span>
				<!--| <i class="icon-calendar"></i> Sept 16th, 2012 at 4:20 pm-->
				<!--| <i class="glyphicon glyphicon-calendar"></i> {{ getActiveUserGroupLabel(loggedUserInGroups) }}-->
				<span v-if="assigning_tasks_count > 0">
					| <i class="glyphicon glyphicon-tasks a_link" @click.prevent="viewAssigningTasks" :title="assigning_tasks_count + ' New task(s)'"></i>
				</span>


				<span v-if="future_events_count > 0">
					| <i class="glyphicon glyphicon-bell a_link" @click.prevent="viewFutureEvents" :title="future_events_count+' Event(s)'"></i>
				</span>

				<!--resources/assets/js/components/lib/UserTodos.vue-->
				<span>
					| <router-link :to="{ name: 'blockContainer', params: { type: 'viewUserWeatherLocations' } }">
					<i class="glyphicon glyphicon-sunglasses" :title="user_weather_locations_count + ' Weather location(s)'"></i>
					</router-link>
				</span>

				<span>
					| <router-link :to="{ name: 'blockContainer', params: { type: 'viewUserTodos' } }">
					<i class="fa fa-check-circle" :title="user_todos_count+' Todo(s)'"></i>
					</router-link>
				</span>

				| <i class="glyphicon glyphicon-calendar"></i> {{ date_time_label }}
				| <i class="fa fa-bug"></i> <a class="a_link" href="http://local-tasks.com/sqlmonitor">sqlmonitor</a>
				 <a class="a_link" @click.prevent="showSystemInfo">| <i class="fa fa-info"></i></a>

		</div>





	</div> <!-- row -->

	</div> 
</template>


<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';
    import Datepicker from 'vuejs-datepicker';
    import moment from 'moment';
    import ElSlPanel from "../../../../../node_modules/element-ui/packages/color-picker/src/components/sv-panel.vue";



    export default {
        components: {ElSlPanel},
        data() {
            return {
                date_time_label: null,
                loggedUserProfile: {},
                loggedUserInGroups: {},
                assigning_tasks_count: 0,
                future_events_count: 0,
                user_weather_locations_count: 0,
                user_todos_count: 0,
                assigningTasksListing:[],
                site_name : '',
                container_dialog_type:'',
                show_container_dialog_label:'',
                number_debugging:false,
                dialog_info_text:'',
            }
        },

        computed: {

            logged_user_name() {
                if (typeof this.loggedUserProfile.name != 'undefined' && this.loggedUserProfile.first_name.length > 0 && this.loggedUserProfile.last_name.length > 0) {
                    return this.loggedUserProfile.id+"="+this.loggedUserProfile.name + "(" + this.loggedUserProfile.first_name + ' ' + this.loggedUserProfile.last_name + ")"
                }
                if (typeof this.loggedUserProfile.name != 'undefined') {
                    return this.loggedUserProfile.name
                }
                return '#ccc'
            },

//            header_title: function () {
//                return "Task operation";
//            },
//            full_user_name: function () {
//                return this.taskAssignedToUser.user_first_name + " " + this.taskAssignedToUser.user_last_name + " ( " + this.taskAssignedToUser.user_name + " ) ";
//            },

        }, // computed: {

        mixins : [appMixin],

        created() {
//            alert( "created::"+var_dump(-77) )
        },

        mounted() {
            bus.$on('UserProfileIsSetEvent', (username, site_name, loggedUserProfile, loggedUserInGroups) => {
	            if (typeof loggedUserProfile == 'undefined') {
                    alert( "not LOGGED::"+(-88) )
                    alert( "UserProfileIsSetEvent  loggedUserProfile::"+(loggedUserProfile) + "  typeof loggedUserProfile::"+( typeof loggedUserProfile )  )

	            }
                console.log("this.loggedUserProfile::");
                console.log(this.loggedUserProfile);

                console.log("this.loggedUserProfile.loggedUserInGroups::");
                console.log(this.loggedUserProfile);

//                alert( "UserProfileIsSetEvent loggedUserInGroups::"+var_dump(loggedUserInGroups) )
                this.page_title = username + " of " + site_name;
                this.site_name = site_name;
                this.loggedUserProfile = loggedUserProfile;
                this.loggedUserInGroups = loggedUserInGroups;

	            this.refreshTasksEventsInfo();

//                this.is_admin= this.checkUserGroupAccess( this.loggedUserInGroups, "Admin" )
//                alert( "this.is_admin::"+(this.is_admin) )

//                this.is_manager= this.checkUserGroupAccess( this.loggedUserInGroups, "Manager" )
//                alert( "this.is_manager::"+(this.is_manager) )
            })


//            alert( "created loggedUser::"+var_dump(this.loggedUser) )
            this.refreshTime();
            setInterval(this.refreshTime, 1000);
//
//            setInterval(this.refreshTasksEventsInfo, 30000);

        },

        methods: {

            refreshTime() {
                this.date_time_label = moment(new Date()).format('DD MMMM, YYYY HH:mm:ss');     // 30 December, 2017 6:50 PM
            },

            refreshTasksEventsInfo() {
//                alert( "refreshTasksEventsInfo::"+var_dump(this.loggedUserProfile) )
                axios.get(window.API_VERSION_LINK + '/refresh_user_profile_quick_info').then((response) => {
//                      alert( "refresh_user_profile_quick_info response.data::"+var_dump(response.data) )
                    this.assigning_tasks_count = response.data.assigning_tasks_count
                    this.user_weather_locations_count = response.data.user_weather_locations_count
                    this.user_todos_count = response.data.user_todos_count
                    this.future_events_count = response.data.future_events_count
                }).catch((error) => {
                    if (error.response.data.error_code == 11) {
                        this.showPopupMessage(error.response.data.message, 'error');
                        this.$router.push({path: '/'});
                    }
                    this.showRunTimeError(error, app);
                });

            },

            viewFutureEvents() {
                alert( "viewFutureEvents::"+var_dump(-13) )
            },

            showSystemInfo() {
                axios.get(window.API_VERSION_LINK + '/get_system_info').then((response) => {
                    this.dialog_info_text   = response.data.system_info
                    $("#info_dialog").modal('show');
                }).catch((error) => {
                    this.showRunTimeError(error, app);
                });
            },

            cancelShowSystemInfoDialog: function(){
                $("#info_dialog").modal('hide');
            },


            viewAssigningTasks() {
//                alert( "viewAssigningTasks::"+var_dump(-14) )
                axios.get(window.API_VERSION_LINK + '/get_assigning_tasks_details').then((response) => {
//                      alert( "get_assigning_tasks_details response.data::"+var_dump(response.data) )
                    this.assigningTasksListing   = response.data.assigningTasksListing
                    $("#assigning_tasks_listing_dialog").modal('show');
//                    bus.$emit('setAssigningTasksListingEvent', {
//                        'assigningTasksListing': response.data.assigningTasksListing
//                    }); // this resources/assets/js/components/user_chats/UserChatsRun.vue file will receive it
                }).catch((error) => {
                    if (error.response.data.error_code == 11) {
                        this.showPopupMessage(error.response.data.message, 'error');
                        this.$router.push({path: '/'});
                    }
                    this.showRunTimeError(error, app);
                });
            }, // viewAssigningTasks() {

            cancelAssigningTasksListingDialog: function(){
                $("#assigning_tasks_listing_dialog").modal('hide');
            },


            viewUserWeatherLocations() {
                this.container_dialog_type =  'viewUserWeatherLocations'
                this.show_container_dialog_label =  'Your Weather Locations'
                $("#show_container_dialog").modal('show');
            }, // viewUserWeatherLocations() {

            cancelUserWeatherLocationsDialog: function() {
                this.container_dialog_type= ''
                this.show_container_dialog_label= ''
                $("#show_container_dialog").modal('hide');
            },


        } // methods: {

    }


    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>