<template>

	<section>

		<editor-header :show_loading_image="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('todo')" :header_title=header_title
		               :message=message></editor-header>


		<!-- USER TODO EDITOR MODAL START-->
		<div class="modal fade" id="user_todo_editor_dialog" tabindex="-1" role="dialog" aria-labelledby="user_todo_editor_dialog_label">
			<div class="modal-dialog" role="document">
				<div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
						<h4 class="modal-title" id="user_todo_editor_dialog_label"> User's todo editor</h4>
					</div>

					<div class="modal-body">

						<div class="form-group">
							<label for="edited_user_todo_text">
								<small>Text</small> :
							</label>
							<input v-model="editedUserTodoForDialog.text" id="edited_user_todo_text" class="form-control" v-validate="'required|max:255'">
							<span v-show="vueErrorsList.has('text')" class="text-danger">{{ vueErrorsList.first('text') }}</span>
						</div>

						<div class="form-group">
							<label for="priority"><small>Priority</small> :</label>
							<div class="input_with_btn_at_right">
								<select id="priority" name="priority" v-validate="'required'" :class="{ 'form-control':true, 'errors': vueErrorsList.has('priority') }"
								        v-model="editedUserTodoForDialog.priority">
									<option value=""> -Select priority- </option>
									<option v-for="nextPriority, index in taskPrioritiesSelectionList" v-bind:value="nextPriority.key">{{ nextPriority.label }}
									</option>
								</select>
								<span v-show="vueErrorsList.has('priority')" class="text-danger">{{ vueErrorsList.first('priority') }}</span>

								<el-tag  v-bind:style="priority_color" >&nbsp;&nbsp;&nbsp;&nbsp;</el-tag>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label" for="task_id">Task <small class="form-text text-muted">Optional</small></label>
							<div class="">
								<select id="task_id" name="task_id" :class="{ 'form-control':true, 'errors': vueErrorsList.has('task_id') }"
								        v-model="editedUserTodoForDialog.task_id">
									<option value=""> -Select task- </option>
									<option v-for="nextTask, index in tasksSelectionList" v-bind:value="nextTask.key">{{ nextTask.label }}
									</option>
								</select>
								<span v-show="vueErrorsList.has('task_id')" class="text-danger">{{ vueErrorsList.first('task_id') }}</span>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label" for="completed">Completed </label>
							<div class="">
								<select id="completed" :class="{ 'form-control':true, 'errors': vueErrorsList.has('task_id') }"  v-model="editedUserTodoForDialog.completed">
									<option v-for="nextUserTodoCompleted, index in userTodoCompletedValueArray" v-bind:value="nextUserTodoCompleted.key">{{ nextUserTodoCompleted.label }}
									</option>
								</select>
								<span v-show="vueErrorsList.has('task_id')" class="text-danger">{{ vueErrorsList.first('task_id') }}</span>
							</div>
						</div>

						<p class="text-info p-10">
							You can complete or change properties of this user's todo.
						</p>

					</div> <!-- modal-body -->

					<div class="modal-footer">
						<div class="row pull-right">
							<div class="btn-group editor_btn_group">
								<button type=" btn btn-primary " @click.prevent="updateUserTodoEditorDialog()" class="btn btn-primary" style="margin-right: 20px;">
									<i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Update
								</button>
								<button type="btn btn-cancel-action"  @click="cancelUserTodoEditorDialog()" class="btn btn-cancel-action">
									<i class="glyphicon glyphicon-remove"></i>&nbsp;Cancel
								</button>

							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<!-- USER TODO EDITOR MODAL END -->



		<div class="panel panel-default">
			<!--editedUserTodo::{{ editedUserTodo }}-->

			<div class="row p-10 m-0">
				<div class="col-xs-12 col-sm-4">
					<input name="filter" type="radio" value="all"  v-model="is_visible" v-on:click="userTodoFilterApplied('all')" > All
				</div>
				<div class="col-xs-12 col-sm-4">
					<input name="filter" type="radio" value="active"  v-model="is_visible" v-on:click="userTodoFilterApplied('active')" > Only active
				</div>
				<div class="col-xs-12 col-sm-4">
					<input name="filter" type="radio" value="completed"  v-model="is_visible" v-on:click="userTodoFilterApplied('completed')" > Only completed
				</div>
			</div>


			<div class="row p-10 m-0">
				<div class="col-xs-12 form-group">
					<label class="col-xs-12 col-sm-4 control-label" for="new_user_todo_input">Quickly add new todo:</label>
					<div class="col-xs-12 col-sm-8">
						<input id="new_user_todo_input" maxlength="255" class="form-control string_input"  autofocus autocomplete="off" placeholder="Enter new todo"
						       v-model="newUserTodo.text"  @keyup.enter="quickUserTodoAdd">
					</div>
				</div>
			</div>

			<section  v-show="userTodosList.length" v-cloak>
				<ul class="user_todo_listing">
					<li v-for="userTodo in filteredUserTodosArray"
					    class="todo"
					    :key="userTodo.id"
					    :class="{ completed: userTodo.completed, editing: userTodo == editedUserTodo }">
						<div class="view" >

							<table>
								<tr>

									<td width="90%">
										<label @dblclick="editTodo(userTodo)" v-bind:style="setPriorityColor(userTodo)" style="border: 0px dotted green;">
											{{ userTodo.id }}=>{{ userTodo.text }}
											<!--= {{ userTodo.priority }} = {{ userTodo.task_id	}} -->
											<small v-if="userTodo.task_name"> ( related task "{{ userTodo.task_name }}" ) </small>
											<small v-if="userTodo.completed">. Completed </small>
										</label>
									</td>

									<td width="5%" style="margin: 20px; text-align: right">
										<i class="glyphicon glyphicon-edit view_link" title="View weather info"
										   @click.prevent="openUserTodoEditorDialog(userTodo)" >
										</i>&nbsp;&nbsp;&nbsp;
									</td>

									
									<td width="5%">&nbsp;&nbsp;
										<i class="glyphicon glyphicon-remove destroy_link" title="Delete user's weather location"
										   @click="removeTodo(userTodo)"></i>
									</td>

								</tr>
							</table>




						</div>
						<input class="inline_input_editor" type="text"
						       v-model="userTodo.text"
						       v-todo-focus="userTodo == editedUserTodo"
						       @blur="doneEdit(userTodo)"
						       @keyup.enter="doneEdit(userTodo)"
						       @keyup.esc="cancelEdit(userTodo)">
					</li>

				</ul>
			</section>
		</div>

		
	</section>


</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';


    export default {

        mixins: [appMixin],

        data: function () {
            return {
                header_title: 'Your todo\'s list',
                is_page_loaded: false,
                is_page_updating: false,
                is_insert: false,
                message : '',
                userTodosList: [],
                newUserTodo: { text: '', priority: 1, completed: false, task_id : null },
                editedUserTodo: { text: '', priority: 1, completed: false, task_id : null },
                editedUserTodoForDialog: { text: '', priority: 1, completed: false, task_id : null },
                is_visible: 'all',
                taskPrioritiesSelectionList : [],
                tasksSelectionList : [],
                userTodoCompletedValueArray : []
            }

        }, // data: function () {




        created() {
//            alert( "created::"+var_dump(-23) )
        }, // created() {


        mounted() {
//            alert( "mounted::"+var_dump(-13) )
            this.loadUserTodosList()
        }, // mounted() {


        // computed properties
        // http://vuejs.org/guide/computed.html
        computed: {
            priority_color() {
                if ( typeof settings_priorityColorsArray[this.editedUserTodo.priority] != 'undefined' ) {
                    return 'backgroundColor:'+settings_priorityColorsArray[this.editedUserTodo.priority]
                }
                return '#ccc'
            },

            filteredUserTodosArray: function () {
//	            console.log("filteredUserTodosArray  this.is_visible::")
//	            console.log( this.is_visible )
//
//
//	            console.log("filteredUserTodosArray  this.userTodosList::")
//	            console.log( this.userTodosList )
//
//
                var filteredRetArray= []
                this.userTodosList.map((nextUserTodo,index) => {
                    if ( this.is_visible == 'active' && nextUserTodo.completed == 0 ) {
                        filteredRetArray[filteredRetArray.length]= nextUserTodo;
                    }
                    if ( this.is_visible == 'completed' && nextUserTodo.completed == 1 ) {
                        filteredRetArray[filteredRetArray.length]= nextUserTodo;
                    }
                    if ( this.is_visible == 'all' ) {
                        filteredRetArray[filteredRetArray.length]= nextUserTodo;
                    }
                });
                return filteredRetArray
            },
//            remaining: function () {
//                return filters.active(this.userTodosList).length
//            },
            allDone: {
                get: function () {
                    return this.remaining === 0
                },
                set: function (value) {
                    this.userTodosList.forEach(function (userTodo) {
                        userTodo.completed = value
                    })
                }
            }
        }, // computed: {

//        filters: {
//            pluralize: function (n) {
//                return n === 1 ? 'item' : 'items'
//            }
//        },

        // methods that implement data logic.
        // note there's no DOM manipulation here at all.
        methods: {

            openUserTodoEditorDialog(userTodo) {
//                alert( "openUserTodoEditorDialog " + ( typeof this.editedUserTodo.priority ) + " userTodo::"+var_dump(userTodo) )
                this.loadUserTodoDictionaries()
                this.editedUserTodoForDialog= userTodo
	            if ( typeof this.editedUserTodoForDialog.priority == "undefined" || this.editedUserTodoForDialog.priority == 0 ) {
                    this.editedUserTodoForDialog.priority= 1
	            }
	            if ( typeof this.editedUserTodoForDialog.task_id == "undefined" ) {
                    this.editedUserTodoForDialog.task_id= ''
	            }
//                this.cancelEdit(userTodo)
//                userTodo.text = this.beforeEditCache
                this.is_insert= false // todo
                $("#user_todo_editor_dialog").modal('show');
            },



            updateUserTodoEditorDialog: function(){
                this.is_page_updating = true
	            if (parseInt(this.editedUserTodoForDialog.priority) <= 0 ) {
                    this.editedUserTodoForDialog.priority= 1
	            }
	            alert( " updateUserTodoEditorDialog this.editedUserTodoForDialog::"+var_dump(this.editedUserTodoForDialog) )
                axios({
                    method: ( this.is_insert ? 'post' : 'patch' ),
                    url: window.API_VERSION_LINK + '/user_todo_update' + ( !this.is_insert ? "/"+this.editedUserTodoForDialog.id : ''),
                    data: ( !this.is_insert ? this.editedUserTodoForDialog : this.newUserTodo ),
                }).then((response) => {
                    this.is_page_updating = false
                    this.loadUserTodosList()
                    this.showPopupMessage('User\'s todo ' + ( this.is_insert? 'added' : 'updated' ) + ' successfully. ', 'success');
                }).catch((error) => {
                    this.$setLaravelValidationErrorsFromResponse(error.response.data);
                    this.is_page_updating = false
                    this.showRunTimeError(error, this);
                    this.showPopupMessage('Error ' + ( this.is_insert? 'adding' : 'updating' ) + ' user\'s todo. ', 'error');
                });
                $("#user_todo_editor_dialog").modal('hide');
            },

            cancelUserTodoEditorDialog: function(){
                $("#user_todo_editor_dialog").modal('hide');
            },

            userTodoFilterApplied(filter) {
	            this.is_visible= filter
            },

            setPriorityColor(todoItem) {
                if ( !todoItem.completed ) { // set color only for non completed todo
                    return 'backgroundColor:'+settings_priorityColorsArray[todoItem.priority]
                }
                return ''
            },

            loadUserTodosList() {
//                alert("loadUserTodosList::" + var_dump(-12))
                this.message = '';
                this.is_page_loaded = false

//	            alert( "++++loadUserTodosList  " )
                axios.get(window.API_VERSION_LINK + '/user_todos_load').then((response) => {
                    this.is_page_loaded = true
                    this.userTodosList = response.data.userTodosList;
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });

            }, // loadUserTodosList() {


            loadUserTodoDictionaries() {
                this.is_page_loaded = false
                axios.get(window.API_VERSION_LINK + '/user_todos_dictionaries' ).then((response) => {
                    this.is_page_loaded = true
                    this.taskPrioritiesSelectionList = response.data.taskPrioritiesSelectionList;
                    this.tasksSelectionList = response.data.tasksSelectionList;
                    this.userTodoCompletedValueArray = response.data.userTodoCompletedValueArray;
                }).catch((error) => {
                    if ( error.response.data.error_code == 11 ) {
                        this.showPopupMessage(error.response.data.message, 'error');
                    }
                    this.is_page_updating= false
                    this.showRunTimeError(error, this);
                });
            }, // loadUserTodoDictionaries() {

            quickUserTodoAdd: function () {
                if ( this.newUserTodo.text.trim() == '' ) {
                    return;
                }
                this.newUserTodo.completed=  this.newUserTodo.completed ? 1 : 0
                axios({
                    method: ( 'post' ),
                    url: window.API_VERSION_LINK + '/user_todo_store' ,
                    data: this.newUserTodo,
                }).then((response) => {
                    this.is_page_updating = false
                    this.newUserTodo= { text: '', priority: 1, completed: false, task_id : null };
                    this.loadUserTodosList()
                    this.showPopupMessage('User\'s todo added successfully . ', 'success');
                }).catch((error) => {
                    this.$setLaravelValidationErrorsFromResponse(error.response.data);
                    this.is_page_updating = false
                    this.showRunTimeError(error, this);
                    this.showPopupMessage('Error adding user\'s todo : ' + error.response.data.message, 'error');
                });
            },

            removeTodo: function (userTodo) {
                this.confirmMsg( "Do you want to delete '" + userTodo.text + "' todo ?",  () => {
                    axios.delete(window.API_VERSION_LINK + '/user_todo_destroy/' + userTodo.id ).then((response) => {
                        this.userTodosList.splice(this.userTodosList.indexOf(userTodo), 1)
                        this.showPopupMessage('Todo deleted successfully. ', 'success');
                    }).catch((error) => {
                        this.showPopupMessage('Error deleting todo. ', 'error');
                        this.showRunTimeError(error, this);
                    });
                });
            },

            editTodo: function (userTodo) {
                this.beforeEditCache = userTodo.text
                this.editedUserTodo = userTodo
//	            alert( "editTodo  this.beforeEditCache::"+(this.beforeEditCache) + "  this.editedUserTodo::"+var_dump(this.editedUserTodo) )
            },

            doneEdit: function (userTodo) {
                if (!this.editedUserTodo) {
                    return
                }
                this.updateUserTodo()
            },

            updateUserTodo: function () {
                if ( this.editedUserTodo.text.trim() == '' ) {
                    return;
                }
                if (parseInt(this.editedUserTodo.priority) <= 0 ) {
                    this.editedUserTodo.priority= 1
                }
//                alert( " updateUserTodo this.editedUserTodo::"+var_dump(this.editedUserTodo) )
                axios({
                    method: ( 'patch' ),
                    url: window.API_VERSION_LINK + '/user_todo_update/' +  this.editedUserTodo.id,
                    data: this.editedUserTodo,
                }).then((response) => {
                    this.is_page_updating = false
                    this.editedUserTodo = { text: '', priority: 1, completed: false, task_id : null }
                    this.showPopupMessage('User\'s todo updated successfully . ', 'success');
                }).catch((error) => {
                    this.$setLaravelValidationErrorsFromResponse(error.response.data);
                    this.is_page_updating = false
                    this.showRunTimeError(error, this);
                    this.showPopupMessage('Error updating user\'s todo : ' + error.response.data.message, 'error');
                });

            },

            cancelEdit: function (userTodo) {
                this.editedUserTodo = { text: '', priority: 1, completed: false, task_id : null }
                userTodo.text = this.beforeEditCache
            },

        }, // methods



        // a custom directive to wait for the DOM to be updated
        // before focusing on the input field.
        // http://vuejs.org/guide/custom-directive.html
        directives: {
            'todo-focus': function (el, binding) {
                if (binding.value) {
                    el.focus()
                }
            }
        }


    } // export default {



    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }
</script>


<style scoped lang="css">
	[v-cloak] { display: none; }




	:focus {
		outline: 0;
	}

	.hidden {
		display: none;
	}

	.inline_input_editor {
		position: relative;
		margin: 0;
		width: 100%;
		line-height: 1.4em;
		padding: 6px;
		box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.user_todo_listing {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.user_todo_listing li {
		position: relative;
	}

	.user_todo_listing li:last-child {
		border-bottom: none;
	}

	.user_todo_listing li.editing {
		border-bottom: none;
		padding: 0;
	}

	.user_todo_listing li.editing .inline_input_editor {
		display: block;
		/*width: 506px;*/
		padding: 5px 5px;
		margin: 0 0 0 10px;
	}

	.user_todo_listing li.editing .view {
		display: none;
	}

	.user_todo_listing li label {
		word-break: break-all;
		padding: 15px 60px 15px 15px;
		margin-left: 5px;
		display: block;
		line-height: 1.2;
	}

	.user_todo_listing li.completed label {
		color: #9e9e9e;
		/*text-decoration: line-through;*/
	}

	.user_todo_listing li .destroy {
		display: none;
		position: absolute;
		top: 0;
		right: 10px;
		bottom: 0;
		width: 40px;
		height: 40px;
		margin: auto 0;
		margin-bottom: 11px;
	}

	.user_todo_listing li .destroy:after {
		content: '×';
	}



	.view_link {
		display: none;
		cursor: pointer;
		position: absolute;
		top: 0;
		/*left:20px;*/
		right: 20px;
		bottom: 0;
		width: 40px;
		height: 40px;
		margin: auto 0;
		margin-bottom: 1px;
		margin-right: 20px;
	}
	
	li:hover .view_link {
		display: block;
	}


	.destroy_link {
		display: none;
		cursor: pointer;
		position: absolute;
		top: 0;
		right: -10px;
		bottom: 0;
		width: 40px;
		height: 40px;
		margin: auto 0;
		margin-bottom: 1px;
		margin-right: -10px;
	}


	li:hover .destroy_link {
		display: block;
	}



	.user_todo_listing li:hover .destroy {
		display: block;
	}

	.user_todo_listing li .inline_input_editor {
		display: none;
	}

	.user_todo_listing li.editing:last-child {
		margin-bottom: -1px;
	}


	.todo-count {
		float: left;
		text-align: left;
	}

	.todo-count strong {
		font-weight: 300;
	}
	
	.info {
		margin: 65px auto 0;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		text-align: center;
	}

	.info p {
		line-height: 1;
	}

	.info a {
		text-decoration: none;
		font-weight: 400;
	}

	.info a:hover {
		text-decoration: underline;
	}


</style>