<template>
	<section>
		<div class="form-group pull-right">
			<router-link :to="{ name: 'editDocumentCategory', params: { id: 'new' } }" class="btn btn-success">Add</router-link>
		</div>

		<div class="panel panel-default">

			<listing-header :show_loading_image=is_page_loaded :rows_count=rows_count :current_page=current_page :itemsList="documentCategories"
			                :header_icon="getHeaderIcon('document_category')" :header_title=header_title
			                :message=message :item_title="'row'"></listing-header>

			<section class="panel-body white-box text-primary">

				<div v-if="is_page_loaded && documentCategories.length">
					<table class="table table-striped text-primary">
						<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Type</th>
							<th>Description</th>
							<th>Created at</th>
							<th width="100">&nbsp;</th>
						</tr>
						</thead>
						<tbody>
						<tr v-for="nextDocumentCategory, index in documentCategories">
							<td class="integer_cell">{{ nextDocumentCategory.id }}</td>
							<td>
								{{ nextDocumentCategory.name }}
								<span v-if="nextDocumentCategory.user_profile_documents_count > 0">
									<span class="text-muted"><small> ( Used in {{ nextDocumentCategory.user_profile_documents_count }} profile
									document(s) )</small></span>
								</span>
								<span v-if="nextDocumentCategory.user_chat_message_documents_count > 0">
									<span class="text-muted"><small> ( Used in {{ nextDocumentCategory.user_chat_message_documents_count }}
									chat message(s) )</small></span>
								</span>
							</td>
							<td>{{ nextDocumentCategory.type_label }}</td>
							<td>{{ concatStr( nextDocumentCategory.description ) }}</td>
							<td class="datetime_cell">{{ nextDocumentCategory.created_at_label }}</td>

							<td>
								<router-link :to="{name: 'editDocumentCategory', params: {id: nextDocumentCategory.id}}">
									<i class="glyphicon glyphicon-edit m-r-20" title="Edit document category"></i>
								</router-link>
								<a href="#" v-on:click="removeDocumentCategory(nextDocumentCategory.id, nextDocumentCategory.name, index)">
									<i class="glyphicon glyphicon-remove" title="Delete document category"></i>
								</a>
							</td>

						</tr>
						</tbody>
					</table>

					<listing-pagination	:current="current_page"	:total="rows_count"	:items_per_page="per_page" :show_next_prior_buttons=false @page-changed="loadDocumentCategoriesList"	></listing-pagination>

				</div>

			</section>
		</div>
	</section>
</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';
    Vue.component( 'listing-pagination',  require( '../../components/lib/ListingPagination.vue') );
    Vue.component( 'listing-header',  require( '../../components/lib/ListingHeader.vue') );

    export default {
        data: function () {
            return {
                header_title : 'Document Categories',
                is_page_loaded:false,
                documentCategories: [],
                message:'',
                rows_count: 0,
                per_page: 10,
                current_page: 1,
            }
        }, // data: function () {

        mixins : [appMixin],

        created() {
        },

        mounted() {
            this.loadDocumentCategoriesList()
        }, // mounted() {

        methods: {

            loadDocumentCategoriesList() {
                this.message = '';
                this.is_page_loaded = false

                axios.get( window.API_VERSION_LINK + '/document_categories' ).then((response) => {
                    this.is_page_loaded = true
                    this.documentCategories = response.data.documentCategoriesList;
                    this.rows_count = response.data.rows_count;
                    this.per_page = response.data.per_page
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });

            }, // loadDocumentCategoriesList() {

            removeDocumentCategory(id, document_category_name, index) {
                this.message = '';
                this.confirmMsg( "Do you want to delete '" + document_category_name + "' document category ?",  () => {
                    axios.delete(window.API_VERSION_LINK + '/document_categories/' + id ).then((response) => {
                        this.loadDocumentCategoriesList()
                        this.showPopupMessage('Document category deleted successfully. ', 'success');
                    }).catch((error) => {
                        this.showPopupMessage('Error deleting document category. ', 'error');
                        this.showRunTimeError(error, this);
                    });
                });
            }, //removeDocumentCategory(id, document_category_name, index) {

        } // methods: {
    }
</script>
