<template>

	<div >

		<!--<h3>/test/Test.vue Start</h3>-->


		<!--<events-calendar :data_type="'profile_events'" :show_event_time="true" :show_access_label="true"></events-calendar>-->

		<!--<button v-popover:foo>Toggle popover</button>-->

		<!--<popover name="foo">-->
			<!--Hello 🎉-->
		<!--</popover>-->

		<!--<hr><hr>-->

		<!--<ul>-->
			<!--<li v-for="popoverData, index in popoverDataArray">-->
				<!--<button v-popover:hint_+popoverData.id>Toggle popover # {{ popoverData.id }}</button>-->

				<!--<popover name="'hint_'+popoverData.id">-->
					<!--{{ popoverData.text }}-->
				<!--</popover>-->

			<!--</li>-->
		<!--</ul>-->

		<!--Looks like you're using shorthand directive syntax at :v-popover= should that be.. v-popover= or possibly :popover= – Alan Jenkins 2 hours ago-->


		<!--<task-operation :debugging_id="50"></task-operation>-->

		<!--<source-viewer :source_key="'DashboardController.php'"></source-viewer>-->
		<!--<user-todos></user-todos>-->
	<weather-viewer></weather-viewer>
		<!--<tasks-edit  :debugging_id="2"></tasks-edit>-->

		<!--<tasks_index></tasks_index>-->

		<!--source_filename_1: 'app/Http/Controllers/DashboardController.php',-->
		<!--source_filename_2: '/storage/logs/sql_tracing.txt',-->
		<!--source_filename_3: 'resources/assets/js/app.js',-->
		<!--source_filename_4: 'resources/assets/js/components/dashboard/AppDescription.vue',-->



		<!--<source-viewer-container src_file="resources/assets/js/components/tasks/TasksIndex.vue" file_type="vue"></source-viewer-container>-->

		<!--<user-chats-run :debug_id="2"></user-chats-run>-->



		<!---->
		<!--<h1>My Calendar</h1>-->
		<!--<calendar-view-->
				<!--:show-date="showDate"-->
				<!--@setShowDate="setShowDate"-->
				<!--class="holiday-us-traditional holiday-us-official"-->
				<!--:events="myProfileEvents"-->
				<!--:height="7"-->
		<!--/>-->



		<!--<source-viewer src_file="resources/assets/js/components/tasks/TasksIndex.vue" file_type="vue"></source-viewer>-->
		<!--<source-viewer src_file="resources/views/layouts/app.blade.php" file_type="blade"></source-viewer>-->
		<!--<source-viewer src_file="public/readme.html" file_type="html"></source-viewer>-->

		<!--<a class="a_link" @click="viewSourcePage('/_wwwroot/lar/tasks/storage/logs/sql_tracing.txt','sql')">/_wwwroot/lar/tasks/storage/logs/sql_tracing.txt</a>-->
		<!--</li>-->
		<!--<li>-->
			<!--<a class="a_link" @click="viewSourcePage('resources/assets/js/components/tasks/TasksIndex.vue','vue')">resources/assets/js/components/tasks/TasksIndex.vue</a>-->
		<!--</li>-->
		<!--<li>-->
			<!--<a class="a_link" @click="viewSourcePage('resources/views/layouts/app.blade.php','blade')">resources/views/layouts/app.blade.php</a>-->


		<!--source_viewer_container-->


	</div>


</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';

//    import CalendarView from "vue-simple-calendar"
//    require("vue-simple-calendar/dist/static/css/default.css")
//    require("vue-simple-calendar/dist/static/css/holidays-us.css")
// file:///_wwwroot/lar/tasks/node_modules/vue-simple-calendar/dist/static/css/default.css
    //
    
    Vue.component( 'task-operation',  require( '../../components/tasks/TaskOperation.vue') );
    Vue.component( 'source-viewer-container',  require( '../../components/lib/SourceViewerContainer.vue') );  //resources/assets/js/components/lib/SourceViewerContainer.vue
    Vue.component( 'user-chats-run',  require( '../../components/user_chats/UserChatsRun.vue' ) );  // import UserChatsRun from './components/user_chats/UserChatsRun.vue';
    Vue.component( 'user-todos',  require( '../../components/lib/UserTodos.vue' ) );  // resources/assets/js/components/lib/UserTodos.vue
    Vue.component( 'weather-viewer',  require( '../../components/lib/WeatherViewer.vue' ) );  // resources/assets/js/components/lib/WeatherViewer.vue
    Vue.component( 'tasks-edit',  require( '../../components/tasks/TasksEdit.vue' ) );  // import TasksEdit from './components/tasks/TasksEdit.vue';
    Vue.component( 'tasks_index',  require( '../../components/tasks/TasksIndex.vue' ) );  // resources/assets/js/components/tasks/TasksIndex.vue
    Vue.component( 'events-calendar',  require( '../../components/lib/EventsCalendar.vue' ) );  // resources/assets/js/components/tasks/TasksIndex.vue


//    import TaskOperation from './components/tasks/TaskOperation.vue';

//    var data= [
//        { startDate : "2018-02-12 16:00", endDate : "2018-02-12 18:20", title : "event1", id : 12, url : 'http://site.com/12' },
//        { startDate : "2018-02-12 19:30", endDate : "2018-02-14 22:35", title : "event2", id : 13, url : 'http://site.com/13' },
//        { startDate : "2018-02-12 20:10", endDate : "2018-02-14 23:50", title : "event3", id : 14, url : 'http://site.com/14' },
//    ];

    var demoEvents = [
        {
            title : 'Sunny Out of Office',
            start : '2018-02-12',
            end : '2018-02-27'
        },

	    {
            title : 'Let it be',
            start : '2018-02-09',
            end : '2018-02-14'
        },


        {
            title : 'Let it be233',
            start : '2018-02-02',
            end : '2018-02-18'
        },
        {
            title : 'Let it bezzzz',
            start : '2018-02-09',
            end : '2018-03-05'
        },

    ]
    export default {

        mixins: [appMixin],

        data: function () {
            return {
                header_title: 'Test',
                showDate: new Date(),
//                myProfileEvents : data,
                fcEvents : demoEvents,


                popoverDataArray:[
	                {id: 1, text : 'Lorem  ipsum dolor sit amet, 1111' },
//	                {id: 2, text : 'Lorem  ipsum dolor sit amet, 2222.' },
//	                {id: 3, text : 'Lorem  ipsum dolor sit amet, 3333.' },
//	                {id: 4, text : 'Lorem  ipsum dolor sit amet, 4444.' },
//	                {id: 5, text : 'Lorem  ipsum dolor sit amet, 5555.' },
                ],

        }

        }, // data: function () {


        components: {
            'full-calendar': require('vue-fullcalendar')
//            CalendarView
        }, // components: {

        created() {
        }, // created() {


        mounted() {
        }, // mounted() {

        methods: {
            setShowDate(d) {
                this.showDate = d;
            },
        }, // methods

    } // export default {



//
//    window.addEventListener('hashchange', onHashChange)
//    onHashChange()


    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }
</script>


<style scoped lang="css">
	[v-cloak] { display: none; }





	/*#app {*/
		/*font-family: 'Avenir', Helvetica, Arial, sans-serif;*/
		/*color: #2c3e50;*/
		/*height: 67vh;*/
		/*width: 90vw;*/
		/*margin-left: auto;*/
		/*margin-right: auto;*/
	/*}*/



	/* Grid */

	/*.calendar-view .day .today {*/
		/*!*height: 7em !important;*!*/
		/*min-height: 200px;*/
		/*background-color: maroon !important;*/
	/*}*/

	/*.calendar-view .day .past {*/
		/*!*height: 7em !important;*!*/
		/*min-height: 200px;*/
		/*background-color: yellow !important;*/
		/*border: 2px solid red !important;*/
	/*}*/

	/*.calendar-view .day .outsideOfMonth {*/
		/*!*height: 7em !important;*!*/
		/*min-height: 200px;*/
		/*background-color: yellow !important;*/
		/*border: 2px solid red !important;*/
	/*}*/




</style>