<template>
    <section>

        <div class="panel panel-default">

            <editor-header :show_loading_image="!is_page_loaded || is_page_updating" :header_title=header_title :message=message></editor-header>

            <section class="panel-body white-box text-primary">
                <form v-on:submit="updateDocumentCategory()" class="form-horizontal" >


                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="col-xs-12 col-sm-4 control-label" for="name">Name<span class="required"> * </span></label>
                            <div class="col-xs-12 col-sm-8">
                                <input type="text" id="name" v-model="newUser.name" v-bind:class="{'form-control':true, 'text-danger': errorsList.name}">
                                <small v-if="errorsList.name" class="text-danger">{{ errorsList.name[0] }}</small>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="col-xs-12 col-sm-4 control-label" for="email">Email<span class="required"> * </span></label>
                            <div class="col-xs-12 col-sm-8">
                                <input type="text" id="email" v-model="newUser.email" v-bind:class="{'form-control':true, 'text-danger': errorsList.email}">
                                <small v-if="errorsList.email" class="text-danger">{{ errorsList.email[0] }}</small>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="col-xs-12 col-sm-4 control-label" for="password">Password<span class="required"> * </span></label>
                            <div class="col-xs-12 col-sm-8">
                                <input type="password" id="password" v-model="newUser.password" v-bind:class="{'form-control':true, 'text-danger': errorsList.password}">
                                <small v-if="errorsList.password" class="text-danger">{{ errorsList.password[0] }}</small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="col-xs-12 col-sm-4 control-label" for="password_2">Confirm Password<span class="required"> * </span></label>
                            <div class="col-xs-12 col-sm-8">
                                <input type="password_2" id="password_2" v-model="newUser.password_2" v-bind:class="{'form-control':true, 'text-danger': errorsList.password_2}">
                                <small v-if="errorsList.password_2" class="text-danger">{{ errorsList.password_2[0] }}</small>
                            </div>
                        </div>
                    </div>



                    
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="col-xs-12 col-sm-4 control-label" for="first_name">First name<span class="required"> * </span></label>
                            <div class="col-xs-12 col-sm-8">
                                <input type="text" id="first_name" v-model="newUser.first_name" v-bind:class="{'form-control':true, 'text-danger': errorsList.first_name}">
                                <small v-if="errorsList.first_name" class="text-danger">{{ errorsList.first_name[0] }}</small>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="col-xs-12 col-sm-4 control-label" for="last_name">Last name<span class="required"> * </span></label>
                            <div class="col-xs-12 col-sm-8">
                                <input type="text" id="last_name" v-model="newUser.last_name" v-bind:class="{'form-control':true, 'text-danger': errorsList.last_name}">
                                <small v-if="errorsList.last_name" class="text-danger">{{ errorsList.last_name[0] }}</small>
                            </div>
                        </div>
                    </div>




                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="col-xs-12 col-sm-4 control-label" for="phone">Phone<span class="required"> * </span></label>
                            <div class="col-xs-12 col-sm-8">
                                <input type="text" id="phone" v-model="newUser.phone" v-bind:class="{'form-control':true, 'text-danger': errorsList.phone}">
                                <small v-if="errorsList.phone" class="text-danger">{{ errorsList.phone[0] }}</small>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="col-xs-12 col-sm-4 control-label" for="website">Website<span class="required"> * </span></label>
                            <div class="col-xs-12 col-sm-8">
                                <input type="text" id="website" v-model="newUser.website" v-bind:class="{'form-control':true, 'text-danger': errorsList.website}">
                                <small v-if="errorsList.website" class="text-danger">{{ errorsList.website[0] }}</small>
                            </div>
                        </div>
                    </div>


                    
                    <div class="row pull-right">
                        <editor-buttons submit_label="Update" cancel_label="Cancel" cancel_link="dashboard" :is_page_updating="is_page_updating"></editor-buttons>
                    </div>

                </form>
            </section>
        </div>
    </section>



        <!--<h1 class="form__title">Create an Account</h1>-->

        <!--<div class="form__group">-->
            <!--<label>Name</label>-->
            <!--<input type="text" class="form__control" v-model="form.name">-->
            <!--<small class="error__control" v-if="error.name">{{error.name[0]}}</small>-->
        <!--</div>-->
        <!--<div class="form__group">-->
            <!--<label>Email</label>-->
            <!--<input type="text" class="form__control" v-model="form.email">-->
            <!--<small class="error__control" v-if="error.email">{{error.email[0]}}</small>-->
        <!--</div>-->
        <!--<div class="form__group">-->
            <!--<label>Password</label>-->
            <!--<input type="password" class="form__control" v-model="form.password">-->
            <!--<small class="error__control" v-if="error.password">{{error.password[0]}}</small>-->
        <!--</div>-->
        <!--<div class="form__group">-->
            <!--<label>Confirm Password</label>-->
            <!--<input type="password" class="form__control" v-model="form.password_confirmation">-->
        <!--</div>-->
        <!--<div class="form__group">-->
            <!--<button :disabled="isProcessing" class="btn btn__primary">Register</button>-->
        <!--</div>-->


    <!--</form>-->
</template>
<script >
    import Flash from '../../helpers/flash'
    import { post } from '../../helpers/api'
    import {bus} from '../../app';
    import appMixin from '../../appMixin';
//    Vue.component( 'editor-header',  require( '../../components/lib/EditorHeader.vue') );
//    Vue.component( 'editor-buttons',  require( '../../components/lib/EditorButtons.vue') );

    export default {

        created() {
//             alert( " /_wwwroot/lar/tasks/resources/assets/js/components/Auth/Register.vue  created::"+(1) )
        },
        mounted() {
//             alert( " /_wwwroot/lar/tasks/resources/assets/js/components/Auth/Register.vue  mounted::"+(123) )
        },
        data() {
            return {

                header_title : 'Create an Account',
                is_page_loaded:false,
                is_page_updating:false,
                newUser: {
                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: ''
                },
                error: {},
                message : '',
                isProcessing: false
            }
        },
        methods: {
            register() {
                alert( "newUser::"+var_dump(newUser) )
//                this.isProcessing = true
//                this.error = {}
//                post('api/register', this.form)
//                    .then((res) => {
//                        if(res.data.registered) {
//                            Flash.setSuccess('Congratulations! You have now successfully registered.')
//                            this.$router.push('/login')
//                        }
//                        this.isProcessing = false
//                    })
//                    .catch((err) => {
//                        if(err.response.status === 422) {
//                            this.error = err.response.data
//                        }
//                        this.isProcessing = false
//                    })
            }
        }
    }
</script>
